docs/_archive/bot-v5-final.json
{"name":"Perfect-one-bot-v5-FIXED","nodes":[{"parameters":{"httpMethod":"POST","path":"perfect-one-incoming","responseMode":"responseNode","options":{}},"id":"33238b8f-4737-49fe-adaf-4f3bba9976fc","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[192976,38416],"webhookId":"perfect-one-webhook-id"},{"parameters":{"jsCode":"const rawInput = $input.first().json;\n// Handle double-body nesting from Webhook Trigger + GreenAPI\n// rawInput.body.body = GreenAPI via webhook, rawInput.body = direct GreenAPI trigger\nconst body1 = rawInput.body || rawInput;\nconst input = body1.body || body1;\nlet normalized = {};\n\nif (input.senderData) {\n  // WhatsApp GreenAPI source\n  const msgData = input.messageData || {};\n  const textMsg = msgData.textMessageData?.textMessage\n    || msgData.extendedTextMessageData?.text\n    || input.unifiedMessageText\n    || '';\n  normalized = {\n    source_channel: 'whatsapp',\n    provider: 'greenapi',\n    chat_id: input.senderData.chatId,\n    phone: input.senderData.sender.split('@')[0],\n    user_name: input.senderData.senderName || '',\n    user_text: textMsg,\n    external_message_id: input.idMessage || '',\n    event_type: 'user_interaction',\n    is_voice_message: !!(msgData.typeMessage === 'audioMessage'),\n    voice_url: (msgData.downloadUrl) || '',\n  };\n} else if (input.source === 'webapp' || input.source === 'mobile_app') {\n  // Application webhook\n  const phone = input.customer?.phone || '';\n  normalized = {\n    source_channel: input.source,\n    provider: 'webhook',\n    chat_id: phone ? phone + '@c.us' : input.context?.session_id || 'app_' + Date.now(),\n    phone: phone,\n    user_name: input.customer?.name || '',\n    user_text: input.message?.text || '',\n    external_message_id: input.request_id || '',\n    event_type: input.event_type || 'user_interaction',\n    current_goal_code: input.context?.current_goal_code || '',\n    current_goal_step: input.context?.current_goal_step || 1,\n    goal_progress_percent: input.context?.goal_progress_percent || 0,\n    journey_progress_percent: input.context?.journey_progress_percent || 0,\n    completed_goals: input.context?.completed_goals || [],\n    response_channel: input.response_config?.channel || 'webhook_response',\n    business_type: input.customer?.business_type || input.business_type || ''\n  };\n} else if (input.source === 'web_form') {\n  const phone = input.phone || '';\n  normalized = {\n    source_channel: 'web_form',\n    provider: 'webhook',\n    chat_id: phone ? phone + '@c.us' : 'web_' + (input.phone || input.email),\n    phone: phone,\n    user_name: input.name || '',\n    user_text: input.message || 'New lead from web form',\n    external_message_id: input.submission_id || '',\n    event_type: 'user_interaction',\n    business_type: input.business_type || ''\n  };\n} else {\n  // Generic webhook\n  const phone = input.phone || input.phone_number || '';\n  normalized = {\n    source_channel: 'webhook',\n    provider: 'webhook',\n    chat_id: phone ? phone + '@c.us' : input.chat_id || 'generic_' + Date.now(),\n    phone: phone,\n    user_name: input.name || input.customer_name || '',\n    user_text: input.message || input.text || '',\n    external_message_id: input.message_id || '',\n    event_type: input.event_type || 'user_interaction',\n    business_type: input.business_type || input.customer?.business_type || '',\n    current_goal_code: input.current_goal_code || input.context?.current_goal_code || '',\n    current_goal_step: input.current_goal_step || input.context?.current_goal_step || 1\n  };\n}\n\n// === SPAM PROTECTION: Rate limiting ===\nnormalized.is_potential_spam = false;\nnormalized.spam_check_needed = true;\nnormalized.correlation_id = 'run_' + Date.now() + '_' + Math.random().toString(36).substr(2, 9);\nnormalized.timestamp = new Date().toISOString();\n\n// === PHONE NORMALIZATION: ensure E.164 format with + prefix ===\nif (normalized.phone) {\n  let p = String(normalized.phone).trim().replace(/[\\s-]/g, '');\n  if (!p.startsWith('+')) {\n    p = '+' + p;\n  }\n  normalized.phone = p;\n}\n\nreturn [{ json: normalized }];"},"id":"7b66b328-bfe7-4ed7-a572-c91c6b0fc3d1","name":"Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[193216,38320]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO automation_runs (correlation_id, trigger_event, status, started_at)\nVALUES (\n  '{{ $json.correlation_id }}',\n  '{{ $json.source_channel }}',\n  'started',\n  NOW()\n)\nRETURNING id;","options":{}},"id":"196b08cf-c884-495e-8d45-fcfbf3647f7c","name":"Start Audit Run","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[193440,38320],"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"audit_run_id","value":"={{ $json.id }}","type":"string"},{"id":"a2","name":"n_source_channel","value":"={{ $('Normalize Input').item.json.source_channel }}","type":"string"},{"id":"a3","name":"n_provider","value":"={{ $('Normalize Input').item.json.provider }}","type":"string"},{"id":"a4","name":"n_chat_id","value":"={{ $('Normalize Input').item.json.chat_id }}","type":"string"},{"id":"a5","name":"n_phone","value":"={{ $('Normalize Input').item.json.phone }}","type":"string"},{"id":"a6","name":"n_user_name","value":"={{ $('Normalize Input').item.json.user_name }}","type":"string"},{"id":"a7","name":"n_user_text","value":"={{ $('Normalize Input').item.json.user_text }}","type":"string"},{"id":"a8","name":"n_external_message_id","value":"={{ $('Normalize Input').item.json.external_message_id }}","type":"string"},{"id":"a9","name":"n_correlation_id","value":"={{ $('Normalize Input').item.json.correlation_id }}","type":"string"},{"id":"mad_event_type","name":"event_type","value":"={{ $('Normalize Input').item.json.event_type || 'user_interaction' }}","type":"string"},{"id":"mad_goal_code","name":"current_goal_code","value":"={{ $('Normalize Input').item.json.current_goal_code || '' }}","type":"string"},{"id":"mad_goal_step","name":"current_goal_step","value":"={{ $('Normalize Input').item.json.current_goal_step || 1 }}","type":"number"},{"id":"mad_goal_progress","name":"goal_progress_percent","value":"={{ $('Normalize Input').item.json.goal_progress_percent || 0 }}","type":"number"},{"id":"mad_business_type","name":"business_type","value":"={{ $('Normalize Input').item.json.business_type || '' }}","type":"string"}]},"options":{}},"id":"0f12e278-9a7b-4d9c-8aeb-9a9175d082ee","name":"Merge Audit Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[193664,38320]},{"parameters":{"operation":"executeQuery","query":"=WITH upserted AS (\n  INSERT INTO customers (phone_e164, full_name, source_page, current_stage, current_status, last_seen_at)\n  VALUES (\n    '{{ $json.n_phone }}',\n    '{{ ($json.n_user_name || '').replace(/'/g, \"''\") }}',\n    '{{ $json.n_source_channel }}',\n    'lead_router',\n    'new',\n    NOW()\n  )\n  ON CONFLICT (phone_e164) DO UPDATE SET\n    last_seen_at = NOW(),\n    last_message_at = NOW(),\n    message_burst_count = CASE\n      WHEN customers.last_message_at > NOW() - INTERVAL '10 seconds' THEN customers.message_burst_count + 1\n      ELSE 0\n    END,\n    is_rate_limited = CASE\n      WHEN customers.last_message_at > NOW() - INTERVAL '10 seconds' AND customers.message_burst_count >= 5 THEN true\n      ELSE false\n    END,\n    followup_count = 0,\n    full_name = COALESCE(NULLIF(customers.full_name, ''), EXCLUDED.full_name),\n    business_type = CASE\n      WHEN '{{ $json.business_type }}' != '' AND '{{ $json.business_type }}' != 'undefined'\n      THEN '{{ $json.business_type }}'\n      ELSE customers.business_type\n    END,\n    current_stage = CASE\n      WHEN customers.current_stage = 'paused' THEN 'goal_mentor'::journey_stage\n      ELSE customers.current_stage\n    END,\n    source_channel = COALESCE(NULLIF(customers.source_channel, ''), '{{ $json.n_source_channel }}')\n  RETURNING id, phone_e164, full_name, current_stage, current_status, human_required,\n    do_not_contact, source_channel, active_goal_id, onboarding_completed,\n    response_speed, message_length_pref, engagement_level, personality_notes,\n    business_stage, business_type, is_rate_limited, message_burst_count\n),\nreset_goals AS (\n  UPDATE customer_goals SET\n    step_followup_count = 0,\n    last_step_followup_at = NULL,\n    momentum = 'active',\n    updated_at = NOW()\n  WHERE customer_id = (SELECT id FROM upserted)\n    AND goal_id = (SELECT active_goal_id FROM upserted)\n    AND status = 'in_progress'\n    AND step_followup_count > 0\n)\nSELECT * FROM upserted;","options":{}},"id":"0ffda874-de11-4223-80da-340177747422","name":"Upsert Customer","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[193888,38320],"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO conversations (customer_id, provider, chat_id, status, last_message_at)\nVALUES (\n  '{{ $(\"Merge Customer Data\").item.json.customer_id }}',\n  '{{ $(\"Merge Customer Data\").item.json.n_provider }}',\n  '{{ $(\"Merge Customer Data\").item.json.n_chat_id }}',\n  'open',\n  NOW()\n)\nON CONFLICT (customer_id, provider) DO UPDATE SET\n  last_message_at = NOW(),\n  status = 'open',\n  chat_id = EXCLUDED.chat_id\nRETURNING id;","options":{}},"id":"ac4a842e-ab6b-4798-b371-9c35fc18c5f2","name":"Upsert Conversation","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[194320,38320],"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"c1","name":"conversation_id","value":"={{ $json.id }}","type":"string"},{"id":"c2","name":"customer_id","value":"={{ $('Merge Customer Data').item.json.customer_id }}","type":"string"},{"id":"c3","name":"customer_phone","value":"={{ $('Merge Customer Data').item.json.customer_phone }}","type":"string"},{"id":"c4","name":"customer_name","value":"={{ $('Merge Customer Data').item.json.customer_name }}","type":"string"},{"id":"c5","name":"customer_stage","value":"={{ $('Merge Customer Data').item.json.customer_stage }}","type":"string"},{"id":"c6","name":"customer_status","value":"={{ $('Merge Customer Data').item.json.customer_status }}","type":"string"},{"id":"c7","name":"audit_run_id","value":"={{ $('Merge Customer Data').item.json.audit_run_id }}","type":"string"},{"id":"c8","name":"n_source_channel","value":"={{ $('Merge Customer Data').item.json.n_source_channel }}","type":"string"},{"id":"c9","name":"n_chat_id","value":"={{ $('Merge Customer Data').item.json.n_chat_id }}","type":"string"},{"id":"c10","name":"n_user_text","value":"={{ $('Merge Customer Data').item.json.n_user_text }}","type":"string"},{"id":"c11","name":"n_correlation_id","value":"={{ $('Merge Customer Data').item.json.n_correlation_id }}","type":"string"},{"id":"mcvd_event_type","name":"event_type","value":"={{ $('Merge Customer Data').item.json.event_type }}","type":"string"},{"id":"mcvd_goal_code","name":"current_goal_code","value":"={{ $('Merge Customer Data').item.json.current_goal_code }}","type":"string"},{"id":"mcvd_goal_step","name":"current_goal_step","value":"={{ $('Merge Customer Data').item.json.current_goal_step }}","type":"number"},{"id":"mcvd_goal_progress","name":"goal_progress_percent","value":"={{ $('Merge Customer Data').item.json.goal_progress_percent }}","type":"number"}]},"options":{}},"id":"ca1ec724-7165-4e93-8f71-c5ee53ef2235","name":"Merge Conversation Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[194544,38320]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO conversation_messages (conversation_id, direction, message_type, text, external_message_id, correlation_id, sent_at)\nVALUES (\n  '{{ $json.conversation_id }}',\n  'inbound',\n  'text',\n  '{{ $json.n_user_text.replace(/'/g, \"''\") }}',\n  '',\n  '{{ $json.n_correlation_id || '' }}',\n  NOW()\n)\nRETURNING id;","options":{}},"id":"06085fde-7ebf-4a7b-b814-34cf75428922","name":"Insert Inbound Message","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[194768,38320],"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"d1","name":"inbound_message_id","value":"={{ $json.id }}","type":"string"},{"id":"d2","name":"conversation_id","value":"={{ $('Merge Conversation Data').item.json.conversation_id }}","type":"string"},{"id":"d3","name":"customer_id","value":"={{ $('Merge Conversation Data').item.json.customer_id }}","type":"string"},{"id":"d4","name":"customer_phone","value":"={{ $('Merge Conversation Data').item.json.customer_phone }}","type":"string"},{"id":"d5","name":"customer_name","value":"={{ $('Merge Conversation Data').item.json.customer_name }}","type":"string"},{"id":"d6","name":"customer_stage","value":"={{ $('Merge Conversation Data').item.json.customer_stage }}","type":"string"},{"id":"d7","name":"customer_status","value":"={{ $('Merge Conversation Data').item.json.customer_status }}","type":"string"},{"id":"d8","name":"audit_run_id","value":"={{ $('Merge Conversation Data').item.json.audit_run_id }}","type":"string"},{"id":"d9","name":"n_source_channel","value":"={{ $('Merge Conversation Data').item.json.n_source_channel }}","type":"string"},{"id":"d10","name":"n_chat_id","value":"={{ $('Merge Conversation Data').item.json.n_chat_id }}","type":"string"},{"id":"d11","name":"n_user_text","value":"={{ $('Merge Conversation Data').item.json.n_user_text }}","type":"string"},{"id":"d12","name":"n_correlation_id","value":"={{ $('Merge Conversation Data').item.json.n_correlation_id }}","type":"string"},{"id":"mmd_event_type","name":"event_type","value":"={{ $('Merge Conversation Data').item.json.event_type }}","type":"string"},{"id":"mmd_goal_code","name":"current_goal_code","value":"={{ $('Merge Conversation Data').item.json.current_goal_code }}","type":"string"},{"id":"mmd_goal_step","name":"current_goal_step","value":"={{ $('Merge Conversation Data').item.json.current_goal_step }}","type":"number"},{"id":"mmd_goal_progress","name":"goal_progress_percent","value":"={{ $('Merge Conversation Data').item.json.goal_progress_percent }}","type":"number"}]},"options":{}},"id":"1756ecdd-b777-4654-843a-80a9766a529d","name":"Merge Message Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[194976,38320]},{"parameters":{"operation":"executeQuery","query":"=-- Load Context with pass-through fields\nINSERT INTO conversation_summaries (conversation_id, summary, key_facts, message_count)\nVALUES ('{{ $json.conversation_id }}', '', '{}'::jsonb, 0)\nON CONFLICT (conversation_id) DO NOTHING;\n\nSELECT \n  -- Pass through from Merge Message Data\n  '{{ $json.customer_id }}' as customer_id,\n  '{{ $json.conversation_id }}' as conversation_id,\n  '{{ $json.audit_run_id }}' as audit_run_id,\n  '{{ $json.n_correlation_id }}' as correlation_id,\n  '{{ $json.n_chat_id }}' as chat_id,\n  '{{ $json.n_source_channel }}' as source_channel,\n  '{{ ($json.n_user_text || '').replace(/'/g, \"''\") }}' as user_text,\n  '{{ $json.customer_stage }}' as current_stage,\n  '{{ $json.customer_status }}' as current_status,\n  '{{ ($json.customer_name || '').replace(/'/g, \"''\") }}' as input_customer_name,\n  \n  -- Conversation summary\n  cs.summary,\n  cs.key_facts,\n  cs.message_count,\n  cs.last_agent_code,\n  COALESCE(cs.memory_facts, '{}'::jsonb) as memory_facts,\n  COALESCE(cs.completed_tasks, '[]'::jsonb) as completed_tasks,\n  COALESCE(cs.user_strengths, '[]'::jsonb) as user_strengths,\n  COALESCE(cs.user_struggles, '[]'::jsonb) as user_struggles,\n  cs.last_question,\n  cs.last_action,\n  \n  -- Goal context\n  cg.id as customer_goal_id,\n  g.goal_code as current_goal_code,\n  g.goal_name_he as current_goal_name,\n  cg.status as goal_status,\n  cg.progress_percent as goal_progress_percent,\n  cg.current_step as current_goal_step,\n  cg.interaction_count as goal_interaction_count,\n  COALESCE(cg.goal_state, 'discover') as goal_state,\n  COALESCE(cg.phase_name, '׳”׳›׳¨׳•׳×') as phase_name,\n  \n  -- Customer profile from DB\n  cu.full_name as customer_name,\n  cu.business_type,\n  cu.business_stage,\n  cu.category,\n  cu.response_speed,\n  cu.message_length_pref,\n  cu.engagement_level,\n  cu.preferred_time,\n  cu.personality_notes,\n  \n  -- Recent conversation history (last 15 messages)\n  COALESCE(\n    (SELECT json_agg(msg ORDER BY msg.sent_at ASC)\n     FROM (\n       SELECT direction, text, sent_at, agent_code\n       FROM conversation_messages\n       WHERE conversation_id = '{{ $json.conversation_id }}'::uuid\n       ORDER BY sent_at DESC\n       LIMIT 15\n     ) msg\n    )::text, '[]'\n  ) as recent_messages,\n  \n  -- Flags\n  CASE WHEN cg.id IS NOT NULL THEN true ELSE false END as has_active_goal\n\nFROM conversation_summaries cs\nLEFT JOIN customers cu ON cu.id = '{{ $json.customer_id }}'::uuid\nLEFT JOIN customer_goals cg ON cg.customer_id = cu.id AND cg.status = 'in_progress'\nLEFT JOIN goals g ON g.id = cg.goal_id\nWHERE cs.conversation_id = '{{ $json.conversation_id }}'::uuid;","options":{}},"id":"672f4f47-01b9-4424-a855-9513f58313a2","name":"Load Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[195200,38320],"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"parameters":{"jsCode":"// Get data from nodes in execution path ONLY\nconst loadCtx = $('Load Context').first().json;\nconst autoGoal = $('Auto Create Goal').first().json;\n\n// Parse key_facts if it's a string\nlet keyFacts = loadCtx.key_facts || {};\nif (typeof keyFacts === 'string') {\n  try { keyFacts = JSON.parse(keyFacts); } catch(e) { keyFacts = {}; }\n}\n\n// Parse memory_facts if it's a string\nlet memoryFacts = loadCtx.memory_facts || {};\nif (typeof memoryFacts === 'string') {\n  try { memoryFacts = JSON.parse(memoryFacts); } catch(e) { memoryFacts = {}; }\n}\n\n// Parse completed_tasks, user_strengths, user_struggles\nlet completedTasks = loadCtx.completed_tasks || [];\nif (typeof completedTasks === 'string') {\n  try { completedTasks = JSON.parse(completedTasks); } catch(e) { completedTasks = []; }\n}\nlet userStrengths = loadCtx.user_strengths || [];\nif (typeof userStrengths === 'string') {\n  try { userStrengths = JSON.parse(userStrengths); } catch(e) { userStrengths = []; }\n}\nlet userStruggles = loadCtx.user_struggles || [];\nif (typeof userStruggles === 'string') {\n  try { userStruggles = JSON.parse(userStruggles); } catch(e) { userStruggles = []; }\n}\n\n// Parse recent messages\nlet recentMessages = [];\ntry {\n  let raw = loadCtx.recent_messages || '[]';\n  if (typeof raw === 'string') { recentMessages = JSON.parse(raw); }\n  else if (Array.isArray(raw)) { recentMessages = raw; }\n} catch(e) { recentMessages = []; }\n\n// Build conversation history text\nlet conversationHistory = '';\nif (recentMessages.length > 0) {\n  conversationHistory = recentMessages.map(m => {\n    const role = m.direction === 'inbound' ? '\\u05de\\u05e9\\u05ea\\u05de\\u05e9' : '\\u05de\\u05e0\\u05d8\\u05d5\\u05e8';\n    return `${role}: ${m.text || ''}`;\n  }).join('\\n');\n}\n\n// Build business profile from key_facts + memory_facts + customer fields\nconst businessProfile = {\n  business_type: loadCtx.business_type || memoryFacts.business_type || keyFacts.business_type || keyFacts.business_category || '',\n  business_stage: loadCtx.business_stage || '',\n  target_audience: memoryFacts.target_audience || keyFacts.target_audience || '',\n  solution: memoryFacts.solution || keyFacts.solution || keyFacts.business_idea || '',\n  experience: memoryFacts.experience || keyFacts.experience || '',\n  marketing_strategy: memoryFacts.marketing_strategy || keyFacts.marketing_strategy || keyFacts.marketing_focus || '',\n  location: memoryFacts.location || keyFacts.location || '',\n  service_description: memoryFacts.service_description || keyFacts.service_description || keyFacts.service_offered || '',\n  business_goal: memoryFacts.business_goal || keyFacts.business_goal || '',\n  partnership_ideas: memoryFacts.partnership_ideas || keyFacts.partnership_ideas || '',\n  ideal_client: memoryFacts.ideal_client || keyFacts.ideal_client || '',\n};\n\n// Remove empty values\nObject.keys(businessProfile).forEach(k => {\n  if (!businessProfile[k]) delete businessProfile[k];\n});\n\n// Get goal info - Auto Create Goal has authoritative data\nconst customerGoalId = autoGoal.customer_goal_id || loadCtx.customer_goal_id || null;\nconst currentStep = parseInt(autoGoal.current_step || loadCtx.current_goal_step, 10) || 1;\nconst currentGoalCode = autoGoal.current_goal_code || loadCtx.current_goal_code || '';\nconst currentGoalName = autoGoal.current_goal_name || loadCtx.current_goal_name || '';\nconst goalInteractionCount = parseInt(loadCtx.goal_interaction_count, 10) || 0;\n\n// === DETECT NEW GOAL & FIRST INTERACTION ===\n// is_new_goal: true if this goal has 0 interactions (first time user talks on this goal)\nconst isNewGoal = goalInteractionCount === 0;\n// is_first_interaction: true if this is the user's very first message ever (no messages at all)\nconst isFirstInteraction = (parseInt(loadCtx.message_count, 10) || 0) <= 1;\n\n// Build business_profile_text for AI\nlet bpText = '';\nif (Object.keys(businessProfile).length > 0) {\n  const labels = {\n    business_type: '\\u05e1\\u05d5\\u05d2 \\u05e2\\u05e1\\u05e7',\n    business_stage: '\\u05e9\\u05dc\\u05d1 \\u05d4\\u05e2\\u05e1\\u05e7',\n    target_audience: '\\u05e7\\u05d4\\u05dc \\u05d9\\u05e2\\u05d3',\n    solution: '\\u05de\\u05d4 \\u05d0\\u05e0\\u05d9 \\u05de\\u05e6\\u05d9\\u05e2',\n    experience: '\\u05e0\\u05d9\\u05e1\\u05d9\\u05d5\\u05df',\n    marketing_strategy: '\\u05d0\\u05e1\\u05d8\\u05e8\\u05d8\\u05d2\\u05d9\\u05d4 \\u05e9\\u05d9\\u05d5\\u05d5\\u05e7\\u05d9\\u05ea',\n    location: '\\u05de\\u05d9\\u05e7\\u05d5\\u05dd',\n    service_description: '\\u05ea\\u05d9\\u05d0\\u05d5\\u05e8 \\u05d4\\u05e9\\u05d9\\u05e8\\u05d5\\u05ea',\n    business_goal: '\\u05de\\u05d8\\u05e8\\u05d4 \\u05e2\\u05e1\\u05e7\\u05d9\\u05ea',\n    partnership_ideas: '\\u05e8\\u05e2\\u05d9\\u05d5\\u05e0\\u05d5\\u05ea \\u05dc\\u05e9\\u05d9\\u05ea\\u05d5\\u05e3 \\u05e4\\u05e2\\u05d5\\u05dc\\u05d4',\n    ideal_client: '\\u05dc\\u05e7\\u05d5\\u05d7 \\u05d0\\u05d9\\u05d3\\u05d9\\u05d0\\u05dc\\u05d9'\n  };\n  bpText = Object.entries(businessProfile).map(([k, v]) => `${labels[k] || k}: ${v}`).join('\\n');\n}\n\nreturn [{\n  json: {\n    customer_id: loadCtx.customer_id,\n    conversation_id: loadCtx.conversation_id,\n    audit_run_id: loadCtx.audit_run_id,\n    correlation_id: loadCtx.correlation_id,\n    chat_id: loadCtx.chat_id,\n    source_channel: loadCtx.source_channel,\n    user_text: loadCtx.user_text,\n    customer_name: loadCtx.customer_name || loadCtx.input_customer_name || '',\n    current_stage: loadCtx.current_stage,\n    current_status: loadCtx.current_status,\n    summary: loadCtx.summary || '',\n    key_facts: keyFacts,\n    memory_facts: memoryFacts,\n    message_count: loadCtx.message_count || 0,\n    has_active_goal: loadCtx.has_active_goal || false,\n    customer_goal_id: customerGoalId,\n    current_goal_code: currentGoalCode,\n    current_goal_name: currentGoalName,\n    current_goal_step: currentStep,\n    goal_status: loadCtx.goal_status || '',\n    goal_progress_percent: loadCtx.goal_progress_percent || 0,\n    goal_interaction_count: goalInteractionCount,\n    goal_state: loadCtx.goal_state || 'discover',\n    phase_name: loadCtx.phase_name || '\\u05d2\\u05d9\\u05dc\\u05d5\\u05d9',\n    agent_code: loadCtx.last_agent_code || 'goal_mentor',\n    business_profile: businessProfile,\n    business_profile_text: bpText,\n    response_speed: loadCtx.response_speed || '',\n    message_length_pref: loadCtx.message_length_pref || '',\n    engagement_level: loadCtx.engagement_level || '',\n    personality_notes: loadCtx.personality_notes || '',\n    // NEW: is_new_goal & is_first_interaction\n    is_new_goal: isNewGoal,\n    is_first_interaction: isFirstInteraction,\n    // Memory fields\n    completed_tasks: completedTasks,\n    user_strengths: userStrengths,\n    user_struggles: userStruggles,\n    last_question: loadCtx.last_question || '',\n    conversation_history: conversationHistory\n  }\n}];"},"id":"510ee7d1-c895-49d7-816b-9608fde4b5e3","name":"Prepare AI Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[195424,38320]},{"parameters":{"jsCode":"const ctx = $('Prepare AI Context').first().json;\n\n// Get raw response from smartMentorEngine\nconst apiResponse = $input.first().json;\n\n// Support both new smartMentorEngine format AND legacy OpenAI format\nlet replyText = '';\nlet conversationState = {};\nlet memoryUpdates = [];\nlet followUp = {};\n\nif (apiResponse.success !== undefined) {\n  // NEW FORMAT: smartMentorEngine\n  replyText = apiResponse.response || '';\n  conversationState = apiResponse.conversation_state\n    ? (typeof apiResponse.conversation_state === 'string'\n        ? { phase_name: apiResponse.conversation_state }\n        : apiResponse.conversation_state)\n    : {};\n  memoryUpdates = Array.isArray(apiResponse.memory_updates) ? apiResponse.memory_updates : [];\n  followUp = apiResponse.follow_up || {};\n} else {\n  // LEGACY FORMAT: OpenAI direct response\n  const rawOutput = apiResponse.choices?.[0]?.message?.content || '';\n  let p;\n  try {\n    let cleaned = rawOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    p = JSON.parse(cleaned);\n  } catch(e) {\n    p = { message_to_user: rawOutput };\n  }\n  replyText = p.message_to_user || p.reply || rawOutput;\n  conversationState = p.state_update || {};\n  const memStore = p.memory_to_store || {};\n  memoryUpdates = Object.entries(memStore).map(([k, v]) => ({ field: k, value: v }));\n  followUp = {};\n}\n\n// Build a unified facts object from memory_updates\nconst facts = {};\nmemoryUpdates.forEach(item => {\n  if (item && item.field && item.value !== undefined) {\n    facts[item.field] = item.value;\n  }\n});\n\n// Routing & stage from conversation_state\nconst stateUpdate = conversationState;\nconst routing = stateUpdate.routing || {};\n\n// Extract business_type\nconst businessTypeFromAI = facts.business_type || facts.business_category || '';\n\n// STEP ADVANCEMENT LOGIC\nconst currentStep = parseInt(ctx.current_goal_step, 10) || 1;\nconst totalSteps = parseInt(ctx.total_steps || 7, 10);\n\nconst advanceStep = stateUpdate.advance_step === true || routing.advance_step === true;\nconst aiStepNumber = stateUpdate.step_number;\n\nlet goalStep;\nif (advanceStep) {\n  goalStep = currentStep + 1;\n} else if (aiStepNumber !== undefined && !isNaN(parseInt(aiStepNumber, 10))) {\n  goalStep = parseInt(aiStepNumber, 10);\n} else {\n  goalStep = currentStep;\n}\nif (goalStep > totalSteps) goalStep = totalSteps;\n\nconst progress = Math.round((goalStep / totalSteps) * 100);\n\nconst isComplete = routing.complete_goal === true ||\n  stateUpdate.complete_goal === true ||\n  (goalStep >= totalSteps && advanceStep) ||\n  progress >= 100;\n\n// Summary & memory fields\nconst summaryUpdate = facts.summary_update || stateUpdate.summary_update || '';\nconst lastQuestion = facts.last_question || stateUpdate.last_question || '';\n\nfunction ensureArray(val) {\n  if (Array.isArray(val)) return val;\n  if (val == null) return [];\n  if (typeof val === 'string') {\n    try { const parsed = JSON.parse(val); return Array.isArray(parsed) ? parsed : []; } catch(e) { return []; }\n  }\n  return [];\n}\n\nconst existingTasks = ensureArray(ctx.completed_tasks);\nconst newTasks = ensureArray(facts.completed_tasks || stateUpdate.completed_tasks);\nconst allTasks = [...new Set([...existingTasks, ...newTasks])];\n\nconst existingStrengths = ensureArray(ctx.user_strengths);\nconst newStrengths = ensureArray(facts.user_strengths || stateUpdate.user_strengths);\nconst allStrengths = [...new Set([...existingStrengths, ...newStrengths])];\n\nconst existingStruggles = ensureArray(ctx.user_struggles);\nconst newStruggles = ensureArray(facts.user_struggles || stateUpdate.user_struggles);\nconst allStruggles = [...new Set([...existingStruggles, ...newStruggles])];\n\nlet memFactsUpdate = '{}';\nif (Object.keys(facts).length > 0) {\n  memFactsUpdate = JSON.stringify(facts);\n}\n\n// next_stage: from routing or conversation_state or fallback\nconst nextStage = routing.next_stage || stateUpdate.next_stage || (ctx.has_active_goal ? 'goal_mentor' : ctx.current_stage) || 'goal_mentor';\nconst stageChanged = (nextStage && nextStage !== ctx.current_stage) ? true : false;\n\nreturn [{\n  json: {\n    // IDs\n    customer_id: ctx.customer_id,\n    conversation_id: ctx.conversation_id,\n    audit_run_id: ctx.audit_run_id,\n    correlation_id: ctx.correlation_id,\n    chat_id: ctx.chat_id || '',\n    source_channel: ctx.source_channel || 'whatsapp',\n\n    // Agent\n    agent_code: ctx.agent_code || 'goal_mentor',\n\n    // Message\n    reply: replyText,\n    intent: stateUpdate.intent || facts.intent || 'ask',\n    user_text: ctx.user_text || '',\n    customer_name: ctx.customer_name || '',\n\n    // Routing\n    current_stage: (ctx.has_active_goal ? 'goal_mentor' : ctx.current_stage) || 'goal_mentor',\n    next_stage: nextStage,\n    new_status: ctx.current_status || '',\n    stage_changed: stageChanged,\n    requires_human: routing.requires_human || stateUpdate.requires_human || false,\n    customer_name_update: facts.customer_name || '',\n    business_type_update: businessTypeFromAI,\n\n    // Goal\n    customer_goal_id: ctx.customer_goal_id || '',\n    current_goal_code: ctx.current_goal_code || '',\n    goal_current_step: goalStep,\n    goal_progress_percent: progress,\n    goal_state: stateUpdate.phase_name ? 'active' : (ctx.goal_state || 'discover'),\n    complete_goal: isComplete,\n    advance_step: advanceStep,\n\n    // Task tracking\n    active_task_title: stateUpdate.active_task_title || facts.active_task_title || '',\n    active_task_status: stateUpdate.active_task_status || facts.active_task_status || '',\n\n    // Summary\n    summary_addition: summaryUpdate || '',\n    key_facts_update: Object.keys(facts).length > 0 ? JSON.stringify(facts) : '{}',\n    memory_facts_update: memFactsUpdate,\n\n    // Full memory fields\n    completed_tasks_update: JSON.stringify(allTasks),\n    user_strengths_update: JSON.stringify(allStrengths),\n    user_struggles_update: JSON.stringify(allStruggles),\n    last_question_update: lastQuestion,\n\n    // Follow-up (new field from smartMentorEngine)\n    follow_up_should_schedule: followUp.should_schedule || false,\n    follow_up_delay_hours: followUp.delay_hours || 24,\n    follow_up_message_hint: followUp.message_hint || '',\n\n    // Context pass-through\n    total_steps: totalSteps\n  }\n}];"},"id":"f6a27a35-97df-4a7e-b6b9-13a7d4b4b7d3","name":"Parse AI Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[196176,38720]},{"parameters":{"operation":"executeQuery","query":"=DO $$\nDECLARE\n  v_stage text := '{{ $json.next_stage }}';\n  v_status text := '{{ $json.new_status }}';\n  v_name text := '{{ ($json.customer_name_update || '').replace(/'/g, \"''\") }}';\n  v_human boolean := {{ $json.requires_human || false }};\n  v_goal_code text := '{{ $json.current_goal_code || '' }}';\n  v_customer_id uuid := '{{ $json.customer_id }}'::uuid;\n  v_business_type text := '{{ ($json.business_type_update || '').replace(/'/g, \"''\") }}';\nBEGIN\n  BEGIN\n    IF v_stage IS NOT NULL AND v_stage != '' AND v_stage != 'current' THEN\n      UPDATE customers SET\n        current_stage = v_stage::journey_stage,\n        current_status = CASE WHEN v_status != '' AND v_status != 'error' THEN v_status ELSE current_status END,\n        full_name = COALESCE(NULLIF(v_name, ''), full_name),\n        human_required = v_human,\n        business_type = CASE\n          WHEN v_business_type != '' THEN v_business_type\n          ELSE business_type\n        END,\n        active_goal_id = CASE \n          WHEN v_goal_code != '' THEN \n            (SELECT id FROM goals WHERE goal_code = v_goal_code LIMIT 1)\n          ELSE active_goal_id \n        END,\n        updated_at = NOW()\n      WHERE id = v_customer_id;\n    ELSE\n      UPDATE customers SET\n        current_status = CASE WHEN v_status != '' AND v_status != 'error' THEN v_status ELSE current_status END,\n        full_name = COALESCE(NULLIF(v_name, ''), full_name),\n        human_required = v_human,\n        business_type = CASE\n          WHEN v_business_type != '' THEN v_business_type\n          ELSE business_type\n        END,\n        updated_at = NOW()\n      WHERE id = v_customer_id;\n    END IF;\n  EXCEPTION WHEN invalid_text_representation THEN\n    UPDATE customers SET\n      current_status = CASE WHEN v_status != '' AND v_status != 'error' THEN v_status ELSE current_status END,\n      full_name = COALESCE(NULLIF(v_name, ''), full_name),\n      human_required = v_human,\n      business_type = CASE\n        WHEN v_business_type != '' THEN v_business_type\n        ELSE business_type\n      END,\n      updated_at = NOW()\n    WHERE id = v_customer_id;\n    RAISE NOTICE 'Stage \"%\" not in enum, skipped', v_stage;\n  END;\nEXCEPTION WHEN OTHERS THEN\n  RAISE NOTICE 'Update customer error: %', SQLERRM;\nEND $$;","options":{}},"id":"bb6969e0-22f7-4d14-956b-352c0b9c88fb","name":"Update Customer","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[196400,38720],"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"e1","name":"customer_id","value":"={{ $('Parse AI Response').item.json.customer_id }}","type":"string"},{"id":"e2","name":"conversation_id","value":"={{ $('Parse AI Response').item.json.conversation_id }}","type":"string"},{"id":"e3","name":"audit_run_id","value":"={{ $('Parse AI Response').item.json.audit_run_id }}","type":"string"},{"id":"e4","name":"correlation_id","value":"={{ $('Parse AI Response').item.json.correlation_id }}","type":"string"},{"id":"e5","name":"chat_id","value":"={{ $('Parse AI Response').item.json.chat_id || $('Prepare AI Context').item.json.chat_id }}","type":"string"},{"id":"e6","name":"source_channel","value":"={{ $('Parse AI Response').item.json.source_channel }}","type":"string"},{"id":"e7","name":"reply","value":"={{ $('Parse AI Response').item.json.reply }}","type":"string"},{"id":"e8","name":"next_stage","value":"={{ $('Parse AI Response').item.json.next_stage }}","type":"string"},{"id":"e9","name":"new_status","value":"={{ $('Parse AI Response').item.json.new_status }}","type":"string"},{"id":"e10","name":"current_status","value":"={{ $('Parse AI Response').item.json.current_status }}","type":"string"},{"id":"e11","name":"stage_changed","value":"={{ $('Parse AI Response').item.json.stage_changed }}","type":"boolean"},{"id":"e12","name":"routing_reason","value":"={{ $('Parse AI Response').item.json.routing_reason }}","type":"string"},{"id":"e13","name":"summary_addition","value":"={{ $('Parse AI Response').item.json.summary_addition }}","type":"string"},{"id":"e14","name":"key_facts_update","value":"={{ $('Parse AI Response').item.json.key_facts_update || '{}' }}","type":"string"},{"id":"e15","name":"use_case","value":"={{ $('Parse AI Response').item.json.use_case }}","type":"string"},{"id":"e16","name":"customer_goal_id","value":"={{ $('Prepare AI Context').item.json.customer_goal_id || '' }}","type":"string"},{"id":"e17","name":"current_goal_code","value":"={{ $('Prepare AI Context').item.json.current_goal_code || '' }}","type":"string"},{"id":"e18","name":"goal_status","value":"={{ $('Parse AI Response').item.json.goal_status || $('Prepare AI Context').item.json.goal_status || '' }}","type":"string"},{"id":"e19","name":"goal_progress_percent","value":"={{ $('Parse AI Response').item.json.goal_progress_percent || $('Prepare AI Context').item.json.goal_progress_percent || 0 }}","type":"number"},{"id":"e20","name":"goal_current_step","value":"={{ $('Parse AI Response').item.json.goal_current_step || 1 }}","type":"number"},{"id":"e21","name":"goal_user_blockers","value":"={{ $('Parse AI Response').item.json.goal_user_blockers || '' }}","type":"string"},{"id":"e22","name":"goal_user_frustrations","value":"={{ $('Parse AI Response').item.json.goal_user_frustrations || '' }}","type":"string"},{"id":"e23","name":"complete_goal","value":"={{ $('Parse AI Response').item.json.complete_goal }}","type":"boolean"},{"id":"e24","name":"has_active_goal","value":"={{ $('Prepare AI Context').item.json.has_active_goal }}","type":"boolean"},{"id":"fd_current_stage","name":"current_stage","value":"={{ $('Parse AI Response').item.json.current_stage }}","type":"string"},{"id":"fd_goal_next_action","name":"goal_next_action","value":"={{ $('Parse AI Response').item.json.goal_next_action || '' }}","type":"string"},{"id":"fd_ui_hints","name":"ui_hints","value":"={{ $('Parse AI Response').item.json.ui_hints || '' }}","type":"string"},{"id":"fd_customer_name","name":"customer_name","value":"={{ $('Parse AI Response').item.json.customer_name || '' }}","type":"string"},{"id":"fd_agent_code","name":"agent_code","value":"={{ $('Parse AI Response').item.json.agent_code || 'goal_mentor' }}","type":"string"},{"id":"fd_goal_state","name":"goal_state","value":"={{ $('Parse AI Response').item.json.goal_state || 'discover' }}","type":"string"},{"id":"fd_phase_name","name":"phase_name","value":"={{ $('Parse AI Response').item.json.phase_name || '' }}","type":"string"},{"id":"fd_intent","name":"intent","value":"={{ $('Parse AI Response').item.json.intent || 'ask' }}","type":"string"},{"id":"fd_next_step_type","name":"next_step_type","value":"={{ $('Parse AI Response').item.json.next_step_type || '' }}","type":"string"},{"id":"fd_next_step_title","name":"next_step_title","value":"={{ $('Parse AI Response').item.json.next_step_title || '' }}","type":"string"},{"id":"fd_next_step_effort","name":"next_step_effort","value":"={{ $('Parse AI Response').item.json.next_step_effort || '' }}","type":"string"},{"id":"fd_memory_facts_update","name":"memory_facts_update","value":"={{ $('Parse AI Response').item.json.memory_facts_update || '{}' }}","type":"string"},{"id":"fd_memory_decisions_update","name":"memory_decisions_update","value":"={{ $('Parse AI Response').item.json.memory_decisions_update || '' }}","type":"string"},{"id":"fd_completed_tasks_update","name":"completed_tasks_update","value":"={{ $('Parse AI Response').item.json.completed_tasks_update || '[]' }}","type":"string"},{"id":"fd_user_strengths_update","name":"user_strengths_update","value":"={{ $('Parse AI Response').item.json.user_strengths_update || '[]' }}","type":"string"},{"id":"fd_user_struggles_update","name":"user_struggles_update","value":"={{ $('Parse AI Response').item.json.user_struggles_update || '[]' }}","type":"string"},{"id":"fd_last_question","name":"last_question","value":"={{ $('Parse AI Response').item.json.last_question_update || '' }}","type":"string"},{"id":"fd_last_action","name":"last_action","value":"={{ $('Parse AI Response').item.json.last_action || '' }}","type":"string"},{"id":"fd_target_goal_id","name":"target_goal_id","value":"={{ $('Parse AI Response').item.json.target_goal_id || '' }}","type":"string"},{"id":"fd_business_type_update","name":"business_type_update","value":"={{ $('Parse AI Response').item.json.business_type_update || '' }}","type":"string"},{"id":"fd_customer_name_update","name":"customer_name_update","value":"={{ $('Parse AI Response').item.json.customer_name_update || '' }}","type":"string"},{"id":"fd_active_task_title","name":"active_task_title","value":"={{ $('Parse AI Response').item.json.active_task_title || '' }}","type":"string"},{"id":"fd_active_task_status","name":"active_task_status","value":"={{ $('Parse AI Response').item.json.active_task_status || '' }}","type":"string"},{"name":"summary_update","type":"string","value":"={{ $('Parse AI Response').item.json.summary_update || '' }}"},{"name":"last_question_from_ai","type":"string","value":"={{ $('Parse AI Response').item.json.last_question_from_ai || '' }}"},{"name":"is_first_interaction","type":"boolean","value":"={{ $('Prepare AI Context').item.json.is_first_interaction }}"},{"name":"is_new_goal","type":"boolean","value":"={{ $('Prepare AI Context').item.json.is_new_goal }}"}],"assignments[49]":{"id":"fd_advance_step","name":"advance_step","value":"={{ $('Parse AI Response').item.json.advance_step || false }}","type":"boolean"},"assignments[50]":{"id":"fd_total_steps","name":"total_steps","value":"={{ $('Parse AI Response').item.json.total_steps || 7 }}","type":"number"}},"options":{}},"id":"79e5a823-b5e0-427f-b1c3-98b335f6d000","name":"Forward Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[196624,38720]},{"parameters":{"operation":"executeQuery","query":"=-- Update Summary with full memory\nUPDATE conversation_summaries SET\n  summary = CASE\n    WHEN '{{ $('Forward Data').item.json.summary_addition }}' != '' AND '{{ $('Forward Data').item.json.summary_addition }}' != 'undefined'\n    THEN COALESCE(summary, '') || ' | ' || '{{ ($('Forward Data').item.json.summary_addition || '').replace(/'/g, \"''\") }}'\n    ELSE summary\n  END,\n  key_facts = CASE\n    WHEN '{{ $('Forward Data').item.json.key_facts_update }}' != ''\n      AND '{{ $('Forward Data').item.json.key_facts_update }}' != '{}'\n      AND '{{ $('Forward Data').item.json.key_facts_update }}' != 'undefined'\n    THEN COALESCE(key_facts, '{}'::jsonb) || '{{ $('Forward Data').item.json.key_facts_update }}'::jsonb\n    ELSE key_facts\n  END,\n  message_count = message_count + 2,\n  last_agent_code = '{{ $('Forward Data').item.json.agent_code }}',\n  memory_facts = CASE\n    WHEN '{{ $('Forward Data').item.json.memory_facts_update }}' != ''\n      AND '{{ $('Forward Data').item.json.memory_facts_update }}' != '{}'\n      AND '{{ $('Forward Data').item.json.memory_facts_update }}' != 'undefined'\n    THEN COALESCE(memory_facts, '{}'::jsonb) || '{{ $('Forward Data').item.json.memory_facts_update }}'::jsonb\n    ELSE memory_facts\n  END,\n  completed_tasks = CASE\n    WHEN '{{ $('Forward Data').item.json.completed_tasks_update }}' != ''\n      AND '{{ $('Forward Data').item.json.completed_tasks_update }}' != '[]'\n      AND '{{ $('Forward Data').item.json.completed_tasks_update }}' != 'undefined'\n    THEN '{{ $('Forward Data').item.json.completed_tasks_update }}'::jsonb\n    ELSE completed_tasks\n  END,\n  user_strengths = CASE\n    WHEN '{{ $('Forward Data').item.json.user_strengths_update }}' != ''\n      AND '{{ $('Forward Data').item.json.user_strengths_update }}' != '[]'\n      AND '{{ $('Forward Data').item.json.user_strengths_update }}' != 'undefined'\n    THEN '{{ $('Forward Data').item.json.user_strengths_update }}'::jsonb\n    ELSE user_strengths\n  END,\n  user_struggles = CASE\n    WHEN '{{ $('Forward Data').item.json.user_struggles_update }}' != ''\n      AND '{{ $('Forward Data').item.json.user_struggles_update }}' != '[]'\n      AND '{{ $('Forward Data').item.json.user_struggles_update }}' != 'undefined'\n    THEN '{{ $('Forward Data').item.json.user_struggles_update }}'::jsonb\n    ELSE user_struggles\n  END,\n  last_question = CASE\n    WHEN '{{ $('Forward Data').item.json.last_question }}' != ''\n      AND '{{ $('Forward Data').item.json.last_question }}' != 'undefined'\n    THEN '{{ ($('Forward Data').item.json.last_question || '').replace(/'/g, \"''\") }}'\n    ELSE last_question\n  END,\n  updated_at = NOW()\nWHERE conversation_id = '{{ $('Forward Data').item.json.conversation_id }}'\nRETURNING conversation_id;","options":{}},"id":"b6ac9c1f-d2e2-47c5-b7c1-93ab38950796","name":"Update Summary","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[196848,38720],"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"parameters":{"operation":"executeQuery","query":"=-- Insert outbound message\nINSERT INTO conversation_messages (\n  conversation_id,\n  direction,\n  message_type,\n  text,\n  external_message_id,\n  agent_code,\n  intent,\n  correlation_id,\n  sent_at\n)\nSELECT\n  '{{ $('Forward Data').item.json.conversation_id }}'::uuid,\n  'outbound',\n  'text',\n  '{{ ($('Forward Data').item.json.reply || '').replace(/'/g, \"''\").substring(0, 4000) }}',\n  '{{ $('Forward Data').item.json.correlation_id || '' }}',\n  '{{ $('Forward Data').item.json.agent_code || '' }}',\n  '{{ $('Forward Data').item.json.intent || '' }}',\n  '{{ $('Forward Data').item.json.correlation_id || '' }}',\n  NOW()\nWHERE '{{ $('Forward Data').item.json.conversation_id }}' != ''\n  AND '{{ $('Forward Data').item.json.conversation_id }}' != 'undefined'\n  AND '{{ $('Forward Data').item.json.conversation_id }}' != 'null'\nRETURNING id;","options":{}},"id":"20d2d0e2-b21c-412b-94d4-c6cb665bd41f","name":"Insert Outbound","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[197056,38720],"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"stage-check","leftValue":"={{ $('Forward Data').item.json.stage_changed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"b8d6ae66-4491-41eb-850f-9fd713613831","name":"Stage Changed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[197280,38720]},{"parameters":{"operation":"executeQuery","query":"=DO $$\nBEGIN\n  INSERT INTO journey_events (\n    customer_id,\n    stage,\n    from_status,\n    to_status,\n    reason\n  )\n  VALUES (\n    '{{ $('Forward Data').item.json.customer_id }}'::uuid,\n    '{{ $('Forward Data').item.json.next_stage }}',\n    '{{ $('Forward Data').item.json.current_status || 'unknown' }}',\n    '{{ $('Forward Data').item.json.new_status || 'unknown' }}',\n    '{{ ($('Forward Data').item.json.routing_reason || '').substring(0, 200).replace(/'/g, \"''\") }}'\n  );\n  RAISE NOTICE 'Journey event inserted';\nEXCEPTION WHEN OTHERS THEN\n  RAISE NOTICE 'Journey event insert failed (non-blocking): %', SQLERRM;\nEND $$;","options":{}},"id":"27bbc02e-5c10-4b84-a181-d275027dd68d","name":"Insert Journey Event","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[197504,38608],"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"wa-check-source","leftValue":"={{ $('Forward Data').item.json.source_channel }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals"}},{"id":"wa-check-chatid","leftValue":"={{ $('Forward Data').item.json.chat_id }}","rightValue":"@c.us","operator":{"type":"string","operation":"endsWith"}}],"combinator":"or"},"options":{}},"id":"4caf9675-13cf-4901-a4ff-c48c62cfe839","name":"Is WhatsApp?","type":"n8n-nodes-base.if","typeVersion":2,"position":[197728,38720]},{"parameters":{"message":"={{ $('Forward Data').item.json.reply }}","chatId":"={{ $('Forward Data').item.json.chat_id }}","typingTime":0},"id":"230b0a90-ed43-42e1-b0d3-003b5da7b2fb","name":"Send WhatsApp","type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapi","typeVersion":1,"position":[197936,38608],"credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({\n  success: true,\n  request_id: $('Forward Data').item.json.correlation_id,\n  correlation_id: $('Forward Data').item.json.correlation_id,\n  response: {\n    text: $('Forward Data').item.json.reply,\n    language: 'he'\n  },\n  customer_update: {\n    customer_id: $('Forward Data').item.json.customer_id,\n    current_stage: $('Forward Data').item.json.next_stage,\n    current_status: $('Forward Data').item.json.new_status\n  },\n  goal_update: {\n    goal_code: $('Forward Data').item.json.current_goal_code || null,\n    goal_id: $('Forward Data').item.json.customer_goal_id || null,\n    status: $('Forward Data').item.json.goal_status || null,\n    progress_percent: $('Forward Data').item.json.goal_progress_percent || 0,\n    current_step: $('Forward Data').item.json.goal_current_step || 1,\n    next_action: $('Forward Data').item.json.goal_next_action || '',\n    complete_goal: $('Forward Data').item.json.complete_goal || false\n  },\n  ui_hints: $('Forward Data').item.json.ui_hints || {},\n  memory_stored: {\n    key_facts: $('Forward Data').item.json.key_facts_update || {},\n    summary_addition: $('Forward Data').item.json.summary_addition || ''\n  }\n}) }}","options":{}},"id":"a3a95bbd-f4a4-42ea-aa25-ac290e22f257","name":"Respond Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[197936,38816]},{"parameters":{"operation":"executeQuery","query":"=-- Complete audit run + log to audit_events\nUPDATE automation_runs\nSET status = 'completed',\n    finished_at = NOW(),\n    ended_at = NOW()\nWHERE id = '{{ $('Forward Data').item.json.audit_run_id }}'::uuid;\n\n-- Log the event\nINSERT INTO audit_events (run_id, customer_id, conversation_id, step_name, event_type, payload)\nVALUES (\n  '{{ $('Forward Data').item.json.audit_run_id }}'::uuid,\n  '{{ $('Forward Data').item.json.customer_id }}'::uuid,\n  '{{ $('Forward Data').item.json.conversation_id }}'::uuid,\n  'complete',\n  'message_processed',\n  jsonb_build_object(\n    'agent_code', '{{ $('Forward Data').item.json.agent_code }}',\n    'intent', '{{ $('Forward Data').item.json.intent }}',\n    'stage', '{{ $('Forward Data').item.json.next_stage }}',\n    'goal_step', {{ $('Forward Data').item.json.goal_current_step || 0 }},\n    'goal_progress', {{ $('Forward Data').item.json.goal_progress_percent || 0 }}\n  )\n);","options":{}},"id":"388e7973-6dcb-4e19-916b-dcb2e9ec7bed","name":"Complete Audit","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[198160,38720],"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"parameters":{"webhookType":["incomingMessageReceived"]},"type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapiTrigger","typeVersion":1,"position":[192928,38224],"id":"2400c7e3-4a36-4934-baa7-9969d56817f4","name":"GREENAPI Trigger","webhookId":"d3a2fc50-9dcf-41b6-a401-b0887fe8ce0b","credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}}},{"parameters":{"operation":"executeQuery","query":"=-- Ensure no duplicate is_primary before updating\nWITH cleanup_primary AS (\n  UPDATE customer_goals\n  SET is_primary = false\n  WHERE customer_id = '{{ $('Forward Data').item.json.customer_id }}'::uuid\n    AND is_primary = true\n    AND id != '{{ $('Forward Data').item.json.customer_goal_id }}'::uuid\n)\nUPDATE customer_goals \nSET\n  current_step = {{ $('Forward Data').item.json.goal_current_step || 1 }},\n  progress_percent = LEAST(ROUND(({{ $('Forward Data').item.json.goal_current_step || 1 }}::numeric / NULLIF(total_steps_planned, 0)) * 100), 100),\n  goal_state = '{{ $('Forward Data').item.json.goal_state || 'discover' }}',\n  phase_name = '{{ $('Forward Data').item.json.phase_name || '' }}',\n  active_task_title = '{{ $('Forward Data').item.json.active_task_title || '' }}',\n  active_task_status = '{{ $('Forward Data').item.json.active_task_status || '' }}',\n  momentum = CASE\n    WHEN interaction_count > 5 AND current_step <= 1 THEN 'stuck'\n    WHEN last_interaction_at < NOW() - INTERVAL '3 days' THEN 'cooling'\n    WHEN {{ $('Forward Data').item.json.goal_current_step || 1 }} > current_step THEN 'accelerating'\n    ELSE 'active'\n  END,\n  interaction_count = interaction_count + 1,\n  step_followup_count = CASE\n    WHEN current_step != {{ $('Forward Data').item.json.goal_current_step || 1 }} THEN 0\n    ELSE step_followup_count\n  END,\n  last_step_followup_at = CASE\n    WHEN current_step != {{ $('Forward Data').item.json.goal_current_step || 1 }} THEN NULL\n    ELSE last_step_followup_at\n  END,\n  last_interaction_at = NOW(),\n  status = CASE \n    WHEN '{{ $('Forward Data').item.json.complete_goal }}' = 'true' THEN 'completed'\n    WHEN {{ $('Forward Data').item.json.goal_current_step || 1 }} >= total_steps_planned THEN 'completed'\n    ELSE status\n  END,\n  is_primary = CASE\n    WHEN '{{ $('Forward Data').item.json.complete_goal }}' = 'true' THEN false\n    WHEN {{ $('Forward Data').item.json.goal_current_step || 1 }} >= total_steps_planned THEN false\n    ELSE is_primary\n  END,\n  completed_at = CASE \n    WHEN '{{ $('Forward Data').item.json.complete_goal }}' = 'true' THEN NOW()\n    WHEN {{ $('Forward Data').item.json.goal_current_step || 1 }} >= total_steps_planned AND completed_at IS NULL THEN NOW()\n    ELSE completed_at\n  END,\n  updated_at = NOW()\nWHERE id = '{{ $('Forward Data').item.json.customer_goal_id }}'::uuid\n  AND '{{ $('Forward Data').item.json.customer_goal_id }}' != ''\n  AND '{{ $('Forward Data').item.json.customer_goal_id }}' != 'null'\nRETURNING id, current_step, progress_percent, status, momentum, is_primary;","options":{}},"id":"94d08ade-6c24-4fd0-855b-198af13146ba","name":"Update Goal Progress","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[196624,38720],"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"parameters":{"operation":"executeQuery","query":"=-- Get best matching agent with specialized mentor support\nSELECT * FROM (\n  -- Try 1: Exact agent_code match (for agent continuity)\n  SELECT \n    a.agent_code, a.agent_name_he as agent_name, a.system_prompt,\n    a.model, a.temperature, a.requires_goal_context, a.priority,\n    0 as match_rank\n  FROM ai_agents a\n  WHERE a.is_active = true AND a.agent_code = '{{ $json.current_stage }}'\n  \n  UNION ALL\n  \n  -- Try 2: Stage in trigger_stages\n  SELECT \n    a.agent_code, a.agent_name_he as agent_name, a.system_prompt,\n    a.model, a.temperature, a.requires_goal_context, a.priority,\n    1 as match_rank\n  FROM ai_agents a\n  WHERE a.is_active = true\n    AND '{{ $json.current_stage }}'::text = ANY(a.trigger_stages)\n\n  UNION ALL\n  \n  -- Try 3: Specialized mentor from goal's agent_code\n  SELECT \n    a.agent_code, a.agent_name_he as agent_name, a.system_prompt,\n    a.model, a.temperature, a.requires_goal_context, a.priority,\n    2 as match_rank\n  FROM ai_agents a\n  JOIN goals g ON g.agent_code = a.agent_code\n  WHERE a.is_active = true\n    AND '{{ $json.has_active_goal }}' = 'true'\n    AND g.goal_code = '{{ $json.current_goal_code }}'\n\n  UNION ALL\n  \n  -- Try 4: Generic goal_mentor fallback if active goal\n  SELECT \n    a.agent_code, a.agent_name_he as agent_name, a.system_prompt,\n    a.model, a.temperature, a.requires_goal_context, a.priority,\n    3 as match_rank\n  FROM ai_agents a\n  WHERE a.is_active = true\n    AND a.agent_code = 'goal_mentor'\n    AND '{{ $json.has_active_goal }}' = 'true'\n\n  UNION ALL\n  \n  -- Try 5: ALWAYS include support as fallback\n  SELECT \n    a.agent_code, a.agent_name_he as agent_name, a.system_prompt,\n    a.model, a.temperature, a.requires_goal_context, 999 as priority,\n    4 as match_rank\n  FROM ai_agents a\n  WHERE a.agent_code = 'support' AND a.is_active = true\n) combined\nORDER BY match_rank, priority\nLIMIT 1;","options":{"queryReplacement":""}},"id":"3eaec082-c69f-449d-b081-6fc605807c81","name":"Load Agent Config","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[195440,38608],"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"parameters":{"method":"POST","url":"https://fnsnnezhikgqajdbtwoa.supabase.co/functions/v1/smartMentorEngine","authentication":"none","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZuc25uZXpoaWtncWFqZGJ0d29hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzY3NjcxNTEsImV4cCI6MjA1MjM0MzE1MX0.sHO_kMKCZiJdGDU3dxMHePvJcnZo9eNpJxhJzNSzB7Q"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"customer_id\": \"{{ $json.customer_id }}\", \"message\": \"{{ $json.user_text }}\", \"channel\": \"whatsapp\", \"goal_id\": \"{{ $json.customer_goal_id || \"\" }}\"}","options":{},"bodyParametersJson":"={\n  \"model\": \"{{ $json.model || 'gpt-4o' }}\",\n  \"temperature\": {{ $json.temperature || 0.7 }},\n  \"max_tokens\": 1500,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"{{ $json.system_prompt }}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ \n(($json.is_new_goal || $json.is_first_interaction) && $json.mentor_intro_message ? 'ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•? MENTOR INTRO ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?\\nג? ן¸? THIS IS THE FIRST MESSAGE FOR THIS GOAL! Use this personalized intro as your opening message:\\n' + $json.mentor_intro_message + '\\n\\n' : '') +\n\n'ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•? GOAL INFO ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?\\n' +\n'Goal ID: ' + ($json.customer_goal_id || 'NONE') + '\\n' +\n'Goal: ' + ($json.current_goal_name || '') + '\\n' +\n'Agent: ' + ($json.goal_agent_code || 'goal_mentor') + '\\n\\n' +\n\n'ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•? STEP ' + ($json.current_goal_step || 1) + ' of ' + ($json.total_steps || 7) + ' ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?\\n' +\n'Step Title: ' + ($json.step_title_he || '') + '\\n' +\n'Step Type: ' + ($json.step_type || 'ask') + '\\n' +\n'ג? ן¸? Is Final Step: ' + ($json.is_final_step === true || $json.is_final_step === 'true' ? 'YES - COMPLETE THE GOAL!' : 'no') + '\\n\\n' +\n\n'נ??¯ INSTRUCTIONS:\\n' +\n($json.step_instructions_he || '׳”׳?׳©׳? ׳?׳?׳•׳•׳× ׳?׳× ׳”׳?׳§׳•׳—') + '\\n\\n' +\n\n'ג?… SUCCESS CRITERIA:\\n' +\n($json.step_success_criteria || 'no criteria defined') + '\\n' +\n'Definition of Done: ' + ($json.step_definition_of_done || 'no definition') + '\\n\\n' +\n\n($json.step_task_description ? 'נ?“? TASK:\\n' + $json.step_task_description + '\\n' + 'Expected Output: ' + ($json.step_expected_output || '') + '\\n\\n' : '') +\n\n($json.step_followup_question ? 'ג?“ FOLLOWUP QUESTION:\\n' + $json.step_followup_question + '\\n\\n' : '') +\n\n($json.step_guiding_questions && $json.step_guiding_questions !== '[]' ? 'נ?’¡ GUIDING QUESTIONS:\\n' + $json.step_guiding_questions + '\\n\\n' : '') +\n\n($json.step_examples && $json.step_examples !== '[]' ? 'נ?“? EXAMPLES:\\n' + $json.step_examples + '\\n\\n' : '') +\n\n($json.step_business_type_hints && $json.step_business_type_hints !== '{}' ? 'נ??¢ BUSINESS TYPE HINTS:\\n' + $json.step_business_type_hints + '\\n\\n' : '') +\n\n'ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•? BUSINESS PROFILE ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?\\n' +\n($json.business_profile_text || '׳?׳? ׳ ׳?׳¡׳£ ׳¢׳“׳™׳™׳? - ׳©׳?׳? ׳?׳× ׳”׳?׳§׳•׳— ׳¢׳? ׳¡׳•׳’ ׳”׳¢׳¡׳§ ׳©׳?׳•') + '\\n\\n' +\n\n'ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•? MEMORY ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?\\n' +\n'Facts: ' + JSON.stringify($json.key_facts || {}) + '\\n' +\n'Summary: ' + ($json.summary || '׳”׳×׳—׳?׳× ׳©׳™׳—׳”') + '\\n' +\n'Completed Tasks: ' + JSON.stringify($json.completed_tasks || []) + '\\n' +\n'Strengths: ' + JSON.stringify($json.user_strengths || []) + '\\n' +\n'Struggles: ' + JSON.stringify($json.user_struggles || []) + '\\n' +\n'Last Question Asked: ' + ($json.last_question || 'none') + '\\n\\n' +\n\n'ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•? CONVERSATION HISTORY (last messages) ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?\\n' +\n($json.conversation_history || '׳?׳™׳? ׳”׳™׳¡׳˜׳•׳¨׳™׳” ׳§׳•׳“׳?׳×') + '\\n\\n' +\n\n'ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•? STEP ADVANCEMENT RULES ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?\\n' +\n'CRITICAL: Read SUCCESS CRITERIA above carefully.\\n' +\n'1. If the user\\'s response MEETS the success criteria ג†’ use intent: summarize and set state_update.step_number to ' + (($json.current_goal_step || 1) + 1) + '\\n' +\n'2. If NOT met ג†’ use intent: ask or teach. Keep state_update.step_number at ' + ($json.current_goal_step || 1) + '\\n' +\n'3. NEVER skip steps. NEVER go back. Only advance by 1.\\n' +\n'4. If is_final_step=YES and criteria met ג†’ set routing.complete_goal: true\\n\\n' +\n\n'ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•? USER MESSAGE ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?ג•?\\n' +\n($json.user_text || '[׳?׳™׳? ׳”׳•׳“׳¢׳”]')\n      }}\"\n    }\n  ]\n}"},"id":"cc8c3c7c-7404-42d2-91b0-a2733df51fd0","name":"Dynamic AI Agent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[195904,38608],"credentials":{}},{"parameters":{"operation":"executeQuery","query":"=-- Load CURRENT step AND NEXT step with all mentoring fields\nWITH current_step AS (\n  SELECT \n    gs.step_number,\n    gs.title_he as step_title_he,\n    gs.title_en as step_title_en,\n    gs.mentor_prompt_he as step_instructions_he,\n    gs.mentor_prompt_en as step_instructions_en,\n    gs.step_type,\n    gs.success_criteria as step_success_criteria,\n    gs.definition_of_done as step_definition_of_done,\n    gs.task_description as step_task_description,\n    gs.expected_output as step_expected_output,\n    gs.followup_question as step_followup_question,\n    gs.guiding_questions as step_guiding_questions,\n    gs.examples as step_examples,\n    gs.business_type_hints as step_business_type_hints,\n    gs.is_final_step,\n    g.mentor_intro_message,\n    g.agent_code as goal_agent_code,\n    (SELECT COUNT(*) FROM goal_steps WHERE goal_id = g.id) as total_steps\n  FROM goal_steps gs\n  JOIN goals g ON g.id = gs.goal_id\n  WHERE g.goal_code = '{{ $('Prepare AI Context').item.json.current_goal_code }}'\n    AND gs.step_number = {{ $('Prepare AI Context').item.json.current_goal_step || 1 }}\n),\nnext_step AS (\n  SELECT \n    gs.step_number as next_step_number,\n    gs.title_he as next_step_title_he,\n    gs.mentor_prompt_he as next_step_instructions_he,\n    gs.step_type as next_step_type,\n    gs.is_final_step as next_is_final\n  FROM goal_steps gs\n  JOIN goals g ON g.id = gs.goal_id\n  WHERE g.goal_code = '{{ $('Prepare AI Context').item.json.current_goal_code }}'\n    AND gs.step_number = {{ ($('Prepare AI Context').item.json.current_goal_step || 1) + 1 }}\n)\nSELECT \n  cs.*,\n  ns.next_step_number,\n  ns.next_step_title_he,\n  ns.next_step_instructions_he,\n  ns.next_step_type,\n  ns.next_is_final\nFROM current_step cs\nLEFT JOIN next_step ns ON true;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[195552,38768],"id":"b06aa3ae-70b4-48f6-9606-6e6c68b1aa7e","name":"Load Goal Steps","credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"parameters":{"operation":"executeQuery","query":"=-- Auto-create goal: use webhook goal_code if provided, otherwise default\nWITH input_goal_code AS (\n  SELECT COALESCE(NULLIF('{{ $json.current_goal_code }}', ''), 'idea_development') as goal_code\n),\ntarget_goal AS (\n  SELECT id, goal_code, goal_name_he FROM goals WHERE goal_code = (SELECT goal_code FROM input_goal_code) LIMIT 1\n),\nfallback_goal AS (\n  SELECT id, goal_code, goal_name_he FROM goals WHERE goal_code = 'idea_development' LIMIT 1\n),\nchosen_goal AS (\n  SELECT COALESCE(tg.id, fg.id) as id,\n         COALESCE(tg.goal_code, fg.goal_code) as goal_code,\n         COALESCE(tg.goal_name_he, fg.goal_name_he) as goal_name_he\n  FROM fallback_goal fg\n  LEFT JOIN target_goal tg ON true\n),\nexisting_goal AS (\n  SELECT cg.id, cg.current_step, g.goal_code, g.goal_name_he\n  FROM customer_goals cg\n  JOIN goals g ON g.id = cg.goal_id\n  WHERE cg.customer_id = '{{ $json.customer_id }}'::uuid \n    AND cg.status = 'in_progress'\n  LIMIT 1\n),\nunset_primary AS (\n  UPDATE customer_goals SET is_primary = false\n  WHERE customer_id = '{{ $json.customer_id }}'::uuid AND is_primary = true\n    AND NOT EXISTS (SELECT 1 FROM existing_goal)\n),\nnew_goal AS (\n  INSERT INTO customer_goals (customer_id, goal_id, status, current_step, progress_percent, goal_state, phase_name, interaction_count, is_primary, started_at)\n  SELECT \n    '{{ $json.customer_id }}'::uuid,\n    cg.id,\n    'in_progress',\n    1,\n    0,\n    'discover',\n    '׳”׳›׳¨׳•׳×',\n    0,\n    true,\n    NOW()\n  FROM chosen_goal cg\n  WHERE NOT EXISTS (SELECT 1 FROM existing_goal)\n  RETURNING id, goal_id, current_step\n),\nupdate_stage AS (\n  UPDATE customers SET\n    current_stage = 'goal_mentor'::journey_stage,\n    current_status = 'active',\n    active_goal_id = (SELECT goal_id FROM new_goal LIMIT 1),\n    updated_at = NOW()\n  WHERE id = '{{ $json.customer_id }}'::uuid\n    AND EXISTS (SELECT 1 FROM new_goal)\n    AND current_stage = 'lead_router'::journey_stage\n)\nSELECT \n  COALESCE(ng.id, eg.id) as customer_goal_id,\n  COALESCE(ng.current_step, eg.current_step, 1) as current_step,\n  COALESCE(cg.goal_code, eg.goal_code, 'idea_development') as current_goal_code,\n  COALESCE(cg.goal_name_he, eg.goal_name_he, '׳’׳™׳‘׳•׳© ׳”׳¨׳¢׳™׳•׳?') as current_goal_name,\n  CASE WHEN ng.id IS NOT NULL THEN true ELSE false END as goal_was_created\nFROM chosen_goal cg\nLEFT JOIN existing_goal eg ON true\nLEFT JOIN new_goal ng ON true;","options":{}},"id":"1c09a4e4-7c5a-4494-8a1c-e2c0643b9ec5","name":"Auto Create Goal","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[195408,38432],"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"id":"esc-check-001","name":"Check Escalation","type":"n8n-nodes-base.code","typeVersion":2,"position":[3200,39116],"parameters":{"jsCode":"// === Escalation Detection ===\nconst forward = $('Forward Data').item.json;\nconst reply = (forward.reply || '').toLowerCase();\nconst intent = forward.intent || '';\n\n// Safe access to user_text - pairedItem may be broken\nlet userText = '';\ntry {\n  userText = (forward.user_text || $('Normalize Input').item.json.user_text || '').toLowerCase();\n} catch (e) {\n  userText = (forward.user_text || '').toLowerCase();\n}\n\nlet needsEscalation = false;\nlet reason = '';\n\n// Check 1: AI detected human_required\nif (forward.human_required === true || forward.human_required === 'true') {\n  needsEscalation = true;\n  reason = 'AI flagged human assistance needed';\n}\n\n// Check 2: User explicitly asks for human\nconst humanKeywords = ['׳?׳“׳? ׳?׳?׳™׳×׳™', '׳ ׳¦׳™׳’', '׳?׳ ׳”׳?', '׳‘׳? ׳?׳“׳?', '׳?׳“׳‘׳¨ ׳¢׳? ׳?׳™׳©׳”׳•', '׳¢׳–׳¨׳” ׳?׳?׳™׳×׳™׳×', 'agent', 'human', 'representative'];\nif (humanKeywords.some(kw => userText.includes(kw))) {\n  needsEscalation = true;\n  reason = 'User requested human agent';\n}\n\n// Check 3: Frustration signals\nconst frustrationKeywords = ['׳?׳×׳•׳¡׳›׳?', '׳?׳? ׳¢׳•׳–׳¨', '׳—׳¨׳?', '׳’׳¨׳•׳¢', '׳ ׳?׳?׳¡', '׳‘׳•׳˜ ׳˜׳™׳₪׳©', 'frustrated', 'useless', 'terrible'];\nif (frustrationKeywords.some(kw => userText.includes(kw))) {\n  needsEscalation = true;\n  reason = 'Frustration detected in user message';\n}\n\nreturn [{ json: {\n  needs_escalation: needsEscalation,\n  escalation_reason: reason,\n  customer_name: forward.customer_name || '',\n  customer_phone: forward.phone || '',\n  conversation_id: forward.conversation_id || '',\n  customer_id: forward.customer_id || '',\n  user_message: userText,\n  ai_reply: forward.reply || '',\n  ...forward\n}}];"}},{"id":"esc-if-001","name":"Needs Escalation?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3500,39116],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"esc-cond-1","leftValue":"={{ $json.needs_escalation }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"esc-save-001","name":"Save Escalation","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3800,39016],"parameters":{"operation":"executeQuery","query":"=-- Save escalation alert to DB\nINSERT INTO escalation_alerts (customer_id, conversation_id, trigger_reason, ai_message, customer_message, status)\nVALUES (\n  '{{ $('Forward Data').item.json.customer_id }}'::uuid,\n  '{{ $('Forward Data').item.json.conversation_id }}'::uuid,\n  '{{ $('Check Escalation').item.json.escalation_reason || 'unknown' }}',\n  '{{ ($('Forward Data').item.json.reply || '').replace(/'/g, \"''\").substring(0, 500) }}',\n  '{{ ($('Forward Data').item.json.user_text || '').replace(/'/g, \"''\").substring(0, 500) }}',\n  'open'\n)\nRETURNING id;","options":{}},"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"id":"esc-alert-001","name":"Alert Owner","type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapi","typeVersion":1,"position":[3800,39216],"parameters":{"chatId":"972502277087@c.us","message":"=ג? ן¸? *׳”׳×׳¨׳?׳× ׳?׳¡׳§׳?׳¦׳™׳”*\n\nנ?‘₪ ׳?׳§׳•׳—: {{ $json.customer_name || $json.customer_phone }}\nנ?“? ׳˜׳?׳₪׳•׳?: {{ $json.customer_phone }}\nג?— ׳¡׳™׳‘׳”: {{ $json.escalation_reason }}\n\nנ?’¬ ׳”׳•׳“׳¢׳× ׳”׳?׳§׳•׳—:\n{{ ($json.user_message || '').substring(0, 200) }}\n\nנ?₪– ׳×׳©׳•׳‘׳× AI:\n{{ ($json.ai_reply || '').substring(0, 200) }}"},"credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}}},{"id":"gc-if-001","name":"Goal Completed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3200,39516],"parameters":{"conditions":{"options":{"caseSensitive":true,"version":2,"typeValidation":"loose"},"combinator":"or","conditions":[{"id":"gc-cond-1","leftValue":"={{ $('Forward Data').item.json.complete_goal }}","rightValue":"true","operator":{"type":"string","operation":"equals"}},{"id":"gc-cond-2","leftValue":"={{ $('Update Goal Progress').item.json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}]}}},{"id":"gc-suggest-001","name":"Suggest Next Goal","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3550,39416],"parameters":{"operation":"executeQuery","query":"=-- Find next suggested goals for customer after completing current goal\nWITH completed_goals AS (\n  SELECT goal_id FROM customer_goals\n  WHERE customer_id = '{{ $('Forward Data').item.json.customer_id }}'::uuid\n    AND status = 'completed'\n),\ncurrent_goal_category AS (\n  SELECT g.category FROM customer_goals cg\n  JOIN goals g ON g.id = cg.goal_id\n  WHERE cg.id = '{{ $('Forward Data').item.json.customer_goal_id }}'::uuid\n)\nSELECT g.id, g.goal_code, g.goal_name_he, g.description_he, g.category\nFROM goals g\nWHERE g.id NOT IN (SELECT goal_id FROM completed_goals)\n  AND g.is_active = true\nORDER BY \n  -- Prioritize same category first\n  CASE WHEN g.category = (SELECT category FROM current_goal_category) THEN 0 ELSE 1 END,\n  g.sort_order ASC NULLS LAST,\n  g.created_at ASC\nLIMIT 3;","options":{}},"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"id":"gc-celebrate-001","name":"Mark Celebrated","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3550,39616],"parameters":{"operation":"executeQuery","query":"=UPDATE customer_goals\nSET completion_celebration_sent = true,\n    next_suggested_goal_code = COALESCE('{{ $('Suggest Next Goal').first().json.goal_code }}', '')\nWHERE id = '{{ $('Forward Data').first().json.customer_goal_id }}'::uuid\nRETURNING id, next_suggested_goal_code;","options":{}},"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"id":"spam-check-001","name":"Spam & Contact Check","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[194200,38320],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"spam-cond-1","leftValue":"={{ $json.is_rate_limited }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"id":"spam-cond-2","leftValue":"={{ $json.do_not_contact }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"or"},"onError":"continueRegularOutput"},"onError":"continueRegularOutput"},{"id":"cooldown-resp-001","name":"Cooldown Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[194400,38520],"parameters":{"jsCode":"const data = $input.first().json;\n\n// If do_not_contact - don't respond at all\nif (data.do_not_contact) {\n  return [{ json: { ...data, should_respond: false, block_reason: 'do_not_contact' } }];\n}\n\n// If rate limited - send gentle cooldown only on first burst detection\nif (data.is_rate_limited) {\n  return [{ json: { \n    ...data, \n    should_respond: true,\n    block_reason: 'rate_limited',\n    cooldown_message: '\\u05e7\\u05d9\\u05d1\\u05dc\\u05ea\\u05d9 \\u05d4\\u05db\\u05dc! \\ud83d\\ude4f \\u05ea\\u05df \\u05dc\\u05d9 \\u05e8\\u05d2\\u05e2 \\u05dc\\u05e2\\u05d1\\u05d3 \\u05d5\\u05d0\\u05d7\\u05d6\\u05d5\\u05e8 \\u05d0\\u05dc\\u05d9\\u05da \\u05e2\\u05dd \\u05ea\\u05e9\\u05d5\\u05d1\\u05d4 \\u05de\\u05e1\\u05d5\\u05d3\\u05e8\\u05ea.'\n  } }];\n}\n\nreturn [{ json: { ...data, should_respond: false, block_reason: 'unknown' } }];"}},{"id":"should-respond-001","name":"Should Respond?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[194600,38520],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"respond-cond-1","leftValue":"={{ $json.should_respond }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"send-cooldown-001","name":"Send Cooldown","type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapi","typeVersion":1,"position":[194800,38420],"parameters":{"resource":"sending","operation":"sendMessage","chatId":"={{ $json.chat_id }}","message":"={{ $json.cooldown_message }}"},"credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}}},{"id":"blocked-noop-001","name":"Blocked - No Response","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[194800,38620],"parameters":{}},{"id":"9db58fd6-05d7-4015-a311-bdaee7451833","name":"Merge Customer Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[194096,38320],"parameters":{"assignments":{"assignments":[{"id":"b1","name":"customer_id","value":"={{ $json.id }}","type":"string"},{"id":"b2","name":"customer_phone","value":"={{ $json.phone_e164 }}","type":"string"},{"id":"b3","name":"customer_name","value":"={{ $json.full_name }}","type":"string"},{"id":"b4","name":"customer_stage","value":"={{ $json.current_stage }}","type":"string"},{"id":"b5","name":"customer_status","value":"={{ $json.current_status }}","type":"string"},{"id":"b6","name":"audit_run_id","value":"={{ $('Merge Audit Data').item.json.audit_run_id }}","type":"string"},{"id":"b7","name":"n_source_channel","value":"={{ $('Merge Audit Data').item.json.n_source_channel }}","type":"string"},{"id":"b8","name":"n_provider","value":"={{ $('Merge Audit Data').item.json.n_provider }}","type":"string"},{"id":"b9","name":"n_chat_id","value":"={{ $('Merge Audit Data').item.json.n_chat_id }}","type":"string"},{"id":"b10","name":"n_user_text","value":"={{ $('Merge Audit Data').item.json.n_user_text }}","type":"string"},{"id":"b11","name":"n_external_message_id","value":"={{ $('Merge Audit Data').item.json.n_external_message_id }}","type":"string"},{"id":"b12","name":"n_correlation_id","value":"={{ $('Merge Audit Data').item.json.n_correlation_id }}","type":"string"},{"id":"mcd_event_type","name":"event_type","value":"={{ $('Merge Audit Data').item.json.event_type }}","type":"string"},{"id":"mcd_goal_code","name":"current_goal_code","value":"={{ $('Merge Audit Data').item.json.current_goal_code }}","type":"string"},{"id":"mcd_goal_step","name":"current_goal_step","value":"={{ $('Merge Audit Data').item.json.current_goal_step }}","type":"number"},{"id":"mcd_goal_progress","name":"goal_progress_percent","value":"={{ $('Merge Audit Data').item.json.goal_progress_percent }}","type":"number"},{"id":"mcd_business_type","name":"business_type","value":"={{ $('Merge Audit Data').item.json.business_type || $json.business_type || '' }}","type":"string"}]},"options":{}}},{"id":"6e2d9c01-d8b5-4798-b251-ffe37cd6c327","name":"Merge Agent Config","type":"n8n-nodes-base.code","typeVersion":2,"position":[195664,38608],"parameters":{"jsCode":"// Merge data from Load Agent Config, Prepare AI Context, and Load Goal Steps\nconst agentConfig = $('Load Agent Config').first().json;\nconst aiContext = $('Prepare AI Context').first().json;\nconst goalSteps = $('Load Goal Steps').first().json;\n\n// Safe JSON stringify helper\nfunction safeJson(val, fallback) {\n  if (val === null || val === undefined) return fallback;\n  try {\n    return typeof val === 'string' ? val : JSON.stringify(val);\n  } catch { return fallback; }\n}\n\nreturn [{\n  json: {\n    // Agent config from DB\n    agent_code: agentConfig.agent_code || 'support',\n    agent_name: agentConfig.agent_name || '\\u05ea\\u05de\\u05d9\\u05db\\u05d4',\n    system_prompt: agentConfig.system_prompt || 'You are a helpful support agent.',\n    model: agentConfig.model || 'gpt-4o',\n    temperature: agentConfig.temperature || 0.7,\n    requires_goal_context: agentConfig.requires_goal_context || false,\n\n    // Core context from Prepare AI Context\n    customer_id: aiContext.customer_id,\n    conversation_id: aiContext.conversation_id,\n    audit_run_id: aiContext.audit_run_id,\n    correlation_id: aiContext.correlation_id,\n    current_stage: aiContext.current_stage,\n    current_status: aiContext.current_status,\n    customer_name: aiContext.customer_name,\n    phone: aiContext.phone,\n    user_text: aiContext.user_text,\n    chat_id: aiContext.chat_id,\n    source_channel: aiContext.source_channel,\n    summary: aiContext.summary,\n    key_facts: safeJson(aiContext.key_facts, '{}'),\n    message_count: aiContext.message_count,\n    is_first_message: aiContext.is_first_message,\n\n    // Goal context\n    customer_goal_id: aiContext.customer_goal_id,\n    current_goal_code: aiContext.current_goal_code,\n    current_goal_name: aiContext.current_goal_name,\n    goal_status: aiContext.goal_status,\n    goal_progress_percent: aiContext.goal_progress_percent,\n    current_goal_step: aiContext.current_goal_step,\n    user_blockers: aiContext.user_blockers,\n    user_frustrations: aiContext.user_frustrations,\n    has_active_goal: aiContext.has_active_goal,\n\n    // Journey state\n    journey_progress_percent: aiContext.journey_progress_percent,\n    completed_goals_count: aiContext.completed_goals_count,\n    total_points: aiContext.total_points,\n    streak_days: aiContext.streak_days,\n    goal_interaction_count: aiContext.goal_interaction_count,\n    last_agent_code: aiContext.last_agent_code || '',\n\n    // Step info from Load Goal Steps\n    step_title_he: goalSteps.title_he || '\\u05e9\\u05dc\\u05d1 ' + (aiContext.current_goal_step || 1),\n    step_instructions_he: goalSteps.mentor_prompt_he || '\\u05d4\\u05de\\u05e9\\u05da \\u05dc\\u05dc\\u05d5\\u05d5\\u05ea \\u05d0\\u05ea \\u05d4\\u05dc\\u05e7\\u05d5\\u05d7 \\u05d1\\u05de\\u05d8\\u05e8\\u05d4 \\u05e9\\u05dc\\u05d5',\n    step_instructions_en: goalSteps.mentor_prompt_en || 'Continue guiding the customer on their goal',\n    step_success_criteria: goalSteps.success_criteria || '',\n    is_final_step: goalSteps.is_final_step || false,\n    total_steps: goalSteps.total_steps || 7,\n    next_step_title: goalSteps.next_step_title_he || '',\n\n    // Goal state fields\n    goal_state: aiContext.goal_state || 'discover',\n    phase_name: aiContext.phase_name || '\\u05d4\\u05db\\u05e8\\u05d5\\u05ea',\n    journey_length: aiContext.journey_length || '2w',\n    total_steps_planned: aiContext.total_steps_planned || 10,\n    days_elapsed: aiContext.days_elapsed || 0,\n    momentum: aiContext.momentum || 'stable',\n\n    // Task tracking\n    active_task_title: aiContext.active_task_title || '',\n    active_task_status: aiContext.active_task_status || 'pending',\n    days_pending: aiContext.days_pending || 0,\n\n    // Customer preferences\n    response_speed: aiContext.response_speed || 'medium',\n    engagement_level: aiContext.engagement_level || 'medium',\n    business_stage: aiContext.business_stage || '\\u05d4\\u05ea\\u05d7\\u05dc\\u05d4',\n\n    // Memory\n    memory_facts: safeJson(aiContext.memory_facts, '{}'),\n    memory_decisions: safeJson(aiContext.memory_decisions, '[]'),\n    user_strengths: safeJson(aiContext.user_strengths, '[]'),\n    user_struggles: safeJson(aiContext.user_struggles, '[]'),\n    last_question: aiContext.last_question || '',\n    last_action: aiContext.last_action || '',\n\n    // Multi-goal\n    is_new_goal: aiContext.is_new_goal || false,\n    all_active_goals: safeJson(aiContext.all_active_goals, '[]'),\n    active_goals_count: aiContext.active_goals_count || 0,\n    is_primary_goal: aiContext.is_primary_goal || false,\n\n    // Next step info\n    next_step_number: goalSteps.next_step_number || '',\n    next_step_title_he: goalSteps.next_step_title_he || '',\n    next_step_instructions_he: goalSteps.next_step_instructions_he || '',\n    next_is_final: goalSteps.next_is_final || false,\n\n    // Business profile\n    business_profile_text: aiContext.business_profile_text || '',\n    message_length_pref: aiContext.message_length_pref || 'medium',\n    personality_notes: aiContext.personality_notes || '',\n\n    // Step enrichment\n    step_type: goalSteps.step_type || 'question',\n    step_effort_level: goalSteps.effort_level || '\\u05e7\\u05dc',\n    step_due_window: goalSteps.due_window || '24h',\n    step_definition_of_done: goalSteps.definition_of_done || '',\n    step_task_description: goalSteps.task_description || '',\n    step_expected_output: goalSteps.expected_output || '',\n    step_followup_question: goalSteps.followup_question || '',\n    step_guiding_questions: safeJson(goalSteps.guiding_questions, '[]'),\n    step_examples: safeJson(goalSteps.examples, '[]'),\n    step_business_type_hints: safeJson(goalSteps.business_type_hints, '{}'),\n  }\n}];"}},{"id":"fu-check-001","name":"Check Followup Status","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[194100,38080],"parameters":{"operation":"executeQuery","query":"=SELECT fl.*, fs.flow_name_he FROM followup_leads fl JOIN followup_sequences fs ON fs.flow_code = fl.flow_code WHERE fl.lead_phone = '{{ $json.customer_phone }}' AND fl.is_completed = false AND fl.is_do_not_contact = false ORDER BY fl.created_at DESC LIMIT 1;","options":{"outputMode":"singleItem"}},"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}},"alwaysOutputData":true,"onError":"continueRegularOutput"},{"id":"fu-active-001","name":"Is In Active Followup?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[194300,38080],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"fu-active-cond-1","leftValue":"={{ $json.is_in_active_followup }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}}},{"id":"fu-classify-001","name":"Classify Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[194500,37960],"parameters":{"jsCode":"const items = $input.all();\nconst followupData = items[0].json;\nconst userText = ($('Merge Customer Data').item.json.n_user_text || '').trim().toLowerCase();\n\n// Hot keywords - customer is interested\nconst hotKeywords = [\n  '׳›׳?', '׳?׳¢׳ ׳™׳™׳?', '׳¨׳•׳¦׳” ׳?׳“׳‘׳¨', '׳›׳?׳” ׳–׳” ׳¢׳•׳?׳”', '׳×׳—׳–׳¨׳• ׳?׳?׳™׳™',\n  '׳?׳ ׳™ ׳¨׳•׳¦׳” ׳?׳”׳×׳—׳™׳?', '׳‘׳•׳? ׳ ׳“׳‘׳¨', '׳?׳₪׳©׳¨ ׳₪׳¨׳˜׳™׳?', '׳?׳¢׳•׳ ׳™׳™׳?',\n  '׳¨׳•׳¦׳”', '׳?׳©׳?׳—', '׳‘׳•׳?׳• ׳ ׳“׳‘׳¨', '׳×׳×׳§׳©׳¨׳•', '׳?׳×׳¢׳ ׳™׳™׳?',\n  'interested', 'yes', 'want', 'price', 'how much'\n];\n\n// Stop keywords - customer wants out\nconst stopKeywords = [\n  '׳×׳₪׳¡׳™׳§׳•', '׳?׳? ׳?׳¢׳•׳ ׳™׳™׳?', '׳”׳¡׳™׳¨׳•', '׳¢׳–׳‘׳• ׳?׳•׳×׳™', 'spam',\n  '׳—׳¡׳•׳?', '׳‘׳?׳•׳§', 'stop', 'unsubscribe', 'remove',\n  '׳?׳? ׳×׳©׳?׳—׳•', '׳?׳¡׳₪׳™׳§', '׳“׳™', '׳?׳? ׳¨׳?׳•׳•׳ ׳˜׳™'\n];\n\nlet classification = 'other';\n\nif (stopKeywords.some(kw => userText.includes(kw))) {\n  classification = 'stop';\n} else if (hotKeywords.some(kw => userText.includes(kw))) {\n  classification = 'hot';\n}\n\nreturn [{\n  json: {\n    ...followupData,\n    classification: classification,\n    customer_phone: $('Merge Customer Data').item.json.customer_phone,\n    customer_name: $('Merge Customer Data').item.json.customer_name,\n    n_user_text: $('Merge Customer Data').item.json.n_user_text,\n    n_chat_id: $('Merge Customer Data').item.json.n_chat_id\n  }\n}];"}},{"id":"fu-switch-001","name":"Switch Response Type","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[194700,37960],"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.classification }}","rightValue":"hot","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"hot"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.classification }}","rightValue":"stop","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"stop"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.classification }}","rightValue":"other","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"other"}]}}},{"id":"fu-update-hot-001","name":"Update Followup Hot","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[194940,37760],"parameters":{"operation":"executeQuery","query":"=UPDATE followup_leads SET is_paused=true, pause_reason='customer_replied_hot', last_customer_reply_at=NOW(), updated_at=NOW() WHERE id='{{ $json.id }}';"},"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"id":"fu-alert-hot-001","name":"Alert Owner Hot Lead","type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapi","typeVersion":1,"position":[195180,37760],"parameters":{"chatId":"972527860880@c.us","message":"=נ?”¥ *׳?׳™׳“ ׳—׳? ׳?׳₪׳•׳?׳•׳?׳₪!*\n\nנ?‘₪ {{ $json.customer_name }} | נ?“? {{ $json.customer_phone }}\nנ?’¬ \"{{ $json.n_user_text }}\"\nנ?“? Flow: {{ $json.flow_name_he }}, ׳©׳?׳‘ {{ $json.current_stage }}\nג?° ׳?׳•׳?׳?׳¥ ׳?׳—׳–׳•׳¨ ׳×׳•׳? ׳©׳¢׳”!"},"credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}}},{"id":"fu-update-stop-001","name":"Update Followup Stop","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[194940,37960],"parameters":{"operation":"executeQuery","query":"=UPDATE followup_leads SET is_do_not_contact=true, is_completed=true, pause_reason='customer_requested_stop', updated_at=NOW() WHERE lead_phone='{{ $json.customer_phone }}';"},"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"id":"fu-send-stop-001","name":"Send Stop Confirmation","type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapi","typeVersion":1,"position":[195180,37960],"parameters":{"chatId":"={{ $json.n_chat_id }}","message":"׳”׳‘׳§׳©׳” ׳©׳?׳? ׳”׳×׳§׳‘׳?׳”, ׳?׳? ׳ ׳©׳?׳— ׳?׳? ׳”׳•׳“׳¢׳•׳× ׳ ׳•׳¡׳₪׳•׳×. ׳×׳•׳“׳”! נ?™?"},"credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}}},{"id":"fu-update-other-001","name":"Update Followup Other","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[194940,38160],"parameters":{"operation":"executeQuery","query":"=UPDATE followup_leads SET is_paused=true, pause_reason='customer_replied', last_customer_reply_at=NOW(), updated_at=NOW() WHERE id='{{ $json.id }}';"},"credentials":{"postgres":{"id":"f7uLzc1fb15UnScl","name":"Postgres account 2"}}},{"id":"check-sales-bot","name":"Check Sales Bot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[193466,38320],"onError":"continueRegularOutput","parameters":{"method":"GET","url":"=https://fnsnnezhikgqajdbtwoa.supabase.co/rest/v1/bot_sessions?or=(phone.eq.{{ $json.phone.replace(\"+972\",\"0\") }},phone.eq.{{ $json.phone.replace(\"+\",\"\") }})&completed_at=is.null&order=created_at.desc&limit=1&select=id,lead_id,flow_type,page_intent,current_step","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZuc25uZXpoaWtncWFqZGJ0d29hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3ODkwMCwiZXhwIjoyMDg0NTU0OTAwfQ.ncDeHwwY3lD88i3dS98-7ETV4als0pzFn7Cz6UXC_RM"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZuc25uZXpoaWtncWFqZGJ0d29hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3ODkwMCwiZXhwIjoyMDg0NTU0OTAwfQ.ncDeHwwY3lD88i3dS98-7ETV4als0pzFn7Cz6UXC_RM"},{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":5000}}},{"id":"is-sales-bot","name":"Is Sales Bot?","type":"n8n-nodes-base.if","typeVersion":2,"position":[193716,38320],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"sales-bot-check","leftValue":"={{ Array.isArray($json) ? $json.length : 0 }}","rightValue":"0","operator":{"type":"number","operation":"gt"}}],"combinator":"and"}}},{"id":"handle-sales-response","name":"Handle Sales Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[193966,38220],"parameters":{"jsCode":"\n// Get sales bot session and user text\nconst sessionData = $('Check Sales Bot').first().json;\nconst session = Array.isArray(sessionData) ? sessionData[0] : sessionData;\nconst normalized = $('Normalize Input').first().json;\nconst userText = (normalized.user_text || '').trim();\nconst phone = normalized.phone || '';\nconst chatId = normalized.chat_id || '';\n\nif (!session || !session.id) {\n  return [{ json: { ...normalized, is_sales: false } }];\n}\n\nconst currentStep = session.current_step || 'opening_sent';\nconst flowType = session.flow_type || 'generic_flow';\nconst sessionId = session.id;\nconst leadId = session.lead_id;\n\n// Parse user response (number or text)\nlet choice = '';\nlet temperature = 'warm';\nlet nextAction = '';\nlet responseMessage = '';\n\nconst num = parseInt(userText);\nconst textLower = userText.toLowerCase();\n\nif (currentStep === 'opening_sent') {\n  // First response after opening message\n  if (num === 1 || textLower.includes('להתחיל') || textLower.includes('רוצה') || textLower.includes('עכשיו') || textLower.includes('לסגור')) {\n    choice = 'start_now';\n    temperature = 'hot';\n    nextAction = 'collect_documents';\n    responseMessage = 'מעולה! 👍\\nכדי להתחיל, נצטרך צילום תעודת זהות (שני צדדים).\\nאפשר לשלוח כאן או לקבוע שיחה קצרה.\\n\\n1️⃣ לשלוח ת\"ז עכשיו\\n2️⃣ לקבוע שיחה\\n3️⃣ כמה זה עולה?';\n  } else if (num === 2 || textLower.includes('בקרוב') || textLower.includes('חודש') || textLower.includes('שבוע')) {\n    choice = 'start_soon';\n    temperature = 'warm';\n    nextAction = 'ask_field';\n    responseMessage = 'מצוין! 📅\\nמה תחום הפעילות שלך?\\n\\n1️⃣ שירותים / פרילנס\\n2️⃣ מכירת מוצרים\\n3️⃣ מקצוע חופשי\\n4️⃣ אחר';\n  } else if (num === 3 || textLower.includes('בודק') || textLower.includes('מידע')) {\n    choice = 'just_checking';\n    temperature = 'cold';\n    nextAction = 'nurture';\n    responseMessage = 'אני כאן אם תצטרך עזרה 🙂\\nאפשר תמיד לחזור.\\n\\n1️⃣ לדבר עם רואה חשבון\\n2️⃣ כמה זה עולה?\\n3️⃣ להתחיל כשמוכן';\n  } else if (num === 4 || textLower.includes('מחיר') || textLower.includes('עולה') || textLower.includes('כמה')) {\n    choice = 'pricing';\n    temperature = 'warm';\n    nextAction = 'send_quote';\n    responseMessage = 'ברוב המקרים:\\n💰 ליווי חודשי: 200 ₪ + מע״מ\\n💰 פתיחת תיק: 250 ₪ + מע״מ (חד פעמי)\\n\\nכולל דוח שנתי, ליווי, אפליקציה ומנהלת תיק.\\n\\n1️⃣ לשלוח ת\"ז ולהתחיל\\n2️⃣ לדבר עם רואה חשבון\\n3️⃣ הצעת מחיר מדויקת';\n  } else if (num === 5 || textLower.includes('נציג') || textLower.includes('לדבר') || textLower.includes('שאלה')) {\n    choice = 'talk_agent';\n    temperature = 'warm';\n    nextAction = 'handoff';\n    responseMessage = 'בהחלט! 📞\\nנציג שלנו יחזור אליך בהקדם.\\nאם תרצה, אפשר גם לשלוח הודעה ישירות:\\nhttps://wa.me/972502277087';\n  } else {\n    // Free text - treat as question\n    choice = 'free_text';\n    temperature = 'warm';\n    nextAction = 'handoff';\n    responseMessage = 'תודה על ההודעה! 🙂\\nנציג שלנו יחזור אליך בהקדם עם תשובה.\\n\\nאם בינתיים תרצה:\\n1️⃣ לשמוע מחיר\\n2️⃣ להתחיל עכשיו\\n3️⃣ לדבר עם רואה חשבון';\n  }\n} else if (currentStep === 'collect_documents' || currentStep === 'send_quote' || currentStep === 'ask_field') {\n  // Second round responses\n  if (num === 1 || textLower.includes('ת\"ז') || textLower.includes('תז') || textLower.includes('תעודת')) {\n    choice = 'send_docs';\n    temperature = 'hot';\n    nextAction = 'awaiting_docs';\n    responseMessage = 'מעולה! 📄\\nאפשר לשלוח צילום ת\"ז (שני צדדים) כאן בצ\\'אט.\\nברגע שנקבל, נתחיל מיד בתהליך!';\n  } else if (num === 2 || textLower.includes('שיחה') || textLower.includes('לדבר') || textLower.includes('רואה חשבון')) {\n    choice = 'book_call';\n    temperature = 'hot';\n    nextAction = 'booked_call';\n    responseMessage = 'מצוין! 📞\\nנציג שלנו יחזור אליך בהקדם.';\n  } else if (num === 3 || textLower.includes('מחיר') || textLower.includes('עולה') || textLower.includes('הצעה')) {\n    choice = 'get_quote';\n    temperature = 'warm';\n    nextAction = 'requested_quote';\n    responseMessage = 'נשלח לך הצעת מחיר מפורטת בהקדם! 📝';\n  } else {\n    choice = 'other';\n    temperature = 'warm';\n    nextAction = 'handoff';\n    responseMessage = 'תודה! נציג יחזור אליך בהקדם 🙂';\n  }\n}\n\n// Determine outcome_state\nlet outcomeState = null;\nif (['booked_call', 'handoff'].includes(nextAction)) outcomeState = nextAction === 'handoff' ? 'handoff_to_agent' : 'booked_call';\nif (nextAction === 'awaiting_docs') outcomeState = 'sent_documents';\nif (nextAction === 'requested_quote') outcomeState = 'requested_quote';\n\nreturn [{ json: {\n  is_sales: true,\n  phone, chatId, sessionId, leadId,\n  choice, temperature, nextAction, responseMessage, outcomeState,\n  current_step: nextAction || currentStep,\n  user_text: userText\n}}];\n"}},{"id":"send-sales-response","name":"Send Sales Response","type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapi","typeVersion":1,"position":[194216,38220],"credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}},"parameters":{"message":"={{ $json.responseMessage }}","chatId":"={{ $json.chatId }}","typingTime":0}},{"id":"update-sales-crm","name":"Update Sales CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[194466,38220],"onError":"continueRegularOutput","parameters":{"method":"PATCH","url":"=https://fnsnnezhikgqajdbtwoa.supabase.co/rest/v1/leads?phone=eq.{{ encodeURIComponent($json.phone) }}&order=created_at.desc&limit=1","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZuc25uZXpoaWtncWFqZGJ0d29hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3ODkwMCwiZXhwIjoyMDg0NTU0OTAwfQ.ncDeHwwY3lD88i3dS98-7ETV4als0pzFn7Cz6UXC_RM"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZuc25uZXpoaWtncWFqZGJ0d29hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3ODkwMCwiZXhwIjoyMDg0NTU0OTAwfQ.ncDeHwwY3lD88i3dS98-7ETV4als0pzFn7Cz6UXC_RM"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ temperature: $json.temperature, bot_first_answer: $json.choice, bot_desired_action: $json.nextAction, bot_current_step: $json.current_step, bot_outcome_state: $json.outcomeState, bot_messages_count: 2, bot_last_message_at: new Date().toISOString() }) }}","options":{"timeout":10000}}},{"id":"update-sales-session","name":"Update Sales Session","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[194466,38370],"onError":"continueRegularOutput","parameters":{"method":"PATCH","url":"=https://fnsnnezhikgqajdbtwoa.supabase.co/rest/v1/bot_sessions?id=eq.{{ $json.sessionId }}","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZuc25uZXpoaWtncWFqZGJ0d29hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3ODkwMCwiZXhwIjoyMDg0NTU0OTAwfQ.ncDeHwwY3lD88i3dS98-7ETV4als0pzFn7Cz6UXC_RM"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZuc25uZXpoaWtncWFqZGJ0d29hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3ODkwMCwiZXhwIjoyMDg0NTU0OTAwfQ.ncDeHwwY3lD88i3dS98-7ETV4als0pzFn7Cz6UXC_RM"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ current_step: $json.current_step, temperature: $json.temperature, outcome_state: $json.outcomeState, answers: { step1: $json.choice, text: $json.user_text }, messages_count: 2, last_message_at: new Date().toISOString(), completed_at: [\"handoff\",\"booked_call\",\"awaiting_docs\",\"requested_quote\"].includes($json.nextAction) ? new Date().toISOString() : null }) }}","options":{"timeout":10000}}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Check Sales Bot","type":"main","index":0}]]},"Start Audit Run":{"main":[[{"node":"Merge Audit Data","type":"main","index":0}]]},"Merge Audit Data":{"main":[[{"node":"Upsert Customer","type":"main","index":0}]]},"Upsert Conversation":{"main":[[{"node":"Merge Conversation Data","type":"main","index":0}]]},"Merge Message Data":{"main":[[{"node":"Load Context","type":"main","index":0}]]},"Load Context":{"main":[[{"node":"Auto Create Goal","type":"main","index":0}]]},"Prepare AI Context":{"main":[[{"node":"Load Agent Config","type":"main","index":0}]]},"Load Agent Config":{"main":[[{"node":"Load Goal Steps","type":"main","index":0}]]},"Dynamic AI Agent":{"main":[[{"node":"Parse AI Response","type":"main","index":0}]]},"Parse AI Response":{"main":[[{"node":"Update Customer","type":"main","index":0}]]},"Update Customer":{"main":[[{"node":"Forward Data","type":"main","index":0}]]},"Forward Data":{"main":[[{"node":"Update Goal Progress","type":"main","index":0},{"node":"Check Escalation","type":"main","index":0}]]},"Update Goal Progress":{"main":[[{"node":"Update Summary","type":"main","index":0},{"node":"Goal Completed?","type":"main","index":0}]]},"Update Summary":{"main":[[{"node":"Insert Outbound","type":"main","index":0}]]},"Insert Outbound":{"main":[[{"node":"Stage Changed?","type":"main","index":0}]]},"Stage Changed?":{"main":[[{"node":"Insert Journey Event","type":"main","index":0}],[{"node":"Is WhatsApp?","type":"main","index":0}]]},"Insert Journey Event":{"main":[[{"node":"Is WhatsApp?","type":"main","index":0}]]},"Is WhatsApp?":{"main":[[{"node":"Send WhatsApp","type":"main","index":0}],[{"node":"Respond Webhook","type":"main","index":0}]]},"Send WhatsApp":{"main":[[{"node":"Complete Audit","type":"main","index":0}]]},"Respond Webhook":{"main":[[{"node":"Complete Audit","type":"main","index":0}]]},"GREENAPI Trigger":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Merge Conversation Data":{"main":[[{"node":"Insert Inbound Message","type":"main","index":0}]]},"Insert Inbound Message":{"main":[[{"node":"Merge Message Data","type":"main","index":0}]]},"Auto Create Goal":{"main":[[{"node":"Prepare AI Context","type":"main","index":0}]]},"Check Escalation":{"main":[[{"node":"Needs Escalation?","type":"main","index":0}]]},"Needs Escalation?":{"main":[[{"node":"Save Escalation","type":"main","index":0},{"node":"Alert Owner","type":"main","index":0}]]},"Goal Completed?":{"main":[[{"node":"Suggest Next Goal","type":"main","index":0}]]},"Spam & Contact Check":{"main":[[{"node":"Cooldown Response","type":"main","index":0}],[{"node":"Upsert Conversation","type":"main","index":0}]]},"Cooldown Response":{"main":[[{"node":"Should Respond?","type":"main","index":0}]]},"Should Respond?":{"main":[[{"node":"Send Cooldown","type":"main","index":0}],[{"node":"Blocked - No Response","type":"main","index":0}]]},"Upsert Customer":{"main":[[{"node":"Merge Customer Data","type":"main","index":0}]]},"Load Goal Steps":{"main":[[{"node":"Merge Agent Config","type":"main","index":0}]]},"Merge Agent Config":{"main":[[{"node":"Dynamic AI Agent","type":"main","index":0}]]},"Suggest Next Goal":{"main":[[{"node":"Mark Celebrated","type":"main","index":0}]]},"Merge Customer Data":{"main":[[{"node":"Check Followup Status","type":"main","index":0}]]},"Check Followup Status":{"main":[[{"node":"Is In Active Followup?","type":"main","index":0}]]},"Is In Active Followup?":{"main":[[{"node":"Classify Response","type":"main","index":0}],[{"node":"Spam & Contact Check","type":"main","index":0}]]},"Classify Response":{"main":[[{"node":"Switch Response Type","type":"main","index":0}]]},"Switch Response Type":{"main":[[{"node":"Update Followup Hot","type":"main","index":0}],[{"node":"Update Followup Stop","type":"main","index":0}],[{"node":"Update Followup Other","type":"main","index":0}]]},"Update Followup Hot":{"main":[[{"node":"Alert Owner Hot Lead","type":"main","index":0}]]},"Update Followup Stop":{"main":[[{"node":"Send Stop Confirmation","type":"main","index":0}]]},"Update Followup Other":{"main":[[{"node":"Spam & Contact Check","type":"main","index":0}]]},"Check Sales Bot":{"main":[[{"node":"Is Sales Bot?","type":"main","index":0}]]},"Is Sales Bot?":{"main":[[{"node":"Handle Sales Response","type":"main","index":0}],[{"node":"Start Audit Run","type":"main","index":0}]]},"Handle Sales Response":{"main":[[{"node":"Send Sales Response","type":"main","index":0}]]},"Send Sales Response":{"main":[[{"node":"Update Sales CRM","type":"main","index":0},{"node":"Update Sales Session","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"}}