docs/crm-bot-payload-v3.json
{"name":"Perfect-1 CRM Bot","nodes":[{"parameters":{"httpMethod":"POST","path":"dc453dae-dcc0-484e-85c8-0d47299fc4c2","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,300],"id":"9931810c-ee3b-4f71-b0db-3b5c6e03523b","name":"Webhook","webhookId":"dc453dae-dcc0-484e-85c8-0d47299fc4c2"},{"parameters":{"assignments":{"assignments":[{"id":"f1","name":"name","value":"={{ $json.body?.name || $json.name }}","type":"string"},{"id":"f2","name":"phone","value":"={{ $json.body?.phone || $json.phone }}","type":"string"},{"id":"f3","name":"email","value":"={{ $json.body?.email || $json.email || \"\" }}","type":"string"},{"id":"f4","name":"category","value":"={{ $json.body?.category || $json.category || \"osek_patur\" }}","type":"string"},{"id":"f5","name":"source_page","value":"={{ $json.body?.source_page || $json.source_page || \"\" }}","type":"string"},{"id":"f6","name":"new_status","value":"={{ $json.body?.new_status || $json.body?.status || $json.new_status }}","type":"string"},{"id":"f7","name":"previous_status","value":"={{ $json.body?.previous_status || $json.previous_status || \"\" }}","type":"string"},{"id":"f8","name":"event_type","value":"={{ $json.body?._event_type || $json._event_type }}","type":"string"},{"id":"f9","name":"_event_type","value":"={{ $json.body?._event_type || $json._event_type }}","type":"string"},{"id":"f10","name":"pipeline_stage","value":"={{ $json.body?.pipeline_stage || $json.pipeline_stage || $json.body?.new_status || \"\" }}","type":"string"},{"id":"f11","name":"chat_id","value":"={{ $json.chat_id || (\"972\" + ($json.body?.phone || $json.phone || \"\").replace(/^0/, \"\") + \"@c.us\") }}","type":"string"},{"id":"f12","name":"not_interested_reason","value":"={{ $json.body?.not_interested_reason || $json.not_interested_reason || \"\" }}","type":"string"},{"id":"f13","name":"not_interested_category","value":"={{ $json.body?.not_interested_category || $json.not_interested_category || \"\" }}","type":"string"},{"id":"f14","name":"had_conversation","value":"={{ $json.body?.had_conversation || $json.had_conversation || false }}","type":"boolean"},{"id":"f15","name":"agent_name","value":"={{ $json.body?.agent_name || $json.agent_name || \"\" }}","type":"string"},{"id":"f16","name":"notes","value":"={{ $json.body?.notes || $json.notes || \"\" }}","type":"string"},{"id":"f17","name":"lead_id","value":"={{ $json.body?.lead_id || $json.lead_id || \"\" }}","type":"string"},{"id":"f18","name":"page_intent","value":"={{ $json.body?.page_intent || $json.page_intent || \"\" }}","type":"string"},{"id":"f19","name":"service_type","value":"={{ $json.body?.service_type || $json.service_type || $json.body?.category || $json.category || \"\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,300],"id":"dfcc27f9-c546-4aaf-ac62-2c81d58faad3","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"conditions":[{"id":"cond-event-type","leftValue":"={{ $json._event_type }}","rightValue":"new_lead","operator":{"type":"string","operation":"equals"}},{"id":"cond-new-status","leftValue":"={{ $json.new_status }}","rightValue":"new","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[200,300],"id":"chk-new-lead","name":"Is New Lead?","onError":"continueErrorOutput"},{"id":"val-phone-001","name":"Validate Phone","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-20,300],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"conditions":[{"id":"val-phone-cond-1","leftValue":"={{ $json.phone }}","rightValue":"^0[2-9]\\d{7,8}$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"onError":"continueErrorOutput"},{"id":"log-invalid-001","name":"Log Invalid Phone","type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapi","typeVersion":1,"position":[-20,550],"parameters":{"chatId":"972502277087@c.us","message":"=⚠️ *טלפון לא תקין*\n\nליד חדש נכנס עם טלפון לא תקין:\n👤 {{ $json.name }}\n📞 {{ $json.phone }}\n📧 {{ $json.email }}\n📂 {{ $json.category }}\n📄 {{ $json.source_page }}\n🧑‍💼 נציג: {{ $json.agent_name || 'לא צוין' }}\n📝 הערות: {{ $json.notes || 'אין' }}\n\nצריך לטפל ידנית.","typingTime":0},"credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}}},{"id":"alert-owner-new-001","name":"Alert Owner - New Lead","type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapi","typeVersion":1,"position":[450,500],"parameters":{"chatId":"972502277087@c.us","message":"=🔔 *ליד חדש!*\n\n👤 שם: {{ $json.name }}\n📞 טלפון: {{ $json.phone }}\n📧 אימייל: {{ $json.email || 'לא צוין' }}\n📂 קטגוריה: {{ $json.category }}\n📄 מקור: {{ $json.source_page }}\n🧑‍💼 נציג: {{ $json.agent_name || 'לא צוין' }}\n📝 הערות: {{ $json.notes || 'אין' }}\n\n✅ נשלחה הודעת אישור ללקוח.","typingTime":0},"credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}}},{"id":"handle-status-001","name":"Handle Status Change","type":"n8n-nodes-base.code","typeVersion":2,"position":[200,600],"parameters":{"jsCode":"try {\n  const input = $input.first();\n  if (!input || !input.json) {\n    return [{ json: {\n      owner_message: '⚠️ *שגיאה*\\n\\nלא התקבל מידע על שינוי סטטוס.',\n      customer_message: '',\n      should_notify_customer: false,\n      should_notify_owner: true\n    }}];\n  }\n\n  const data = input.json;\n  const name = data.name || 'לא ידוע';\n  const phone = data.phone || '';\n  const category = data.category || '';\n  const source = data.source_page || '';\n  const newStatus = data.new_status || '';\n  const prevStatus = data.previous_status || '';\n  const chatId = data.chat_id || '';\n  const notInterestedReason = data.not_interested_reason || '';\n  const agentName = data.agent_name || 'לא צוין';\n  const notes = data.notes || '';\n\n  const statusLabels = {\n    'new': 'חדש',\n    'contacted': 'נוצר קשר',\n    'no_answer': 'לא ענה',\n    'in_progress': 'בטיפול',\n    'qualified': 'מתאים',\n    'closing_process': 'בתהליך סגירה',\n    'send_marketing_material': 'נשלח חומר שיווקי',\n    'not_interested': 'לא מעוניין',\n    'converted': 'הומר ללקוח',\n    'closed': 'נסגר',\n    'follow_up': 'מעקב',\n    'waiting': 'ממתין',\n    'completed': 'הושלם'\n  };\n\n  const notInterestedReasons = {\n    'already_has_osek': 'כבר יש עוסק',\n    'not_now': 'לא עכשיו',\n    'looking_for_different_service': 'מחפש שירות אחר',\n    'price_too_high': 'מחיר גבוה מדי',\n    'prefers_other_accountant': 'מעדיף רואה חשבון אחר',\n    'decided_not_to_open_business': 'החליט לא לפתוח עסק',\n    'going_with_osek_morsha': 'הולך עם עוסק מורשה',\n    'doing_it_alone': 'עושה לבד',\n    'employer_doesnt_allow': 'המעסיק לא מאשר',\n    'waiting_for_discharge': 'ממתין לשחרור',\n    'too_complicated': 'מסובך מדי'\n  };\n\n  const statusHe = statusLabels[newStatus] || newStatus;\n  const prevStatusHe = statusLabels[prevStatus] || prevStatus;\n\n  let emoji = '📄';\n  if (newStatus === 'converted' || newStatus === 'completed') emoji = '✅';\n  if (newStatus === 'not_interested') emoji = '❌';\n  if (newStatus === 'in_progress' || newStatus === 'contacted') emoji = '📵';\n  if (newStatus === 'follow_up' || newStatus === 'closing_process') emoji = '📅';\n  if (newStatus === 'waiting' || newStatus === 'no_answer') emoji = '⏳';\n  if (newStatus === 'qualified') emoji = '⭐';\n  if (newStatus === 'send_marketing_material') emoji = '📨';\n  if (newStatus === 'closed') emoji = '📁';\n\n  let ownerMessage = `${emoji} *שינוי סטטוס ליד*\\n\\n👤 ${name}\\n📞 ${phone}\\n📂 ${category}\\n📄 ${source}\\n🧑‍💼 נציג: ${agentName}\\n\\n📊 סטטוס: ${prevStatusHe} → ${statusHe}`;\n\n  if (newStatus === 'not_interested' && notInterestedReason) {\n    const reasonHe = notInterestedReasons[notInterestedReason] || notInterestedReason;\n    ownerMessage += `\\n\\n❌ *סיבה:* ${reasonHe}`;\n  }\n\n  if (notes) {\n    ownerMessage += `\\n📝 הערות: ${notes}`;\n  }\n\n  let customerMessage = '';\n  if (newStatus === 'converted' || newStatus === 'completed') {\n    customerMessage = `היי ${name}! רצינו לעדכן שהטיפול בפנייתך הושלם בהצלחה. תודה שבחרת ב-Perfect 1! אם תצטרך עזרה נוספת, אנחנו כאן.`;\n  } else if (newStatus === 'follow_up' || newStatus === 'closing_process') {\n    customerMessage = `היי ${name}, ניצור איתך קשר בקרוב 🕐`;\n  } else if (newStatus === 'no_answer') {\n    customerMessage = `היי ${name}, ניסינו ליצור איתך קשר. נחזור אליך שוב בקרוב 📞`;\n  } else if (newStatus === 'send_marketing_material') {\n    customerMessage = `היי ${name}, שלחנו לך חומר שיווקי על כל המידע שצריך. מוזמן/ת לעיין וליצור קשר על כל שאלה 📄`;\n  }\n\n  return [{ json: {\n    ...data,\n    owner_message: ownerMessage,\n    customer_message: customerMessage,\n    should_notify_customer: customerMessage !== '',\n    should_notify_owner: true\n  }}];\n} catch (error) {\n  return [{ json: {\n    owner_message: `⚠️ *שגיאה בעיבוד שינוי סטטוס*\\n\\n${error.message}`,\n    customer_message: '',\n    should_notify_customer: false,\n    should_notify_owner: true\n  }}];\n}\n"}},{"id":"notify-owner-status-001","name":"Notify Owner - Status Change","type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapi","typeVersion":1,"position":[500,600],"parameters":{"chatId":"972502277087@c.us","message":"={{ $json.owner_message }}","typingTime":0},"credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}}},{"id":"should-notify-cust-001","name":"Notify Customer?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[500,800],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"conditions":[{"id":"notify-cust-cond-1","leftValue":"={{ $json.should_notify_customer }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"send-cust-status-001","name":"Send WA - Status Update","type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapi","typeVersion":1,"position":[800,750],"parameters":{"chatId":"={{ $json.chat_id }}","message":"={{ $json.customer_message }}","typingTime":0},"credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}}},{"id":"chk-errors-001","name":"Check Send Errors","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1000,200],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"conditions":[{"id":"err-cond-1","leftValue":"={{ $json.error ? 'yes' : 'no' }}","rightValue":"yes","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"alert-send-err-001","name":"Alert Owner - Send Error","type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapi","typeVersion":1,"position":[1250,100],"parameters":{"chatId":"972502277087@c.us","message":"=❌ *שגיאה בשליחת וואטסאפ*\n\nלא הצלחנו לשלוח הודעה ללקוח:\n👤 {{ $('Edit Fields').item.json.name }}\n📞 {{ $('Edit Fields').item.json.phone }}\n\nשגיאה: {{ $json.error || JSON.stringify($json).substring(0, 200) }}\n\nצריך לשלוח הודעה ידנית.","typingTime":0},"credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}}},{"id":"route-to-followup-001","name":"Route to Followup","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[750,600],"parameters":{"workflowId":{"__rl":true,"value":"nHfvhJpM5s56Eu6U","mode":"id"},"options":{}}},{"id":"parse-crm-event-001","name":"Parse CRM Event","type":"n8n-nodes-base.code","typeVersion":2,"position":[-100,300],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const body = $input.first().json.body || $input.first().json;\nconst eventType = body._event_type || (body.new_status === 'new' ? 'new_lead' : 'status_change');\n\nconst stageToStatus = {\n  'new_lead': 'new',\n  'contacted': 'in_progress',\n  'no_answer': 'follow_up',\n  'qualifying': 'in_progress',\n  'qualified': 'in_progress',\n  'proposal_sent': 'closing_process',\n  'follow_up': 'follow_up',\n  'awaiting_docs': 'closing_process',\n  'converted': 'completed',\n  'not_interested': 'not_interested',\n  'disqualified': 'not_interested',\n  'duplicate': 'skip',\n  'spam': 'skip'\n};\n\nreturn [{\n  json: {\n    name: body.name,\n    phone: body.phone,\n    email: body.email || '',\n    category: body.category || 'osek_patur',\n    source_page: body.source_page || '',\n    new_status: stageToStatus[body.new_status] || body.new_status,\n    previous_status: body.previous_status || '',\n    pipeline_stage: body.new_status,\n    not_interested_reason: body.not_interested_reason || '',\n    not_interested_category: body.not_interested_category || '',\n    had_conversation: body.had_conversation || false,\n    agent_name: body.agent_name || '',\n    notes: body.notes || '',\n    lead_id: body.lead_id || '',\n    page_intent: body.page_intent || '',\n    service_type: body.service_type || body.category || '',\n    _event_type: eventType\n  }\n}];"}},{"parameters":{"jsCode":"\nconst data = $input.first().json;\nconst name = data.name || '';\nconst chatId = data.chat_id || '';\nconst pageIntent = data.page_intent || '';\nconst serviceType = data.service_type || data.category || '';\nconst sourcePage = data.source_page || '';\n\n// Intent classifier fallback (if page_intent not set from frontend)\nfunction classifyIntent(sp) {\n  if (pageIntent) return pageIntent;\n  sp = (sp || '').toLowerCase();\n  if (sp.includes('open-osek') || sp.includes('steps-osek') || sp.includes('landing-osek-patur')) return 'service';\n  if (sp.includes('patur-vs-murshe') || sp.includes('compare') || sp.includes('quiz')) return 'comparison';\n  if (sp.includes('accountant') || sp.includes('management')) return 'accounting_service';\n  if (sp.includes('cost') || sp.includes('pricing') || sp.includes('price')) return 'pricing';\n  if (sp.includes('how-to') || sp.includes('guide') || sp.includes('faq')) return 'guide';\n  if (sp.includes('close-') || sp.includes('sgirat')) return 'service';\n  return 'guide';\n}\n\nconst intent = classifyIntent(sourcePage);\n\nconst flowTypes = {\n  'service': 'service_flow',\n  'comparison': 'comparison_flow',\n  'guide': 'guide_flow',\n  'pricing': 'pricing_flow',\n  'accounting_service': 'accounting_svc_flow'\n};\nconst flowType = flowTypes[intent] || 'generic_flow';\n\n// Service-specific messages (override intent-level)\nconst serviceMessages = {\n  'close_osek_patur': 'שלום ' + name + ' 👋\\nראיתי שהתעניינת בסגירת עוסק פטור.\\nהתהליך כולל סגירה מול מע״מ, מס הכנסה וביטוח לאומי — אנחנו יכולים לטפל בהכל בשבילך.\\n\\nאיפה אתה נמצא בתהליך?\\n🚀 רוצה לסגור עכשיו\\n📅 מתכנן לסגור בקרוב\\n🔍 רק בודק מה צריך\\n\\n💬 תמיד אפשר לדבר עם נציג.',\n  'close_osek_murshe': 'שלום ' + name + ' 👋\\nראיתי שהתעניינת בסגירת עוסק מורשה.\\nאנחנו יכולים לטפל בכל התהליך.\\n\\n🚀 רוצה לסגור עכשיו\\n📅 מתכנן בקרוב\\n📞 לדבר עם רואה חשבון',\n  'close_company': 'שלום ' + name + ' 👋\\nראיתי שהתעניינת בסגירת חברה.\\nהתהליך כולל סגירה מול רשם החברות, מע״מ, מס הכנסה וביטוח לאומי.\\n\\n🚀 רוצה לסגור עכשיו\\n📅 מתכנן בקרוב\\n📞 לדבר עם רואה חשבון',\n  'open_osek_murshe': 'שלום ' + name + ' 👋\\nראיתי שהשארת פרטים לגבי פתיחת עוסק מורשה.\\nאני כאן כדי לעזור לך להתחיל בצורה מסודרת.\\n\\nאיפה אתה נמצא בתהליך?\\n🚀 רוצה להתחיל עכשיו\\n📅 מתחיל בקרוב\\n🔍 רק בודק מידע\\n\\n💬 תמיד אפשר לדבר עם נציג, לשאול שאלה, או לשמוע כמה זה עולה.',\n  'open_hevra': 'שלום ' + name + ' 👋\\nראיתי שהתעניינת בהקמת חברה בע״מ.\\nאני כאן כדי לעזור לך להבין את התהליך ולהתקדם.\\n\\n🚀 רוצה להתחיל עכשיו\\n📅 מתחיל בקרוב\\n📞 לדבר עם רואה חשבון\\n💰 כמה זה עולה',\n  'status_change': 'שלום ' + name + ' 👋\\nראיתי שהתעניינת בשינוי סטטוס עסק.\\nנשמח לעזור לך להתקדם בצורה מסודרת.\\n\\n📞 לדבר עם רואה חשבון\\n❓ לשאול שאלה\\n🚀 להתחיל עכשיו',\n  'transition_hevra': 'שלום ' + name + ' 👋\\nראיתי שהתעניינת במעבר לחברה בע״מ.\\nנשמח לעזור לך להבין את התהליך ולעשות את זה נכון.\\n\\n📞 לדבר עם רואה חשבון\\n💰 כמה זה עולה\\n❓ לשאול שאלה'\n};\n\n// Intent-level messages\nconst intentMessages = {\n  'service': 'שלום ' + name + ' 👋\\nראיתי שהשארת פרטים לגבי פתיחת עוסק פטור.\\nאני כאן כדי לעזור לך להתחיל בצורה מסודרת מול מע״מ, מס הכנסה וביטוח לאומי.\\n\\nאיפה אתה נמצא בתהליך?\\n🚀 רוצה להתחיל עכשיו\\n📅 מתחיל בקרוב\\n🔍 רק בודק מידע\\n\\n💬 תמיד אפשר לדבר עם נציג, לשאול שאלה, או לשמוע כמה זה עולה.',\n  'comparison': 'שלום ' + name + ' 👋\\nראיתי שהתעניינת בנושא עוסק פטור או מורשה.\\nאני יכול לעזור לך להבין מה כנראה יותר מתאים לך בכמה שאלות קצרות.\\n\\nמתי אתה מתכנן להתחיל את העסק?\\n📅 בשבועות הקרובים\\n🗓️ בחודשים הקרובים\\n🔍 רק בודק אפשרויות\\n\\n💬 תמיד אפשר לדבר עם נציג או לשאול שאלה.',\n  'guide': 'שלום ' + name + ' 👋\\nראיתי שהשארת פרטים ונתעניינת במידע.\\nאם תרצה, אני יכול לעשות לך סדר קצר ולעזור לך להתקדם בלי טעויות.\\n\\nמה היית רוצה עכשיו?\\n📋 להבין את השלבים\\n📞 לדבר עם רואה חשבון\\n🚀 להתחיל פתיחה\\n❓ לשאול שאלה',\n  'pricing': 'שלום ' + name + ' 👋\\nראיתי שהתעניינת בנושא המחיר.\\n\\nברוב המקרים השירות הוא סביב:\\n💰 200 ₪ + מע״מ לחודש\\n💰 250 ₪ + מע״מ חד פעמי (פתיחת תיק)\\n\\nזה כולל: דוח שנתי, ליווי וייעוץ, התנהלות מול הרשויות, אפליקציה להוצאת קבלות ומנהלת תיק זמינה.\\n\\nמה היית רוצה עכשיו?\\n📝 לקבל הצעת מחיר מדויקת\\n📞 לדבר עם רואה חשבון\\n🚀 להתחיל פתיחה\\n❓ לשאול שאלה',\n  'accounting_service': 'שלום ' + name + ' 👋\\nראיתי שהתעניינת בשירות רואה חשבון.\\nאני יכול להסביר לך בקצרה מה השירות כולל ולעזור לך להבין איך הכי נכון להתקדם.\\n\\nמה הכי חשוב לך כרגע?\\n💰 מחיר\\n🤝 ליווי שוטף\\n📊 דוח שנתי\\n😌 שקט נפשי\\n\\n💬 תמיד אפשר לדבר עם נציג או לשאול שאלה.'\n};\n\n// Choose message: service-specific > intent-level > fallback\nlet message = serviceMessages[serviceType] || intentMessages[intent];\n\nif (!message) {\n  message = 'שלום ' + name + ' 👋\\nתודה שהשארת פרטים.\\nאני כאן כדי לעזור — במה אוכל לסייע?\\n\\n🏢 פתיחת עסק\\n📞 לדבר עם מומחה\\n💰 לשמוע מחיר\\n❓ לשאול שאלה';\n}\n\nreturn [{ json: {\n  ...data,\n  page_intent: intent,\n  flow_type: flowType,\n  service_type: serviceType,\n  bot_message: message,\n  chat_id: chatId\n}}];\n"},"id":"bot-msg-builder","name":"Build Dynamic Bot Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,300]},{"parameters":{"message":"={{ $json.bot_message }}","chatId":"={{ $json.chat_id }}","typingTime":2},"id":"bot-wa-send","name":"Send WA - Dynamic Bot","type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapi","typeVersion":1,"position":[1080,300],"credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}}},{"parameters":{"method":"POST","url":"https://fnsnnezhikgqajdbtwoa.supabase.co/rest/v1/rpc/bot_save_session","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZuc25uZXpoaWtncWFqZGJ0d29hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3ODkwMCwiZXhwIjoyMDg0NTU0OTAwfQ.ncDeHwwY3lD88i3dS98-7ETV4als0pzFn7Cz6UXC_RM"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZuc25uZXpoaWtncWFqZGJ0d29hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3ODkwMCwiZXhwIjoyMDg0NTU0OTAwfQ.ncDeHwwY3lD88i3dS98-7ETV4als0pzFn7Cz6UXC_RM"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ p_phone: $json.phone, p_page_intent: $json.page_intent || \"guide\", p_flow_type: $json.flow_type || \"generic_flow\", p_service_type: $json.service_type || \"\", p_source_page: $json.source_page || \"\" }) }}","options":{"timeout":10000}},"id":"save-bot-session","name":"Save Bot Session","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,300]}],"connections":{"Webhook":{"main":[[{"node":"Parse CRM Event","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Validate Phone","type":"main","index":0}]]},"Is New Lead?":{"main":[[{"node":"Build Dynamic Bot Message","type":"main","index":0}],[{"node":"Handle Status Change","type":"main","index":0}]]},"Validate Phone":{"main":[[{"node":"Is New Lead?","type":"main","index":0}],[{"node":"Log Invalid Phone","type":"main","index":0}]]},"Handle Status Change":{"main":[[{"node":"Notify Owner - Status Change","type":"main","index":0},{"node":"Notify Customer?","type":"main","index":0},{"node":"Route to Followup","type":"main","index":0}]]},"Notify Customer?":{"main":[[{"node":"Send WA - Status Update","type":"main","index":0}]]},"Check Send Errors":{"main":[[{"node":"Alert Owner - Send Error","type":"main","index":0}]]},"Parse CRM Event":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Build Dynamic Bot Message":{"main":[[{"node":"Send WA - Dynamic Bot","type":"main","index":0}]]},"Send WA - Dynamic Bot":{"main":[[{"node":"Alert Owner - New Lead","type":"main","index":0},{"node":"Check Send Errors","type":"main","index":0},{"node":"Route to Followup","type":"main","index":0},{"node":"Save Bot Session","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"}}