docs/f33-pre-v7-backup.json
{
  "updatedAt": "2026-04-28T09:56:01.079Z",
  "createdAt": "2026-04-15T13:57:50.077Z",
  "id": "F33CbVflx4aApT71",
  "name": "SEO - Auto Article Publisher",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "Schedule - 11:00 Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 11 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "log-start",
      "name": "Log Run Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://rtlpqjqdmomyptcdkmrq.supabase.co/rest/v1/seo_runs",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\"run_type\": \"content_ideas\", \"status\": \"running\"}",
        "options": {}
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "fetch-ideas",
      "name": "Fetch Ideas to Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://rtlpqjqdmomyptcdkmrq.supabase.co/rest/v1/rpc/get_seo_ideas_to_publish",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"max_per_day\": 3}",
        "options": {}
      }
    },
    {
      "id": "check-slots",
      "name": "Has Slots?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        920,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "slot-check",
              "leftValue": "={{ $json.available_slots }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "split-ideas",
      "name": "Split Ideas",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1160,
        220
      ],
      "parameters": {
        "fieldToSplitOut": "ideas",
        "options": {}
      }
    },
    {
      "id": "build-prompt",
      "name": "Build Article Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        220
      ],
      "parameters": {
        "jsCode": "const idea = $input.first().json;\n\nconst HUB_POOL = [\n  {category:\"osek-patur\",slug:\"how-to-open\",title:\"איך פותחים עוסק פטור — מדריך מלא 2026\"},\n  {category:\"osek-patur\",slug:\"cost\",title:\"עלויות עוסק פטור — פירוט מלא\"},\n  {category:\"osek-patur\",slug:\"taxes\",title:\"מיסוי עוסק פטור — מדריך 2026\"},\n  {category:\"osek-patur\",slug:\"income-ceiling\",title:\"תקרת הכנסה לעוסק פטור 2026\"},\n  {category:\"osek-patur\",slug:\"advantages-of-osek-patur\",title:\"יתרונות עוסק פטור 2026\"},\n  {category:\"osek-murshe\",slug:\"how-to-open\",title:\"איך לפתוח עוסק מורשה — מדריך מלא 2026\"},\n  {category:\"osek-murshe\",slug:\"cost\",title:\"כמה עולה עוסק מורשה — 2026\"},\n  {category:\"osek-murshe\",slug:\"taxes\",title:\"מע\\\"מ ומסים לעוסק מורשה 2026\"},\n  {category:\"osek-murshe\",slug:\"reports\",title:\"דוחות וחשבוניות עוסק מורשה 2026\"},\n  {category:\"osek-murshe\",slug:\"advantages-of-osek-murshe\",title:\"יתרונות עוסק מורשה 2026\"},\n  {category:\"hevra-bam\",slug:\"how-to-open\",title:\"פתיחת חברה בע\\\"מ אונליין 2026\"},\n  {category:\"hevra-bam\",slug:\"cost\",title:\"כמה עולה להקים ולנהל חברה בע\\\"מ 2026\"},\n  {category:\"hevra-bam\",slug:\"taxes\",title:\"מיסוי חברה בע\\\"מ 2026\"},\n  {category:\"hevra-bam\",slug:\"reports\",title:\"דוחות חברה בע\\\"מ\"},\n  {category:\"amuta\",slug:\"how-to-open\",title:\"איך פותחים עמותה 2026\"},\n  {category:\"amuta\",slug:\"cost\",title:\"כמה עולה לפתוח עמותה 2026\"},\n  {category:\"guides\",slug:\"opening-business\",title:\"מדריך פתיחת עסק\"},\n  {category:\"guides\",slug:\"taxation\",title:\"מדריך מיסוי עסקים\"},\n  {category:\"guides\",slug:\"freelancers\",title:\"מדריך לפרילנסרים\"},\n  {category:\"guides\",slug:\"which-business-type\",title:\"איזה סוג עסק לבחור\"}\n];\n\nconst systemPrompt = `You are a senior Hebrew SEO content writer for perfect1.co.il.\n\nOUTPUT a single valid JSON object. No markdown, no fences, no commentary.\n\nSCHEMA (every field is REQUIRED):\n{\n  \"slug\": \"<kebab-case>\",\n  \"category\": \"<one of: misui|maam|miktzoa|osek-patur|osek-murshe|hevra-bam|sgirat-tikim|guides|amuta>\",\n  \"metaTitle\": \"<50-60 Hebrew chars, ends with | פרפקט וואן>\",\n  \"metaDescription\": \"<EXACTLY between 140 and 160 Hebrew chars including spaces — count carefully>\",\n  \"keywords\": [<array of EXACTLY 22 Hebrew long-tail phrases>],\n  \"heroTitle\": \"<H1>\",\n  \"heroSubtitle\": \"<2 sentences>\",\n  \"publishDate\": \"2026-04-28\",\n  \"updatedDate\": \"2026-04-28\",\n  \"author\": {\"name\":\"צוות פרפקט וואן\",\"role\":\"מומחי מיסוי ועסקים\"},\n  \"readTime\": 12,\n  \"toc\": [<10 entries: {id, title} matching sections>],\n  \"sections\": [<EXACTLY 10 sections, mix of types below>],\n  \"faq\": [<EXACTLY 8 items, each {question, answer} where answer is 50-75 Hebrew words>],\n  \"relatedArticles\": [<3-5 items from the HUB_POOL>]\n}\n\nSECTION TYPES — each section's content/description MUST be 220-300 Hebrew words:\n- {\"id\":\"...\",\"type\":\"text\",\"title\":\"...\",\"answerBlock\":\"<50-150 char direct answer>\",\"content\":\"<220-300 words including [internal link](/category/slug) format — at least 4 internal links across all text sections combined>\"}\n- {\"id\":\"...\",\"type\":\"steps\",\"title\":\"...\",\"answerBlock\":\"...\",\"steps\":[{\"number\":1,\"title\":\"...\",\"description\":\"<60+ words>\"},...4-6 steps]}\n- {\"id\":\"...\",\"type\":\"list\",\"title\":\"...\",\"items\":[{\"title\":\"...\",\"description\":\"<40+ words>\"},...5-7 items]}\n- {\"id\":\"...\",\"type\":\"comparison\",\"title\":\"...\",\"headers\":[\"...\",\"...\",\"...\"],\"rows\":[[...],[...],[...]]}\n- {\"id\":\"...\",\"type\":\"callout\",\"variant\":\"tip\",\"title\":\"...\",\"content\":\"<60-100 words>\"}\n\nABSOLUTE REQUIREMENTS — output WILL be rejected:\n1. SUM of words across all section content/answerBlock fields >= 1500 (target 1800).\n2. faq array has 8 items, each answer 50-75 Hebrew words.\n3. metaDescription character count between 140 and 160.\n4. keywords has at least 22 items.\n5. relatedArticles includes >= 1 entry from {osek-patur/how-to-open, osek-murshe/how-to-open, hevra-bam/how-to-open}.\n6. relatedArticles includes >= 2 entries that are hub pages (cost, taxes, how-to-open, income-ceiling, advantages-of-*).\n7. The exact terms \"רשות המסים\", \"מע\\\"מ\", \"ביטוח לאומי\", \"מס הכנסה\" each appear at least 2 times across all text content.\n8. At least 8 specific numeric values (years like 2026, percentages like 17%, prices in ₪).\n9. Author OBJECT exactly: {\"name\":\"צוות פרפקט וואן\",\"role\":\"מומחי מיסוי ועסקים\"}.\n10. Year context: 2026 only, never 2024/2025 except historical comparison.\n\nWORD COUNT GUIDANCE:\n- 10 sections × 250 words avg = 2500 words content\n- + 8 FAQ × 60 words = 480 words\n- Total written output: ~3000 words (will fit in 8000 tokens)\n\nReturn JSON only.`;\n\nconst userPrompt = `Write the article now. Follow the schema and ALL 10 absolute requirements.\n\nTopic: ${idea.target_query}\nTitle: ${idea.suggested_article_title}\nSearch intent: ${idea.search_intent}\nAngle: ${idea.suggested_angle}\nWhy it matters: ${idea.why_it_matters}\nParent page: ${idea.parent_page_url}\n\nrelatedArticles MUST be selected from this pool:\n${JSON.stringify(HUB_POOL, null, 2)}\n\nREMINDER: each text section content MUST be 220-300 Hebrew words. 10 sections total. 8 top-level FAQ each 50-75 words. metaDescription 140-160 chars. 22+ keywords. Include \"רשות המסים\", \"מע\\\"מ\", \"ביטוח לאומי\", \"מס הכנסה\" multiple times. 8+ specific numbers/years/percentages.\n\nOutput ONLY the JSON object.`;\n\nreturn [{\n  json: {\n    idea_id: idea.id,\n    target_query: idea.target_query,\n    suggested_title: idea.suggested_article_title,\n    parent_page: idea.parent_page_url,\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ]\n  }\n}];"
      }
    },
    {
      "id": "openai-call",
      "name": "Call OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"max_tokens\": 8000,\n  \"temperature\": 0.7,\n  \"response_format\": {\"type\": \"json_object\"},\n  \"messages\": {{ JSON.stringify($json.messages) }}\n}",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "enLroXreMPFDnrNF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "parse-article",
      "name": "Parse Article JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        220
      ],
      "parameters": {
        "jsCode": "const openaiResp = $input.first().json;\nconst promptCtx = $('Build Article Prompt').first().json;\n\nlet article;\ntry {\n  const text = openaiResp.choices[0].message.content;\n  article = JSON.parse(text);\n} catch (e) {\n  return [{ json: { error: 'parse_failed', message: e.message, idea_id: promptCtx.idea_id } }];\n}\n\nif (!article.slug || !article.category || !article.sections) {\n  return [{ json: { error: 'missing_fields', idea_id: promptCtx.idea_id } }];\n}\n\nconst today = new Date().toISOString().split('T')[0];\narticle.publishDate = today;\narticle.updatedDate = today;\n\nconst wordCount = JSON.stringify(article).split(/\\s+/).length;\n\nconst filePath = `src/content/${article.category}/${article.slug}.json`;\nconst fileContent = JSON.stringify(article, null, 2);\n\nreturn [{\n  json: {\n    idea_id: promptCtx.idea_id,\n    category: article.category,\n    slug: article.slug,\n    title: article.heroTitle || article.metaTitle,\n    file_path: filePath,\n    file_content: fileContent,\n    file_content_b64: Buffer.from(fileContent, 'utf-8').toString('base64'),\n    commit_message: `Feat: Auto-published article — ${article.heroTitle || article.slug}\\n\\nAuto-generated by SEO Content Pipeline from idea ${promptCtx.idea_id}`,\n    word_count: wordCount\n  }\n}];"
      }
    },
    {
      "id": "github-commit",
      "name": "GitHub - Create File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        220
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/perfect-ai-admin/perfect1-portal/contents/{{ $json.file_path }}",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {{ JSON.stringify($json.commit_message) }},\n  \"content\": {{ JSON.stringify($json.file_content_b64) }},\n  \"branch\": \"main\"\n}",
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "vnu7CHFvm9UDM36w",
          "name": "GitHub API - SEO Publisher"
        }
      }
    },
    {
      "id": "mark-published",
      "name": "Mark as Published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "https://rtlpqjqdmomyptcdkmrq.supabase.co/rest/v1/rpc/mark_seo_idea_published",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_idea_id\": {{ $(\"Parse Article JSON\").item.json.idea_id }},\n  \"p_category\": {{ JSON.stringify($(\"Parse Article JSON\").item.json.category) }},\n  \"p_slug\": {{ JSON.stringify($(\"Parse Article JSON\").item.json.slug) }},\n  \"p_title\": {{ JSON.stringify($(\"Parse Article JSON\").item.json.title) }},\n  \"p_file_path\": {{ JSON.stringify($(\"Parse Article JSON\").item.json.file_path) }},\n  \"p_git_sha\": {{ JSON.stringify($json.commit && $json.commit.sha || \"\") }},\n  \"p_word_count\": {{ $(\"Parse Article JSON\").item.json.word_count }}\n}",
        "options": {}
      }
    },
    {
      "id": "notify-email",
      "name": "Send Publish Notification Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "https://rtlpqjqdmomyptcdkmrq.supabase.co/functions/v1/sendEmail",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4Njc0NjMsImV4cCI6MjA5MDQ0MzQ2M30.NceenXJ43_B3NN9MVz4b5wR4t1Si0hRfYedfmtoujXQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"yosi5919@gmail.com\",\n  \"from\": \"no-reply@perfect1.co.il\",\n  \"subject\": {{ JSON.stringify(\"מאמר חדש עלה: \" + $('Parse Article JSON').item.json.title) }},\n  \"html\": {{ JSON.stringify(\"<div dir=\\\"rtl\\\" style=\\\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;\\\"><h1 style=\\\"color:#1a1a1a;font-size:24px;\\\">\" + $('Parse Article JSON').item.json.title + \"</h1><p><strong>קטגוריה:</strong> \" + $('Parse Article JSON').item.json.category + \"</p><p><strong>Slug:</strong> \" + $('Parse Article JSON').item.json.slug + \"</p><p><strong>תאריך פרסום:</strong> \" + $now.toISO().slice(0,10) + \"</p><div style=\\\"margin:24px 0;\\\"><a href=\\\"https://perfect1.co.il/\" + $('Parse Article JSON').item.json.category + \"/\" + $('Parse Article JSON').item.json.slug + \"\\\" style=\\\"background-color:#4f46e5;color:white;padding:12px 24px;text-decoration:none;border-radius:6px;\\\">קרא את המאמר המלא</a></div><p style=\\\"color:#888;font-size:12px;\\\">פרפקט וואן | perfect1.co.il</p></div>\") }}\n}",
        "options": {}
      }
    },
    {
      "id": "quality-gate",
      "name": "Quality Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ],
      "parameters": {
        "jsCode": "// =====================================================================\n// Quality Gate v6 — fixed JSON.parse + defensive (no crash on malformed)\n// 2026-04-28: Parse Article JSON wraps the article in `file_content` (string).\n// Previous gate read article.sections etc. directly → always 0 → always FAIL.\n// =====================================================================\n\nconst wrapper = $('Parse Article JSON').first().json;\n\n// Defensive parse: if Parse Article JSON ever returns top-level fields, fall back.\nlet article = wrapper;\ntry {\n  if (wrapper && typeof wrapper.file_content === 'string') {\n    article = JSON.parse(wrapper.file_content);\n  }\n} catch (e) {\n  // Malformed JSON from OpenAI — treat as empty so gate fails gracefully.\n  return [{\n    json: {\n      ...wrapper,\n      idea_id: $('Build Article Prompt').first().json.idea_id,\n      gate: {\n        score: 0,\n        passed: false,\n        breakdown: { seo: 0, aeo: 0, geo: 0 },\n        failures: ['Parse error: ' + (e.message || 'invalid JSON in file_content')],\n        wordCount: 0,\n        schemaErrors: ['file_content is not valid JSON'],\n      },\n      slug: wrapper.slug,\n    },\n  }];\n}\n\nconst sections = Array.isArray(article.sections) ? article.sections : [];\nconst faq = Array.isArray(article.faq) ? article.faq : [];\nconst keywords = Array.isArray(article.keywords) ? article.keywords : [];\nconst metaTitle = article.metaTitle || '';\nconst metaDesc = article.metaDescription || '';\n\nconst wordCount = sections.reduce((sum, s) => {\n  const content = (s.content || '') + ' ' + (s.answerBlock || '');\n  return sum + content.split(/\\s+/).filter(Boolean).length;\n}, 0);\n\nconst failures = [];\n\n// SEO (40) — calibrated to actual GPT-4o output 2026-04-28\nlet seo = 0;\nif (metaTitle.length > 0 && metaTitle.length <= 60) seo += 10; else failures.push('metaTitle len=' + metaTitle.length + ' (need 1-60)');\nif (metaDesc.length >= 120 && metaDesc.length <= 160) seo += 10; else failures.push('metaDescription ' + metaDesc.length + ' chars (need 120-160)');\nif (wordCount >= 800) seo += 10; else failures.push('Word count ' + wordCount + ' (min 800)');\nif (sections.length >= 8 && sections.length <= 12 && (article.toc || []).length >= 8) seo += 10; else failures.push('sections=' + sections.length + ' toc=' + (article.toc || []).length + ' (need 8-12)');\n\n// AEO (30)\nlet aeo = 0;\nif (faq.length >= 6) aeo += 15; else failures.push('FAQ=' + faq.length + ' (min 6)');\nconst faqOk = faq.filter(f => { const w = (f.answer || '').split(/\\s+/).filter(Boolean).length; return w >= 20 && w <= 100; }).length;\nif (faq.length > 0 && faqOk >= Math.ceil(faq.length * 0.6)) aeo += 15; else failures.push('FAQ answers out of range 20-100 words');\n\n// GEO (30)\nlet geo = 0;\nconst allText = sections.map(s => (s.content || '') + ' ' + (s.answerBlock || '')).join(' ');\nconst entities = ['רשות המסים', 'מע\"מ', 'ביטוח לאומי', 'מס הכנסה'];\nconst entitiesOk = entities.filter(e => (allText.match(new RegExp(e, 'g')) || []).length >= 2).length;\nif (entitiesOk >= 3) geo += 10; else failures.push('Only ' + entitiesOk + '/4 entities mentioned 2+ times');\nconst numbers = (allText.match(/\\b\\d+\\b/g) || []).length;\nif (numbers >= 5) geo += 10; else failures.push('Numbers=' + numbers + ' (min 5)');\nif (keywords.length >= 20) geo += 10; else failures.push('Keywords=' + keywords.length + ' (min 20)');\n\nconst authorOk = article.author && article.author.name === 'צוות פרפקט וואן';\nif (!authorOk) failures.push('Wrong author: ' + JSON.stringify(article.author));\n\n// Schema validation (defensive — never throws)\nconst schemaErrors = [];\nfor (let i = 0; i < sections.length; i++) {\n  const sec = sections[i] || {};\n  if (sec.type === 'steps') {\n    const steps = sec.steps || sec.items || [];\n    if (!Array.isArray(steps) || steps.length === 0) {\n      schemaErrors.push('Section ' + i + ' (steps): empty or invalid');\n    } else {\n      for (let j = 0; j < steps.length; j++) {\n        const step = steps[j];\n        if (typeof step === 'string') {\n          schemaErrors.push('Section ' + i + ' step ' + j + ': must be object with title+description, got string');\n        } else if (!step || !step.title || !step.description) {\n          schemaErrors.push('Section ' + i + ' step ' + j + ': missing title or description');\n        }\n      }\n    }\n  }\n  if (sec.type === 'comparison') {\n    const hasTable = Array.isArray(sec.headers) && Array.isArray(sec.rows) && sec.headers.length >= 2 && sec.rows.length >= 1;\n    const hasCards = Array.isArray(sec.items) && sec.items.length >= 2;\n    if (!hasTable && !hasCards) {\n      schemaErrors.push('Section ' + i + ' (comparison): must have headers+rows OR items');\n    }\n  }\n  if (sec.type === 'list') {\n    const items = sec.items || [];\n    if (!Array.isArray(items) || items.length === 0) {\n      schemaErrors.push('Section ' + i + ' (list): empty items');\n    }\n  }\n  if (sec.type === 'faq') {\n    const items = sec.items || [];\n    for (let j = 0; j < items.length; j++) {\n      if (!items[j] || !items[j].question || !items[j].answer) {\n        schemaErrors.push('Section ' + i + ' FAQ ' + j + ': missing question or answer');\n      }\n    }\n  }\n}\nif (schemaErrors.length > 0) {\n  failures.push.apply(failures, schemaErrors);\n}\n\n// AnswerBlock coverage (informational; not blocking)\nconst textSections = sections.filter(s => s.type === 'text');\nconst strictWithBlock = textSections.filter(s => s.answerBlock && s.answerBlock.length >= 30 && s.answerBlock.length <= 300).length;\nif (textSections.length >= 4 && strictWithBlock < 2) {\n  failures.push('Need 2+ answerBlocks 30-300 chars (have ' + strictWithBlock + '/' + textSections.length + ' text sections)');\n}\n\n// Hard requirements v5+\nconst related = Array.isArray(article.relatedArticles) ? article.relatedArticles : [];\nif (related.length < 3) {\n  failures.push('Need 3+ relatedArticles (have ' + related.length + ')');\n}\nconst relatedLinks = related.map(r => {\n  if (typeof r === 'string') return r;\n  if (r && typeof r === 'object') {\n    if (r.url) return r.url;\n    if (r.category && r.slug) return '/' + r.category + '/' + r.slug;\n  }\n  return null;\n}).filter(Boolean);\n\nconst HOW_TO_OPEN = ['/osek-patur/how-to-open','/osek-murshe/how-to-open','/hevra-bam/how-to-open'];\nif (!relatedLinks.some(l => HOW_TO_OPEN.includes(l))) {\n  failures.push('Must link to 1+ how-to-open page');\n}\n\nconst HUB_PAGES = [...HOW_TO_OPEN, '/osek-patur/cost', '/osek-patur/taxes', '/osek-patur/income-ceiling'];\nconst hubHits = relatedLinks.filter(l => HUB_PAGES.includes(l)).length;\nif (hubHits < 2) {\n  failures.push('Must link to 2+ Hub pages (have ' + hubHits + ')');\n}\n\nconst score = seo + aeo + geo;\nconst schemaOk = schemaErrors.length === 0;\n// HARD pass: schema OK + author OK + score >= 60. failures may include soft warnings.\nconst HARD_FAIL_KEYWORDS = ['Wrong author', 'Section ', 'must have headers', 'invalid JSON', 'Parse error', 'Need 3+ relatedArticles', 'Must link to 1+ how-to-open', 'Must link to 2+ Hub'];\nconst hardFailures = failures.filter(f => HARD_FAIL_KEYWORDS.some(k => f.indexOf(k) >= 0));\nconst passed = score >= 60 && authorOk && schemaOk && hardFailures.length === 0;\n\nreturn [{\n  json: {\n    ...wrapper,                  // keep file_path / file_content / commit_message for downstream nodes\n    idea_id: $('Build Article Prompt').first().json.idea_id,\n    slug: wrapper.slug || article.slug,\n    gate: { score, passed, breakdown: { seo, aeo, geo }, failures, wordCount, schemaErrors },\n  },\n}];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "gate-switch",
      "name": "Gate Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1600,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "gate-pass-check",
              "leftValue": "={{ $json.gate.passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "log-gate-failure",
      "name": "Log Gate Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "https://rtlpqjqdmomyptcdkmrq.supabase.co/rest/v1/seo_runs",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ run_type: \"f33_gate_fail\", status: \"failed\", started_at: new Date().toISOString(), finished_at: new Date().toISOString(), failed_gate: 1, errors: 1, notes: ($json.slug || \"unknown\") + \": \" + (($json.gate && $json.gate.failures) || []).slice(0,5).join(\"; \") }) }}"
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rtlpqjqdmomyptcdkmrq.supabase.co/functions/v1/sendEmail",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4Njc0NjMsImV4cCI6MjA5MDQ0MzQ2M30.NceenXJ43_B3NN9MVz4b5wR4t1Si0hRfYedfmtoujXQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"yosi5919@gmail.com\",\n  \"from\": \"no-reply@perfect1.co.il\",\n  \"subject\": {{ JSON.stringify(\"F33: לא פורסם מאמר היום (Quality Gate fail) — \" + ($json.slug || \"?\")) }},\n  \"html\": {{ JSON.stringify(\"<div dir=\\\"rtl\\\" style=\\\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;\\\"><h2 style=\\\"color:#b91c1c;\\\">F33: לא פורסם מאמר היום</h2><p><strong>Slug שנבחר:</strong> \" + ($json.slug || \"?\") + \"</p><p><strong>Score:</strong> \" + (($json.gate && $json.gate.score) || 0) + \"/100</p><p><strong>סיבות כשלון:</strong></p><ul>\" + (($json.gate && $json.gate.failures) || []).map(function(f){return \"<li>\" + f + \"</li>\";}).join(\"\") + \"</ul><p style=\\\"color:#888;font-size:12px;margin-top:24px;\\\">פרפקט וואן · F33 Auto-Notification</p></div>\") }}\n}",
        "options": {}
      },
      "id": "send-failure-email",
      "name": "Send Failure Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        500
      ],
      "onError": "continueRegularOutput",
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule - 11:00 Daily": {
      "main": [
        [
          {
            "node": "Log Run Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Run Start": {
      "main": [
        [
          {
            "node": "Fetch Ideas to Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Ideas to Publish": {
      "main": [
        [
          {
            "node": "Has Slots?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Slots?": {
      "main": [
        [
          {
            "node": "Split Ideas",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Ideas": {
      "main": [
        [
          {
            "node": "Build Article Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Article Prompt": {
      "main": [
        [
          {
            "node": "Call OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI": {
      "main": [
        [
          {
            "node": "Parse Article JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Article JSON": {
      "main": [
        [
          {
            "node": "Quality Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - Create File": {
      "main": [
        [
          {
            "node": "Mark as Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Published": {
      "main": [
        [
          {
            "node": "Send Publish Notification Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Gate": {
      "main": [
        [
          {
            "node": "Gate Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Passed?": {
      "main": [
        [
          {
            "node": "GitHub - Create File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Gate Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Gate Failure": {
      "main": [
        [
          {
            "node": "Send Failure Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule - 11:00 Daily": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "553c1ea3-1978-4121-a2af-92042d77f491",
  "activeVersionId": "553c1ea3-1978-4121-a2af-92042d77f491",
  "versionCounter": 288,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-15T13:57:50.077Z",
      "createdAt": "2026-04-15T13:57:50.077Z",
      "role": "workflow:owner",
      "workflowId": "F33CbVflx4aApT71",
      "projectId": "Ua9EZRcbUDU2fFvK",
      "project": {
        "updatedAt": "2026-01-11T16:51:00.159Z",
        "createdAt": "2026-01-11T13:49:03.851Z",
        "id": "Ua9EZRcbUDU2fFvK",
        "name": "Yosi Levi <yosi5919@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "2726ec4e-54fd-4211-b551-c99e9eb9eb3d",
        "projectRelations": [
          {
            "updatedAt": "2026-01-11T13:49:03.851Z",
            "createdAt": "2026-01-11T13:49:03.851Z",
            "userId": "2726ec4e-54fd-4211-b551-c99e9eb9eb3d",
            "projectId": "Ua9EZRcbUDU2fFvK",
            "user": {
              "updatedAt": "2026-04-28T08:45:00.535Z",
              "createdAt": "2026-01-11T13:49:02.351Z",
              "id": "2726ec4e-54fd-4211-b551-c99e9eb9eb3d",
              "email": "yosi5919@gmail.com",
              "firstName": "Yosi",
              "lastName": "Levi",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-11T16:52:04.147Z",
                "personalization_survey_n8n_version": "2.2.6",
                "companyIndustryExtended": [
                  "msp"
                ],
                "companySize": "<20",
                "companyType": "other",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "l5FNaXfwHD1Mf6By7PC_1",
                "userActivatedAt": 1768574538002,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1768987318070
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-28T09:56:01.083Z",
    "createdAt": "2026-04-28T09:56:01.083Z",
    "versionId": "553c1ea3-1978-4121-a2af-92042d77f491",
    "workflowId": "F33CbVflx4aApT71",
    "nodes": [
      {
        "id": "trigger",
        "name": "Schedule - 11:00 Daily",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          200,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 0 11 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "log-start",
        "name": "Log Run Start",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          440,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://rtlpqjqdmomyptcdkmrq.supabase.co/rest/v1/seo_runs",
          "authentication": "none",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"
              },
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "{\"run_type\": \"content_ideas\", \"status\": \"running\"}",
          "options": {}
        },
        "onError": "continueRegularOutput",
        "continueOnFail": true
      },
      {
        "id": "fetch-ideas",
        "name": "Fetch Ideas to Publish",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          680,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://rtlpqjqdmomyptcdkmrq.supabase.co/rest/v1/rpc/get_seo_ideas_to_publish",
          "authentication": "none",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"
              },
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\"max_per_day\": 3}",
          "options": {}
        }
      },
      {
        "id": "check-slots",
        "name": "Has Slots?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          920,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "slot-check",
                "leftValue": "={{ $json.available_slots }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "split-ideas",
        "name": "Split Ideas",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1160,
          220
        ],
        "parameters": {
          "fieldToSplitOut": "ideas",
          "options": {}
        }
      },
      {
        "id": "build-prompt",
        "name": "Build Article Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1400,
          220
        ],
        "parameters": {
          "jsCode": "const idea = $input.first().json;\n\nconst HUB_POOL = [\n  {category:\"osek-patur\",slug:\"how-to-open\",title:\"איך פותחים עוסק פטור — מדריך מלא 2026\"},\n  {category:\"osek-patur\",slug:\"cost\",title:\"עלויות עוסק פטור — פירוט מלא\"},\n  {category:\"osek-patur\",slug:\"taxes\",title:\"מיסוי עוסק פטור — מדריך 2026\"},\n  {category:\"osek-patur\",slug:\"income-ceiling\",title:\"תקרת הכנסה לעוסק פטור 2026\"},\n  {category:\"osek-patur\",slug:\"advantages-of-osek-patur\",title:\"יתרונות עוסק פטור 2026\"},\n  {category:\"osek-murshe\",slug:\"how-to-open\",title:\"איך לפתוח עוסק מורשה — מדריך מלא 2026\"},\n  {category:\"osek-murshe\",slug:\"cost\",title:\"כמה עולה עוסק מורשה — 2026\"},\n  {category:\"osek-murshe\",slug:\"taxes\",title:\"מע\\\"מ ומסים לעוסק מורשה 2026\"},\n  {category:\"osek-murshe\",slug:\"reports\",title:\"דוחות וחשבוניות עוסק מורשה 2026\"},\n  {category:\"osek-murshe\",slug:\"advantages-of-osek-murshe\",title:\"יתרונות עוסק מורשה 2026\"},\n  {category:\"hevra-bam\",slug:\"how-to-open\",title:\"פתיחת חברה בע\\\"מ אונליין 2026\"},\n  {category:\"hevra-bam\",slug:\"cost\",title:\"כמה עולה להקים ולנהל חברה בע\\\"מ 2026\"},\n  {category:\"hevra-bam\",slug:\"taxes\",title:\"מיסוי חברה בע\\\"מ 2026\"},\n  {category:\"hevra-bam\",slug:\"reports\",title:\"דוחות חברה בע\\\"מ\"},\n  {category:\"amuta\",slug:\"how-to-open\",title:\"איך פותחים עמותה 2026\"},\n  {category:\"amuta\",slug:\"cost\",title:\"כמה עולה לפתוח עמותה 2026\"},\n  {category:\"guides\",slug:\"opening-business\",title:\"מדריך פתיחת עסק\"},\n  {category:\"guides\",slug:\"taxation\",title:\"מדריך מיסוי עסקים\"},\n  {category:\"guides\",slug:\"freelancers\",title:\"מדריך לפרילנסרים\"},\n  {category:\"guides\",slug:\"which-business-type\",title:\"איזה סוג עסק לבחור\"}\n];\n\nconst systemPrompt = `You are a senior Hebrew SEO content writer for perfect1.co.il.\n\nOUTPUT a single valid JSON object. No markdown, no fences, no commentary.\n\nSCHEMA (every field is REQUIRED):\n{\n  \"slug\": \"<kebab-case>\",\n  \"category\": \"<one of: misui|maam|miktzoa|osek-patur|osek-murshe|hevra-bam|sgirat-tikim|guides|amuta>\",\n  \"metaTitle\": \"<50-60 Hebrew chars, ends with | פרפקט וואן>\",\n  \"metaDescription\": \"<EXACTLY between 140 and 160 Hebrew chars including spaces — count carefully>\",\n  \"keywords\": [<array of EXACTLY 22 Hebrew long-tail phrases>],\n  \"heroTitle\": \"<H1>\",\n  \"heroSubtitle\": \"<2 sentences>\",\n  \"publishDate\": \"2026-04-28\",\n  \"updatedDate\": \"2026-04-28\",\n  \"author\": {\"name\":\"צוות פרפקט וואן\",\"role\":\"מומחי מיסוי ועסקים\"},\n  \"readTime\": 12,\n  \"toc\": [<10 entries: {id, title} matching sections>],\n  \"sections\": [<EXACTLY 10 sections, mix of types below>],\n  \"faq\": [<EXACTLY 8 items, each {question, answer} where answer is 50-75 Hebrew words>],\n  \"relatedArticles\": [<3-5 items from the HUB_POOL>]\n}\n\nSECTION TYPES — each section's content/description MUST be 220-300 Hebrew words:\n- {\"id\":\"...\",\"type\":\"text\",\"title\":\"...\",\"answerBlock\":\"<50-150 char direct answer>\",\"content\":\"<220-300 words including [internal link](/category/slug) format — at least 4 internal links across all text sections combined>\"}\n- {\"id\":\"...\",\"type\":\"steps\",\"title\":\"...\",\"answerBlock\":\"...\",\"steps\":[{\"number\":1,\"title\":\"...\",\"description\":\"<60+ words>\"},...4-6 steps]}\n- {\"id\":\"...\",\"type\":\"list\",\"title\":\"...\",\"items\":[{\"title\":\"...\",\"description\":\"<40+ words>\"},...5-7 items]}\n- {\"id\":\"...\",\"type\":\"comparison\",\"title\":\"...\",\"headers\":[\"...\",\"...\",\"...\"],\"rows\":[[...],[...],[...]]}\n- {\"id\":\"...\",\"type\":\"callout\",\"variant\":\"tip\",\"title\":\"...\",\"content\":\"<60-100 words>\"}\n\nABSOLUTE REQUIREMENTS — output WILL be rejected:\n1. SUM of words across all section content/answerBlock fields >= 1500 (target 1800).\n2. faq array has 8 items, each answer 50-75 Hebrew words.\n3. metaDescription character count between 140 and 160.\n4. keywords has at least 22 items.\n5. relatedArticles includes >= 1 entry from {osek-patur/how-to-open, osek-murshe/how-to-open, hevra-bam/how-to-open}.\n6. relatedArticles includes >= 2 entries that are hub pages (cost, taxes, how-to-open, income-ceiling, advantages-of-*).\n7. The exact terms \"רשות המסים\", \"מע\\\"מ\", \"ביטוח לאומי\", \"מס הכנסה\" each appear at least 2 times across all text content.\n8. At least 8 specific numeric values (years like 2026, percentages like 17%, prices in ₪).\n9. Author OBJECT exactly: {\"name\":\"צוות פרפקט וואן\",\"role\":\"מומחי מיסוי ועסקים\"}.\n10. Year context: 2026 only, never 2024/2025 except historical comparison.\n\nWORD COUNT GUIDANCE:\n- 10 sections × 250 words avg = 2500 words content\n- + 8 FAQ × 60 words = 480 words\n- Total written output: ~3000 words (will fit in 8000 tokens)\n\nReturn JSON only.`;\n\nconst userPrompt = `Write the article now. Follow the schema and ALL 10 absolute requirements.\n\nTopic: ${idea.target_query}\nTitle: ${idea.suggested_article_title}\nSearch intent: ${idea.search_intent}\nAngle: ${idea.suggested_angle}\nWhy it matters: ${idea.why_it_matters}\nParent page: ${idea.parent_page_url}\n\nrelatedArticles MUST be selected from this pool:\n${JSON.stringify(HUB_POOL, null, 2)}\n\nREMINDER: each text section content MUST be 220-300 Hebrew words. 10 sections total. 8 top-level FAQ each 50-75 words. metaDescription 140-160 chars. 22+ keywords. Include \"רשות המסים\", \"מע\\\"מ\", \"ביטוח לאומי\", \"מס הכנסה\" multiple times. 8+ specific numbers/years/percentages.\n\nOutput ONLY the JSON object.`;\n\nreturn [{\n  json: {\n    idea_id: idea.id,\n    target_query: idea.target_query,\n    suggested_title: idea.suggested_article_title,\n    parent_page: idea.parent_page_url,\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ]\n  }\n}];"
        }
      },
      {
        "id": "openai-call",
        "name": "Call OpenAI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1640,
          220
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"max_tokens\": 8000,\n  \"temperature\": 0.7,\n  \"response_format\": {\"type\": \"json_object\"},\n  \"messages\": {{ JSON.stringify($json.messages) }}\n}",
          "options": {}
        },
        "credentials": {
          "openAiApi": {
            "id": "enLroXreMPFDnrNF",
            "name": "OpenAi account"
          }
        }
      },
      {
        "id": "parse-article",
        "name": "Parse Article JSON",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1880,
          220
        ],
        "parameters": {
          "jsCode": "const openaiResp = $input.first().json;\nconst promptCtx = $('Build Article Prompt').first().json;\n\nlet article;\ntry {\n  const text = openaiResp.choices[0].message.content;\n  article = JSON.parse(text);\n} catch (e) {\n  return [{ json: { error: 'parse_failed', message: e.message, idea_id: promptCtx.idea_id } }];\n}\n\nif (!article.slug || !article.category || !article.sections) {\n  return [{ json: { error: 'missing_fields', idea_id: promptCtx.idea_id } }];\n}\n\nconst today = new Date().toISOString().split('T')[0];\narticle.publishDate = today;\narticle.updatedDate = today;\n\nconst wordCount = JSON.stringify(article).split(/\\s+/).length;\n\nconst filePath = `src/content/${article.category}/${article.slug}.json`;\nconst fileContent = JSON.stringify(article, null, 2);\n\nreturn [{\n  json: {\n    idea_id: promptCtx.idea_id,\n    category: article.category,\n    slug: article.slug,\n    title: article.heroTitle || article.metaTitle,\n    file_path: filePath,\n    file_content: fileContent,\n    file_content_b64: Buffer.from(fileContent, 'utf-8').toString('base64'),\n    commit_message: `Feat: Auto-published article — ${article.heroTitle || article.slug}\\n\\nAuto-generated by SEO Content Pipeline from idea ${promptCtx.idea_id}`,\n    word_count: wordCount\n  }\n}];"
        }
      },
      {
        "id": "github-commit",
        "name": "GitHub - Create File",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2120,
          220
        ],
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "PUT",
          "url": "=https://api.github.com/repos/perfect-ai-admin/perfect1-portal/contents/{{ $json.file_path }}",
          "authentication": "genericCredentialType",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              },
              {
                "name": "X-GitHub-Api-Version",
                "value": "2022-11-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"message\": {{ JSON.stringify($json.commit_message) }},\n  \"content\": {{ JSON.stringify($json.file_content_b64) }},\n  \"branch\": \"main\"\n}",
          "options": {},
          "genericAuthType": "httpHeaderAuth"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "vnu7CHFvm9UDM36w",
            "name": "GitHub API - SEO Publisher"
          }
        }
      },
      {
        "id": "mark-published",
        "name": "Mark as Published",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2360,
          220
        ],
        "parameters": {
          "method": "POST",
          "url": "https://rtlpqjqdmomyptcdkmrq.supabase.co/rest/v1/rpc/mark_seo_idea_published",
          "authentication": "none",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"
              },
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"p_idea_id\": {{ $(\"Parse Article JSON\").item.json.idea_id }},\n  \"p_category\": {{ JSON.stringify($(\"Parse Article JSON\").item.json.category) }},\n  \"p_slug\": {{ JSON.stringify($(\"Parse Article JSON\").item.json.slug) }},\n  \"p_title\": {{ JSON.stringify($(\"Parse Article JSON\").item.json.title) }},\n  \"p_file_path\": {{ JSON.stringify($(\"Parse Article JSON\").item.json.file_path) }},\n  \"p_git_sha\": {{ JSON.stringify($json.commit && $json.commit.sha || \"\") }},\n  \"p_word_count\": {{ $(\"Parse Article JSON\").item.json.word_count }}\n}",
          "options": {}
        }
      },
      {
        "id": "notify-email",
        "name": "Send Publish Notification Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2600,
          220
        ],
        "parameters": {
          "method": "POST",
          "url": "https://rtlpqjqdmomyptcdkmrq.supabase.co/functions/v1/sendEmail",
          "authentication": "none",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4Njc0NjMsImV4cCI6MjA5MDQ0MzQ2M30.NceenXJ43_B3NN9MVz4b5wR4t1Si0hRfYedfmtoujXQ"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"to\": \"yosi5919@gmail.com\",\n  \"from\": \"no-reply@perfect1.co.il\",\n  \"subject\": {{ JSON.stringify(\"מאמר חדש עלה: \" + $('Parse Article JSON').item.json.title) }},\n  \"html\": {{ JSON.stringify(\"<div dir=\\\"rtl\\\" style=\\\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;\\\"><h1 style=\\\"color:#1a1a1a;font-size:24px;\\\">\" + $('Parse Article JSON').item.json.title + \"</h1><p><strong>קטגוריה:</strong> \" + $('Parse Article JSON').item.json.category + \"</p><p><strong>Slug:</strong> \" + $('Parse Article JSON').item.json.slug + \"</p><p><strong>תאריך פרסום:</strong> \" + $now.toISO().slice(0,10) + \"</p><div style=\\\"margin:24px 0;\\\"><a href=\\\"https://perfect1.co.il/\" + $('Parse Article JSON').item.json.category + \"/\" + $('Parse Article JSON').item.json.slug + \"\\\" style=\\\"background-color:#4f46e5;color:white;padding:12px 24px;text-decoration:none;border-radius:6px;\\\">קרא את המאמר המלא</a></div><p style=\\\"color:#888;font-size:12px;\\\">פרפקט וואן | perfect1.co.il</p></div>\") }}\n}",
          "options": {}
        }
      },
      {
        "id": "quality-gate",
        "name": "Quality Gate",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1400,
          300
        ],
        "parameters": {
          "jsCode": "// =====================================================================\n// Quality Gate v6 — fixed JSON.parse + defensive (no crash on malformed)\n// 2026-04-28: Parse Article JSON wraps the article in `file_content` (string).\n// Previous gate read article.sections etc. directly → always 0 → always FAIL.\n// =====================================================================\n\nconst wrapper = $('Parse Article JSON').first().json;\n\n// Defensive parse: if Parse Article JSON ever returns top-level fields, fall back.\nlet article = wrapper;\ntry {\n  if (wrapper && typeof wrapper.file_content === 'string') {\n    article = JSON.parse(wrapper.file_content);\n  }\n} catch (e) {\n  // Malformed JSON from OpenAI — treat as empty so gate fails gracefully.\n  return [{\n    json: {\n      ...wrapper,\n      idea_id: $('Build Article Prompt').first().json.idea_id,\n      gate: {\n        score: 0,\n        passed: false,\n        breakdown: { seo: 0, aeo: 0, geo: 0 },\n        failures: ['Parse error: ' + (e.message || 'invalid JSON in file_content')],\n        wordCount: 0,\n        schemaErrors: ['file_content is not valid JSON'],\n      },\n      slug: wrapper.slug,\n    },\n  }];\n}\n\nconst sections = Array.isArray(article.sections) ? article.sections : [];\nconst faq = Array.isArray(article.faq) ? article.faq : [];\nconst keywords = Array.isArray(article.keywords) ? article.keywords : [];\nconst metaTitle = article.metaTitle || '';\nconst metaDesc = article.metaDescription || '';\n\nconst wordCount = sections.reduce((sum, s) => {\n  const content = (s.content || '') + ' ' + (s.answerBlock || '');\n  return sum + content.split(/\\s+/).filter(Boolean).length;\n}, 0);\n\nconst failures = [];\n\n// SEO (40) — calibrated to actual GPT-4o output 2026-04-28\nlet seo = 0;\nif (metaTitle.length > 0 && metaTitle.length <= 60) seo += 10; else failures.push('metaTitle len=' + metaTitle.length + ' (need 1-60)');\nif (metaDesc.length >= 120 && metaDesc.length <= 160) seo += 10; else failures.push('metaDescription ' + metaDesc.length + ' chars (need 120-160)');\nif (wordCount >= 800) seo += 10; else failures.push('Word count ' + wordCount + ' (min 800)');\nif (sections.length >= 8 && sections.length <= 12 && (article.toc || []).length >= 8) seo += 10; else failures.push('sections=' + sections.length + ' toc=' + (article.toc || []).length + ' (need 8-12)');\n\n// AEO (30)\nlet aeo = 0;\nif (faq.length >= 6) aeo += 15; else failures.push('FAQ=' + faq.length + ' (min 6)');\nconst faqOk = faq.filter(f => { const w = (f.answer || '').split(/\\s+/).filter(Boolean).length; return w >= 20 && w <= 100; }).length;\nif (faq.length > 0 && faqOk >= Math.ceil(faq.length * 0.6)) aeo += 15; else failures.push('FAQ answers out of range 20-100 words');\n\n// GEO (30)\nlet geo = 0;\nconst allText = sections.map(s => (s.content || '') + ' ' + (s.answerBlock || '')).join(' ');\nconst entities = ['רשות המסים', 'מע\"מ', 'ביטוח לאומי', 'מס הכנסה'];\nconst entitiesOk = entities.filter(e => (allText.match(new RegExp(e, 'g')) || []).length >= 2).length;\nif (entitiesOk >= 3) geo += 10; else failures.push('Only ' + entitiesOk + '/4 entities mentioned 2+ times');\nconst numbers = (allText.match(/\\b\\d+\\b/g) || []).length;\nif (numbers >= 5) geo += 10; else failures.push('Numbers=' + numbers + ' (min 5)');\nif (keywords.length >= 20) geo += 10; else failures.push('Keywords=' + keywords.length + ' (min 20)');\n\nconst authorOk = article.author && article.author.name === 'צוות פרפקט וואן';\nif (!authorOk) failures.push('Wrong author: ' + JSON.stringify(article.author));\n\n// Schema validation (defensive — never throws)\nconst schemaErrors = [];\nfor (let i = 0; i < sections.length; i++) {\n  const sec = sections[i] || {};\n  if (sec.type === 'steps') {\n    const steps = sec.steps || sec.items || [];\n    if (!Array.isArray(steps) || steps.length === 0) {\n      schemaErrors.push('Section ' + i + ' (steps): empty or invalid');\n    } else {\n      for (let j = 0; j < steps.length; j++) {\n        const step = steps[j];\n        if (typeof step === 'string') {\n          schemaErrors.push('Section ' + i + ' step ' + j + ': must be object with title+description, got string');\n        } else if (!step || !step.title || !step.description) {\n          schemaErrors.push('Section ' + i + ' step ' + j + ': missing title or description');\n        }\n      }\n    }\n  }\n  if (sec.type === 'comparison') {\n    const hasTable = Array.isArray(sec.headers) && Array.isArray(sec.rows) && sec.headers.length >= 2 && sec.rows.length >= 1;\n    const hasCards = Array.isArray(sec.items) && sec.items.length >= 2;\n    if (!hasTable && !hasCards) {\n      schemaErrors.push('Section ' + i + ' (comparison): must have headers+rows OR items');\n    }\n  }\n  if (sec.type === 'list') {\n    const items = sec.items || [];\n    if (!Array.isArray(items) || items.length === 0) {\n      schemaErrors.push('Section ' + i + ' (list): empty items');\n    }\n  }\n  if (sec.type === 'faq') {\n    const items = sec.items || [];\n    for (let j = 0; j < items.length; j++) {\n      if (!items[j] || !items[j].question || !items[j].answer) {\n        schemaErrors.push('Section ' + i + ' FAQ ' + j + ': missing question or answer');\n      }\n    }\n  }\n}\nif (schemaErrors.length > 0) {\n  failures.push.apply(failures, schemaErrors);\n}\n\n// AnswerBlock coverage (informational; not blocking)\nconst textSections = sections.filter(s => s.type === 'text');\nconst strictWithBlock = textSections.filter(s => s.answerBlock && s.answerBlock.length >= 30 && s.answerBlock.length <= 300).length;\nif (textSections.length >= 4 && strictWithBlock < 2) {\n  failures.push('Need 2+ answerBlocks 30-300 chars (have ' + strictWithBlock + '/' + textSections.length + ' text sections)');\n}\n\n// Hard requirements v5+\nconst related = Array.isArray(article.relatedArticles) ? article.relatedArticles : [];\nif (related.length < 3) {\n  failures.push('Need 3+ relatedArticles (have ' + related.length + ')');\n}\nconst relatedLinks = related.map(r => {\n  if (typeof r === 'string') return r;\n  if (r && typeof r === 'object') {\n    if (r.url) return r.url;\n    if (r.category && r.slug) return '/' + r.category + '/' + r.slug;\n  }\n  return null;\n}).filter(Boolean);\n\nconst HOW_TO_OPEN = ['/osek-patur/how-to-open','/osek-murshe/how-to-open','/hevra-bam/how-to-open'];\nif (!relatedLinks.some(l => HOW_TO_OPEN.includes(l))) {\n  failures.push('Must link to 1+ how-to-open page');\n}\n\nconst HUB_PAGES = [...HOW_TO_OPEN, '/osek-patur/cost', '/osek-patur/taxes', '/osek-patur/income-ceiling'];\nconst hubHits = relatedLinks.filter(l => HUB_PAGES.includes(l)).length;\nif (hubHits < 2) {\n  failures.push('Must link to 2+ Hub pages (have ' + hubHits + ')');\n}\n\nconst score = seo + aeo + geo;\nconst schemaOk = schemaErrors.length === 0;\n// HARD pass: schema OK + author OK + score >= 60. failures may include soft warnings.\nconst HARD_FAIL_KEYWORDS = ['Wrong author', 'Section ', 'must have headers', 'invalid JSON', 'Parse error', 'Need 3+ relatedArticles', 'Must link to 1+ how-to-open', 'Must link to 2+ Hub'];\nconst hardFailures = failures.filter(f => HARD_FAIL_KEYWORDS.some(k => f.indexOf(k) >= 0));\nconst passed = score >= 60 && authorOk && schemaOk && hardFailures.length === 0;\n\nreturn [{\n  json: {\n    ...wrapper,                  // keep file_path / file_content / commit_message for downstream nodes\n    idea_id: $('Build Article Prompt').first().json.idea_id,\n    slug: wrapper.slug || article.slug,\n    gate: { score, passed, breakdown: { seo, aeo, geo }, failures, wordCount, schemaErrors },\n  },\n}];\n",
          "mode": "runOnceForAllItems"
        }
      },
      {
        "id": "gate-switch",
        "name": "Gate Passed?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1600,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "gate-pass-check",
                "leftValue": "={{ $json.gate.passed }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "log-gate-failure",
        "name": "Log Gate Failure",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1800,
          500
        ],
        "parameters": {
          "method": "POST",
          "url": "https://rtlpqjqdmomyptcdkmrq.supabase.co/rest/v1/seo_runs",
          "authentication": "none",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"
              },
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ run_type: \"f33_gate_fail\", status: \"failed\", started_at: new Date().toISOString(), finished_at: new Date().toISOString(), failed_gate: 1, errors: 1, notes: ($json.slug || \"unknown\") + \": \" + (($json.gate && $json.gate.failures) || []).slice(0,5).join(\"; \") }) }}"
        },
        "onError": "continueRegularOutput",
        "continueOnFail": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://rtlpqjqdmomyptcdkmrq.supabase.co/functions/v1/sendEmail",
          "authentication": "none",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4Njc0NjMsImV4cCI6MjA5MDQ0MzQ2M30.NceenXJ43_B3NN9MVz4b5wR4t1Si0hRfYedfmtoujXQ"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"to\": \"yosi5919@gmail.com\",\n  \"from\": \"no-reply@perfect1.co.il\",\n  \"subject\": {{ JSON.stringify(\"F33: לא פורסם מאמר היום (Quality Gate fail) — \" + ($json.slug || \"?\")) }},\n  \"html\": {{ JSON.stringify(\"<div dir=\\\"rtl\\\" style=\\\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;\\\"><h2 style=\\\"color:#b91c1c;\\\">F33: לא פורסם מאמר היום</h2><p><strong>Slug שנבחר:</strong> \" + ($json.slug || \"?\") + \"</p><p><strong>Score:</strong> \" + (($json.gate && $json.gate.score) || 0) + \"/100</p><p><strong>סיבות כשלון:</strong></p><ul>\" + (($json.gate && $json.gate.failures) || []).map(function(f){return \"<li>\" + f + \"</li>\";}).join(\"\") + \"</ul><p style=\\\"color:#888;font-size:12px;margin-top:24px;\\\">פרפקט וואן · F33 Auto-Notification</p></div>\") }}\n}",
          "options": {}
        },
        "id": "send-failure-email",
        "name": "Send Failure Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2040,
          500
        ],
        "onError": "continueRegularOutput",
        "continueOnFail": true
      }
    ],
    "connections": {
      "Schedule - 11:00 Daily": {
        "main": [
          [
            {
              "node": "Log Run Start",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Run Start": {
        "main": [
          [
            {
              "node": "Fetch Ideas to Publish",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Ideas to Publish": {
        "main": [
          [
            {
              "node": "Has Slots?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Slots?": {
        "main": [
          [
            {
              "node": "Split Ideas",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Split Ideas": {
        "main": [
          [
            {
              "node": "Build Article Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Article Prompt": {
        "main": [
          [
            {
              "node": "Call OpenAI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call OpenAI": {
        "main": [
          [
            {
              "node": "Parse Article JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Article JSON": {
        "main": [
          [
            {
              "node": "Quality Gate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub - Create File": {
        "main": [
          [
            {
              "node": "Mark as Published",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark as Published": {
        "main": [
          [
            {
              "node": "Send Publish Notification Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Quality Gate": {
        "main": [
          [
            {
              "node": "Gate Passed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gate Passed?": {
        "main": [
          [
            {
              "node": "GitHub - Create File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Gate Failure",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Gate Failure": {
        "main": [
          [
            {
              "node": "Send Failure Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Yosi Levi",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-28T09:56:01.227Z",
        "id": 1130,
        "workflowId": "F33CbVflx4aApT71",
        "versionId": "553c1ea3-1978-4121-a2af-92042d77f491",
        "event": "activated",
        "userId": "2726ec4e-54fd-4211-b551-c99e9eb9eb3d"
      }
    ]
  }
}