docs/f33-workflow-current.json
{"updatedAt":"2026-04-20T17:29:58.811Z","createdAt":"2026-04-15T13:57:50.077Z","id":"F33CbVflx4aApT71","name":"SEO - Auto Article Publisher","description":null,"active":true,"isArchived":false,"nodes":[{"id":"trigger","name":"Schedule - 11:00 Daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 11 * * *"}]}}},{"id":"log-start","name":"Log Run Start","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,300],"parameters":{"method":"POST","url":"https://rtlpqjqdmomyptcdkmrq.supabase.co/rest/v1/seo_runs","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"},{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"{\"run_type\": \"content_ideas\", \"status\": \"running\"}","options":{}}},{"id":"fetch-ideas","name":"Fetch Ideas to Publish","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"parameters":{"method":"POST","url":"https://rtlpqjqdmomyptcdkmrq.supabase.co/rest/v1/rpc/get_seo_ideas_to_publish","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"},{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"max_per_day\": 3}","options":{}}},{"id":"check-slots","name":"Has Slots?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[920,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"slot-check","leftValue":"={{ $json.available_slots }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}}},{"id":"split-ideas","name":"Split Ideas","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1160,220],"parameters":{"fieldToSplitOut":"ideas","options":{}}},{"id":"build-prompt","name":"Build Article Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,220],"parameters":{"jsCode":"const idea = $input.first().json;\n\nconst systemPrompt = `You are an SEO writer for perfect1.co.il, an Israeli business portal focused on עוסק פטור, עוסק מורשה, חברה בע\"מ, מיסוי, and guides for self-employed in Israel.\n\nYou must output a COMPLETE valid JSON article file (Hebrew, RTL) matching this exact schema:\n\n{\n  \"slug\": \"kebab-case-slug\",\n  \"category\": \"one of: misui, maam, miktzoa, osek-patur, osek-murshe, hevra-bam, sgirat-tikim, guides\",\n  \"metaTitle\": \"SEO title up to 60 chars ending with | פרפקט וואן\",\n  \"metaDescription\": \"155 chars max with CTA\",\n  \"keywords\": [\"5-8 Hebrew keywords\"],\n  \"heroTitle\": \"strong Hebrew H1\",\n  \"heroSubtitle\": \"1-2 sentences explaining the article value\",\n  \"publishDate\": \"2026-04-16\",\n  \"updatedDate\": \"2026-04-16\",\n  \"author\": {\"name\": \"צוות פרפקט וואן\", \"role\": \"מומחי מיסוי ועסקים\"},\n  \"readTime\": 10,\n  \"toc\": [{\"id\": \"...\", \"title\": \"...\"}],\n  \"sections\": [\n    {\n      \"id\": \"intro\",\n      \"type\": \"text\",\n      \"title\": \"...\",\n      \"answerBlock\": \"1-2 sentences direct answer for AI citation\",\n      \"content\": \"paragraph with [internal links](/category/slug) in markdown\"\n    },\n    {\"id\": \"list-section\", \"type\": \"list\", \"title\": \"...\", \"description\": \"...\", \"items\": [{\"title\": \"...\", \"description\": \"...\"}]},\n    {\"id\": \"steps\", \"type\": \"steps\", \"title\": \"...\", \"answerBlock\": \"...\", \"steps\": [{\"number\": 1, \"title\": \"...\", \"description\": \"...\"}]},\n    {\"id\": \"callout\", \"type\": \"callout\", \"variant\": \"tip\", \"title\": \"...\", \"content\": \"...\"},\n    {\"id\": \"faq\", \"type\": \"faq\", \"title\": \"שאלות נפוצות\", \"items\": [{\"question\": \"...\", \"answer\": \"...\"}]}\n  ],\n  \"relatedArticles\": [{\"category\": \"...\", \"slug\": \"...\", \"title\": \"...\"}]\n}\n\nRules:\n- 1500-2500 words total\n- 8-12 sections\n- 6-10 FAQ questions\n- answerBlock on every major text section (for AEO)\n- At least 4 internal links to existing articles\n- All Hebrew, RTL\n- Year 2026 facts only\n- Commercial intent where applicable (CTA in middle)\n- Return ONLY the JSON, no markdown fences, no explanation`;\n\nconst userPrompt = `Write a comprehensive article for:\n\nTarget query: ${idea.target_query}\nTitle: ${idea.suggested_article_title}\nSearch intent: ${idea.search_intent}\nAngle: ${idea.suggested_angle}\nWhy it matters: ${idea.why_it_matters}\nParent page: ${idea.parent_page_url}\n\nRelated internal links to use: ${JSON.stringify(idea.internal_links_json || [])}\n\nReturn only a valid JSON matching the schema.`;\n\nreturn [{\n  json: {\n    idea_id: idea.id,\n    target_query: idea.target_query,\n    suggested_title: idea.suggested_article_title,\n    parent_page: idea.parent_page_url,\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ]\n  }\n}];"}},{"id":"openai-call","name":"Call OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1640,220],"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o\",\n  \"max_tokens\": 4000,\n  \"temperature\": 0.7,\n  \"response_format\": {\"type\": \"json_object\"},\n  \"messages\": {{ JSON.stringify($json.messages) }}\n}","options":{}},"credentials":{"openAiApi":{"id":"enLroXreMPFDnrNF","name":"OpenAi account"}}},{"id":"parse-article","name":"Parse Article JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[1880,220],"parameters":{"jsCode":"const openaiResp = $input.first().json;\nconst promptCtx = $('Build Article Prompt').first().json;\n\nlet article;\ntry {\n  const text = openaiResp.choices[0].message.content;\n  article = JSON.parse(text);\n} catch (e) {\n  return [{ json: { error: 'parse_failed', message: e.message, idea_id: promptCtx.idea_id } }];\n}\n\nif (!article.slug || !article.category || !article.sections) {\n  return [{ json: { error: 'missing_fields', idea_id: promptCtx.idea_id } }];\n}\n\nconst today = new Date().toISOString().split('T')[0];\narticle.publishDate = today;\narticle.updatedDate = today;\n\nconst wordCount = JSON.stringify(article).split(/\\s+/).length;\n\nconst filePath = `src/content/${article.category}/${article.slug}.json`;\nconst fileContent = JSON.stringify(article, null, 2);\n\nreturn [{\n  json: {\n    idea_id: promptCtx.idea_id,\n    category: article.category,\n    slug: article.slug,\n    title: article.heroTitle || article.metaTitle,\n    file_path: filePath,\n    file_content: fileContent,\n    file_content_b64: Buffer.from(fileContent, 'utf-8').toString('base64'),\n    commit_message: `Feat: Auto-published article — ${article.heroTitle || article.slug}\\n\\nAuto-generated by SEO Content Pipeline from idea ${promptCtx.idea_id}`,\n    word_count: wordCount\n  }\n}];"}},{"id":"github-commit","name":"GitHub - Create File","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2120,220],"onError":"continueRegularOutput","parameters":{"method":"PUT","url":"=https://api.github.com/repos/perfect-ai-admin/perfect1-portal/contents/{{ $json.file_path }}","authentication":"genericCredentialType","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"message\": {{ JSON.stringify($json.commit_message) }},\n  \"content\": {{ JSON.stringify($json.file_content_b64) }},\n  \"branch\": \"main\"\n}","options":{},"genericAuthType":"httpHeaderAuth"},"credentials":{"httpHeaderAuth":{"id":"vnu7CHFvm9UDM36w","name":"GitHub API - SEO Publisher"}}},{"id":"mark-published","name":"Mark as Published","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2360,220],"parameters":{"method":"POST","url":"https://rtlpqjqdmomyptcdkmrq.supabase.co/rest/v1/rpc/mark_seo_idea_published","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"},{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"p_idea_id\": {{ $(\"Parse Article JSON\").item.json.idea_id }},\n  \"p_category\": {{ JSON.stringify($(\"Parse Article JSON\").item.json.category) }},\n  \"p_slug\": {{ JSON.stringify($(\"Parse Article JSON\").item.json.slug) }},\n  \"p_title\": {{ JSON.stringify($(\"Parse Article JSON\").item.json.title) }},\n  \"p_file_path\": {{ JSON.stringify($(\"Parse Article JSON\").item.json.file_path) }},\n  \"p_git_sha\": {{ JSON.stringify($json.commit && $json.commit.sha || \"\") }},\n  \"p_word_count\": {{ $(\"Parse Article JSON\").item.json.word_count }}\n}","options":{}}},{"id":"notify-email","name":"Send Publish Notification Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,220],"parameters":{"method":"POST","url":"https://rtlpqjqdmomyptcdkmrq.supabase.co/functions/v1/sendEmail","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4Njc0NjMsImV4cCI6MjA5MDQ0MzQ2M30.NceenXJ43_B3NN9MVz4b5wR4t1Si0hRfYedfmtoujXQ"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"to\": \"yosi5919@gmail.com\",\n  \"from\": \"no-reply@perfect1.co.il\",\n  \"subject\": \"📝 מאמר חדש עלה: {{ $(\\\"Parse Article JSON\\\").item.json.title }}\",\n  \"html\": \"<div dir='rtl' style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;'><h1 style='color: #1a1a1a; font-size: 24px;'>{{ $(\\\"Parse Article JSON\\\").item.json.title }}</h1><p style='color: #555;'><strong>קטגוריה:</strong> {{ $(\\\"Parse Article JSON\\\").item.json.category }}</p><p style='color: #555;'><strong>Slug:</strong> {{ $(\\\"Parse Article JSON\\\").item.json.slug }}</p><p style='color: #555;'><strong>תאריך פרסום:</strong> {{ $now.toFormat('dd.MM.yyyy') }}</p><div style='margin: 24px 0;'><a href='https://perfect1.co.il/{{ $(\\\"Parse Article JSON\\\").item.json.category }}/{{ $(\\\"Parse Article JSON\\\").item.json.slug }}' style='background-color: #4f46e5; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px;'>קרא את המאמר המלא</a></div><p style='color: #888; font-size: 12px;'>פרפקט וואן | perfect1.co.il</p></div>\"\n}","options":{}}}],"connections":{"Schedule - 11:00 Daily":{"main":[[{"node":"Log Run Start","type":"main","index":0}]]},"Log Run Start":{"main":[[{"node":"Fetch Ideas to Publish","type":"main","index":0}]]},"Fetch Ideas to Publish":{"main":[[{"node":"Has Slots?","type":"main","index":0}]]},"Has Slots?":{"main":[[{"node":"Split Ideas","type":"main","index":0}],[]]},"Split Ideas":{"main":[[{"node":"Build Article Prompt","type":"main","index":0}]]},"Build Article Prompt":{"main":[[{"node":"Call OpenAI","type":"main","index":0}]]},"Call OpenAI":{"main":[[{"node":"Parse Article JSON","type":"main","index":0}]]},"Parse Article JSON":{"main":[[{"node":"GitHub - Create File","type":"main","index":0}]]},"GitHub - Create File":{"main":[[{"node":"Mark as Published","type":"main","index":0}]]},"Mark as Published":{"main":[[{"node":"Send Publish Notification Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Jerusalem","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule - 11:00 Daily":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"62ecc89a-82e8-484a-b868-ceaebed70cca","activeVersionId":"62ecc89a-82e8-484a-b868-ceaebed70cca","versionCounter":17,"triggerCount":1,"shared":[{"updatedAt":"2026-04-15T13:57:50.077Z","createdAt":"2026-04-15T13:57:50.077Z","role":"workflow:owner","workflowId":"F33CbVflx4aApT71","projectId":"Ua9EZRcbUDU2fFvK","project":{"updatedAt":"2026-01-11T16:51:00.159Z","createdAt":"2026-01-11T13:49:03.851Z","id":"Ua9EZRcbUDU2fFvK","name":"Yosi Levi <yosi5919@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"2726ec4e-54fd-4211-b551-c99e9eb9eb3d","projectRelations":[{"updatedAt":"2026-01-11T13:49:03.851Z","createdAt":"2026-01-11T13:49:03.851Z","userId":"2726ec4e-54fd-4211-b551-c99e9eb9eb3d","projectId":"Ua9EZRcbUDU2fFvK","user":{"updatedAt":"2026-04-21T04:05:04.524Z","createdAt":"2026-01-11T13:49:02.351Z","id":"2726ec4e-54fd-4211-b551-c99e9eb9eb3d","email":"yosi5919@gmail.com","firstName":"Yosi","lastName":"Levi","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-11T16:52:04.147Z","personalization_survey_n8n_version":"2.2.6","companyIndustryExtended":["msp"],"companySize":"<20","companyType":"other","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"l5FNaXfwHD1Mf6By7PC_1","userActivatedAt":1768574538002,"npsSurvey":{"responded":true,"lastShownAt":1768987318070}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-20","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-20T17:29:58.814Z","createdAt":"2026-04-20T17:29:58.814Z","versionId":"62ecc89a-82e8-484a-b868-ceaebed70cca","workflowId":"F33CbVflx4aApT71","nodes":[{"id":"trigger","name":"Schedule - 11:00 Daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 11 * * *"}]}}},{"id":"log-start","name":"Log Run Start","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,300],"parameters":{"method":"POST","url":"https://rtlpqjqdmomyptcdkmrq.supabase.co/rest/v1/seo_runs","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"},{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"{\"run_type\": \"content_ideas\", \"status\": \"running\"}","options":{}}},{"id":"fetch-ideas","name":"Fetch Ideas to Publish","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"parameters":{"method":"POST","url":"https://rtlpqjqdmomyptcdkmrq.supabase.co/rest/v1/rpc/get_seo_ideas_to_publish","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"},{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"max_per_day\": 3}","options":{}}},{"id":"check-slots","name":"Has Slots?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[920,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"slot-check","leftValue":"={{ $json.available_slots }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}}},{"id":"split-ideas","name":"Split Ideas","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1160,220],"parameters":{"fieldToSplitOut":"ideas","options":{}}},{"id":"build-prompt","name":"Build Article Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,220],"parameters":{"jsCode":"const idea = $input.first().json;\n\nconst systemPrompt = `You are an SEO writer for perfect1.co.il, an Israeli business portal focused on עוסק פטור, עוסק מורשה, חברה בע\"מ, מיסוי, and guides for self-employed in Israel.\n\nYou must output a COMPLETE valid JSON article file (Hebrew, RTL) matching this exact schema:\n\n{\n  \"slug\": \"kebab-case-slug\",\n  \"category\": \"one of: misui, maam, miktzoa, osek-patur, osek-murshe, hevra-bam, sgirat-tikim, guides\",\n  \"metaTitle\": \"SEO title up to 60 chars ending with | פרפקט וואן\",\n  \"metaDescription\": \"155 chars max with CTA\",\n  \"keywords\": [\"5-8 Hebrew keywords\"],\n  \"heroTitle\": \"strong Hebrew H1\",\n  \"heroSubtitle\": \"1-2 sentences explaining the article value\",\n  \"publishDate\": \"2026-04-16\",\n  \"updatedDate\": \"2026-04-16\",\n  \"author\": {\"name\": \"צוות פרפקט וואן\", \"role\": \"מומחי מיסוי ועסקים\"},\n  \"readTime\": 10,\n  \"toc\": [{\"id\": \"...\", \"title\": \"...\"}],\n  \"sections\": [\n    {\n      \"id\": \"intro\",\n      \"type\": \"text\",\n      \"title\": \"...\",\n      \"answerBlock\": \"1-2 sentences direct answer for AI citation\",\n      \"content\": \"paragraph with [internal links](/category/slug) in markdown\"\n    },\n    {\"id\": \"list-section\", \"type\": \"list\", \"title\": \"...\", \"description\": \"...\", \"items\": [{\"title\": \"...\", \"description\": \"...\"}]},\n    {\"id\": \"steps\", \"type\": \"steps\", \"title\": \"...\", \"answerBlock\": \"...\", \"steps\": [{\"number\": 1, \"title\": \"...\", \"description\": \"...\"}]},\n    {\"id\": \"callout\", \"type\": \"callout\", \"variant\": \"tip\", \"title\": \"...\", \"content\": \"...\"},\n    {\"id\": \"faq\", \"type\": \"faq\", \"title\": \"שאלות נפוצות\", \"items\": [{\"question\": \"...\", \"answer\": \"...\"}]}\n  ],\n  \"relatedArticles\": [{\"category\": \"...\", \"slug\": \"...\", \"title\": \"...\"}]\n}\n\nRules:\n- 1500-2500 words total\n- 8-12 sections\n- 6-10 FAQ questions\n- answerBlock on every major text section (for AEO)\n- At least 4 internal links to existing articles\n- All Hebrew, RTL\n- Year 2026 facts only\n- Commercial intent where applicable (CTA in middle)\n- Return ONLY the JSON, no markdown fences, no explanation`;\n\nconst userPrompt = `Write a comprehensive article for:\n\nTarget query: ${idea.target_query}\nTitle: ${idea.suggested_article_title}\nSearch intent: ${idea.search_intent}\nAngle: ${idea.suggested_angle}\nWhy it matters: ${idea.why_it_matters}\nParent page: ${idea.parent_page_url}\n\nRelated internal links to use: ${JSON.stringify(idea.internal_links_json || [])}\n\nReturn only a valid JSON matching the schema.`;\n\nreturn [{\n  json: {\n    idea_id: idea.id,\n    target_query: idea.target_query,\n    suggested_title: idea.suggested_article_title,\n    parent_page: idea.parent_page_url,\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ]\n  }\n}];"}},{"id":"openai-call","name":"Call OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1640,220],"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o\",\n  \"max_tokens\": 4000,\n  \"temperature\": 0.7,\n  \"response_format\": {\"type\": \"json_object\"},\n  \"messages\": {{ JSON.stringify($json.messages) }}\n}","options":{}},"credentials":{"openAiApi":{"id":"enLroXreMPFDnrNF","name":"OpenAi account"}}},{"id":"parse-article","name":"Parse Article JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[1880,220],"parameters":{"jsCode":"const openaiResp = $input.first().json;\nconst promptCtx = $('Build Article Prompt').first().json;\n\nlet article;\ntry {\n  const text = openaiResp.choices[0].message.content;\n  article = JSON.parse(text);\n} catch (e) {\n  return [{ json: { error: 'parse_failed', message: e.message, idea_id: promptCtx.idea_id } }];\n}\n\nif (!article.slug || !article.category || !article.sections) {\n  return [{ json: { error: 'missing_fields', idea_id: promptCtx.idea_id } }];\n}\n\nconst today = new Date().toISOString().split('T')[0];\narticle.publishDate = today;\narticle.updatedDate = today;\n\nconst wordCount = JSON.stringify(article).split(/\\s+/).length;\n\nconst filePath = `src/content/${article.category}/${article.slug}.json`;\nconst fileContent = JSON.stringify(article, null, 2);\n\nreturn [{\n  json: {\n    idea_id: promptCtx.idea_id,\n    category: article.category,\n    slug: article.slug,\n    title: article.heroTitle || article.metaTitle,\n    file_path: filePath,\n    file_content: fileContent,\n    file_content_b64: Buffer.from(fileContent, 'utf-8').toString('base64'),\n    commit_message: `Feat: Auto-published article — ${article.heroTitle || article.slug}\\n\\nAuto-generated by SEO Content Pipeline from idea ${promptCtx.idea_id}`,\n    word_count: wordCount\n  }\n}];"}},{"id":"github-commit","name":"GitHub - Create File","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2120,220],"onError":"continueRegularOutput","parameters":{"method":"PUT","url":"=https://api.github.com/repos/perfect-ai-admin/perfect1-portal/contents/{{ $json.file_path }}","authentication":"genericCredentialType","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"message\": {{ JSON.stringify($json.commit_message) }},\n  \"content\": {{ JSON.stringify($json.file_content_b64) }},\n  \"branch\": \"main\"\n}","options":{},"genericAuthType":"httpHeaderAuth"},"credentials":{"httpHeaderAuth":{"id":"vnu7CHFvm9UDM36w","name":"GitHub API - SEO Publisher"}}},{"id":"mark-published","name":"Mark as Published","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2360,220],"parameters":{"method":"POST","url":"https://rtlpqjqdmomyptcdkmrq.supabase.co/rest/v1/rpc/mark_seo_idea_published","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"},{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"p_idea_id\": {{ $(\"Parse Article JSON\").item.json.idea_id }},\n  \"p_category\": {{ JSON.stringify($(\"Parse Article JSON\").item.json.category) }},\n  \"p_slug\": {{ JSON.stringify($(\"Parse Article JSON\").item.json.slug) }},\n  \"p_title\": {{ JSON.stringify($(\"Parse Article JSON\").item.json.title) }},\n  \"p_file_path\": {{ JSON.stringify($(\"Parse Article JSON\").item.json.file_path) }},\n  \"p_git_sha\": {{ JSON.stringify($json.commit && $json.commit.sha || \"\") }},\n  \"p_word_count\": {{ $(\"Parse Article JSON\").item.json.word_count }}\n}","options":{}}},{"id":"notify-email","name":"Send Publish Notification Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,220],"parameters":{"method":"POST","url":"https://rtlpqjqdmomyptcdkmrq.supabase.co/functions/v1/sendEmail","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4Njc0NjMsImV4cCI6MjA5MDQ0MzQ2M30.NceenXJ43_B3NN9MVz4b5wR4t1Si0hRfYedfmtoujXQ"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"to\": \"yosi5919@gmail.com\",\n  \"from\": \"no-reply@perfect1.co.il\",\n  \"subject\": \"📝 מאמר חדש עלה: {{ $(\\\"Parse Article JSON\\\").item.json.title }}\",\n  \"html\": \"<div dir='rtl' style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;'><h1 style='color: #1a1a1a; font-size: 24px;'>{{ $(\\\"Parse Article JSON\\\").item.json.title }}</h1><p style='color: #555;'><strong>קטגוריה:</strong> {{ $(\\\"Parse Article JSON\\\").item.json.category }}</p><p style='color: #555;'><strong>Slug:</strong> {{ $(\\\"Parse Article JSON\\\").item.json.slug }}</p><p style='color: #555;'><strong>תאריך פרסום:</strong> {{ $now.toFormat('dd.MM.yyyy') }}</p><div style='margin: 24px 0;'><a href='https://perfect1.co.il/{{ $(\\\"Parse Article JSON\\\").item.json.category }}/{{ $(\\\"Parse Article JSON\\\").item.json.slug }}' style='background-color: #4f46e5; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px;'>קרא את המאמר המלא</a></div><p style='color: #888; font-size: 12px;'>פרפקט וואן | perfect1.co.il</p></div>\"\n}","options":{}}}],"connections":{"Schedule - 11:00 Daily":{"main":[[{"node":"Log Run Start","type":"main","index":0}]]},"Log Run Start":{"main":[[{"node":"Fetch Ideas to Publish","type":"main","index":0}]]},"Fetch Ideas to Publish":{"main":[[{"node":"Has Slots?","type":"main","index":0}]]},"Has Slots?":{"main":[[{"node":"Split Ideas","type":"main","index":0}],[]]},"Split Ideas":{"main":[[{"node":"Build Article Prompt","type":"main","index":0}]]},"Build Article Prompt":{"main":[[{"node":"Call OpenAI","type":"main","index":0}]]},"Call OpenAI":{"main":[[{"node":"Parse Article JSON","type":"main","index":0}]]},"Parse Article JSON":{"main":[[{"node":"GitHub - Create File","type":"main","index":0}]]},"GitHub - Create File":{"main":[[{"node":"Mark as Published","type":"main","index":0}]]},"Mark as Published":{"main":[[{"node":"Send Publish Notification Email","type":"main","index":0}]]}},"authors":"Yosi Levi","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-20T17:29:58.953Z","id":725,"workflowId":"F33CbVflx4aApT71","versionId":"62ecc89a-82e8-484a-b868-ceaebed70cca","event":"activated","userId":"2726ec4e-54fd-4211-b551-c99e9eb9eb3d"}]}}