docs/sb-get.json
{"updatedAt":"2026-03-31T09:03:48.793Z","createdAt":"2026-03-31T09:03:14.184Z","id":"qy48uRJRotYaAMRm","name":"Perfect-1 Sales Bot","description":null,"active":false,"isArchived":false,"nodes":[{"id":"sb-webhook","name":"Sales Bot Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300],"webhookId":"sales-bot-entry","parameters":{"httpMethod":"POST","path":"sales-bot-entry","options":{}}},{"id":"sb-classify","name":"Classify & Build Flow","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,300],"parameters":{"jsCode":"\nconst body = $input.first().json.body || $input.first().json;\nconst name = body.name || '';\nconst phone = body.phone || '';\nconst chatId = body.chat_id || ('972' + phone.replace(/^0/, '') + '@c.us');\nconst pageIntent = body.page_intent || '';\nconst serviceType = body.service_type || body.category || '';\nconst sourcePage = body.source_page || '';\nconst leadId = body.lead_id || '';\n\n// Intent classifier fallback\nfunction classify(sp, pi) {\n  if (pi) return pi;\n  const s = (sp || '').toLowerCase();\n  if (s.includes('open-osek') || s.includes('steps-osek') || s.includes('landing-osek-patur')) return 'service';\n  if (s.includes('patur-vs-murshe') || s.includes('compare') || s.includes('quiz')) return 'comparison';\n  if (s.includes('accountant') || s.includes('management')) return 'accounting_service';\n  if (s.includes('cost') || s.includes('pricing')) return 'pricing';\n  if (s.includes('close-') || s.includes('sgirat')) return 'service';\n  return 'guide';\n}\n\nconst intent = classify(sourcePage, pageIntent);\nconst flowMap = {\n  service: 'service_flow',\n  comparison: 'comparison_flow',\n  guide: 'guide_flow',\n  pricing: 'pricing_flow',\n  accounting_service: 'accounting_svc_flow'\n};\nconst flowType = flowMap[intent] || 'generic_flow';\n\n// Opening messages by intent\nconst openings = {\n  service: {\n    body: 'שלום ' + name + ' 👋\\nראיתי שהשארת פרטים לגבי פתיחת עוסק פטור.\\nאני כאן כדי לעזור לך להתחיל בצורה מסודרת מול מע״מ, מס הכנסה וביטוח לאומי.\\n\\nאיפה אתה נמצא בתהליך?',\n    buttons: [\n      { id: 'start_now', text: '🚀 רוצה להתחיל עכשיו' },\n      { id: 'start_soon', text: '📅 מתחיל בקרוב' },\n      { id: 'just_checking', text: '🔍 רק בודק מידע' }\n    ]\n  },\n  comparison: {\n    body: 'שלום ' + name + ' 👋\\nראיתי שהתעניינת בנושא עוסק פטור או מורשה.\\nאני יכול לעזור לך להבין מה יותר מתאים לך בכמה שאלות קצרות.\\n\\nמתי אתה מתכנן להתחיל את העסק?',\n    buttons: [\n      { id: 'weeks', text: '📅 בשבועות הקרובים' },\n      { id: 'months', text: '🗓️ בחודשים הקרובים' },\n      { id: 'just_checking', text: '🔍 רק בודק אפשרויות' }\n    ]\n  },\n  guide: {\n    body: 'שלום ' + name + ' 👋\\nראיתי שהשארת פרטים ונתעניינת במידע.\\nאם תרצה, אני יכול לעשות לך סדר קצר ולעזור לך להתקדם.\\n\\nמה היית רוצה עכשיו?',\n    buttons: [\n      { id: 'understand_steps', text: '📋 להבין את השלבים' },\n      { id: 'talk_accountant', text: '📞 לדבר עם רואה חשבון' },\n      { id: 'start_opening', text: '🚀 להתחיל פתיחה' }\n    ]\n  },\n  pricing: {\n    body: 'שלום ' + name + ' 👋\\nראיתי שהתעניינת בנושא המחיר.\\n\\nברוב המקרים השירות הוא סביב:\\n💰 200 ₪ + מע״מ לחודש\\n💰 250 ₪ + מע״מ חד פעמי (פתיחת תיק)\\n\\nזה כולל: דוח שנתי, ליווי וייעוץ, אפליקציה להוצאת קבלות ומנהלת תיק.\\n\\nמה היית רוצה עכשיו?',\n    buttons: [\n      { id: 'get_quote', text: '📝 הצעת מחיר מדויקת' },\n      { id: 'talk_accountant', text: '📞 לדבר עם רואה חשבון' },\n      { id: 'start_opening', text: '🚀 להתחיל פתיחה' }\n    ]\n  },\n  accounting_service: {\n    body: 'שלום ' + name + ' 👋\\nראיתי שהתעניינת בשירות רואה חשבון.\\nאני יכול להסביר בקצרה מה כלול ולעזור לך להתקדם.\\n\\nמה הכי חשוב לך כרגע?',\n    buttons: [\n      { id: 'price', text: '💰 מחיר' },\n      { id: 'ongoing_support', text: '🤝 ליווי שוטף' },\n      { id: 'peace_of_mind', text: '😌 שקט נפשי' }\n    ]\n  }\n};\n\n// Service-specific overrides\nconst serviceOverrides = {\n  close_osek_patur: {\n    body: 'שלום ' + name + ' 👋\\nראיתי שהתעניינת בסגירת עוסק פטור.\\nהתהליך כולל סגירה מול מע״מ, מס הכנסה וביטוח לאומי — אנחנו מטפלים בהכל.\\n\\nאיפה אתה בתהליך?',\n    buttons: [\n      { id: 'start_now', text: '🚀 רוצה לסגור עכשיו' },\n      { id: 'start_soon', text: '📅 מתכנן בקרוב' },\n      { id: 'just_checking', text: '🔍 רק בודק' }\n    ]\n  },\n  close_osek_murshe: {\n    body: 'שלום ' + name + ' 👋\\nראיתי שהתעניינת בסגירת עוסק מורשה.\\nאנחנו מטפלים בכל התהליך.\\n\\nאיפה אתה בתהליך?',\n    buttons: [\n      { id: 'start_now', text: '🚀 רוצה לסגור עכשיו' },\n      { id: 'start_soon', text: '📅 מתכנן בקרוב' },\n      { id: 'talk_accountant', text: '📞 לדבר עם רואה חשבון' }\n    ]\n  },\n  open_osek_murshe: {\n    body: 'שלום ' + name + ' 👋\\nראיתי שהשארת פרטים לגבי פתיחת עוסק מורשה.\\nאני כאן לעזור לך להתחיל בצורה מסודרת.\\n\\nאיפה אתה בתהליך?',\n    buttons: [\n      { id: 'start_now', text: '🚀 רוצה להתחיל עכשיו' },\n      { id: 'start_soon', text: '📅 מתחיל בקרוב' },\n      { id: 'just_checking', text: '🔍 רק בודק מידע' }\n    ]\n  }\n};\n\nconst flow = serviceOverrides[serviceType] || openings[intent] || openings.guide;\n\nreturn [{ json: {\n  name, phone, chatId, leadId,\n  page_intent: intent,\n  flow_type: flowType,\n  service_type: serviceType,\n  source_page: sourcePage,\n  step: 'opening',\n  opening_body: flow.body,\n  buttons: flow.buttons\n}}];\n"}},{"id":"sb-send-buttons","name":"Send Opening Buttons","type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapi","typeVersion":1,"position":[700,300],"credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}},"parameters":{"resource":"sending","operation":"sendButtons","chatId":"={{ $json.chatId }}","message":"={{ $json.opening_body }}","footer":"פרפקט וואן | perfect-1.co.il","buttons":"={{ JSON.stringify($json.buttons) }}"}},{"id":"sb-save-session","name":"Save Bot Session","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,500],"onError":"continueRegularOutput","parameters":{"method":"PATCH","url":"=https://fnsnnezhikgqajdbtwoa.supabase.co/rest/v1/leads?phone=eq.{{ encodeURIComponent($json.phone) }}&order=created_at.desc&limit=1","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZuc25uZXpoaWtncWFqZGJ0d29hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3ODkwMCwiZXhwIjoyMDg0NTU0OTAwfQ.ncDeHwwY3lD88i3dS98-7ETV4als0pzFn7Cz6UXC_RM"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZuc25uZXpoaWtncWFqZGJ0d29hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3ODkwMCwiZXhwIjoyMDg0NTU0OTAwfQ.ncDeHwwY3lD88i3dS98-7ETV4als0pzFn7Cz6UXC_RM"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ page_intent: $json.page_intent, flow_type: $json.flow_type, bot_started_at: new Date().toISOString(), bot_current_step: \"opening_sent\", bot_messages_count: 1, bot_last_message_at: new Date().toISOString() }) }}","options":{"timeout":10000}}},{"id":"sb-response-webhook","name":"Response Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,700],"webhookId":"sales-bot-response","parameters":{"httpMethod":"POST","path":"sales-bot-response","options":{}}},{"id":"sb-parse-response","name":"Parse Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,700],"parameters":{"jsCode":"\nconst body = $input.first().json.body || $input.first().json;\nconst msgData = body.messageData || {};\nconst phone = (body.senderData?.sender || '').split('@')[0];\nconst chatId = body.senderData?.chatId || '';\n\n// Extract button click or text\nlet buttonId = '';\nlet userText = '';\nif (msgData.buttonsResponseMessage) {\n  buttonId = msgData.buttonsResponseMessage.selectedButtonId || '';\n  userText = msgData.buttonsResponseMessage.selectedButtonText || '';\n} else if (msgData.listResponseMessage) {\n  buttonId = msgData.listResponseMessage.singleSelectReply?.selectedRowId || '';\n  userText = msgData.listResponseMessage.title || '';\n} else {\n  userText = msgData.textMessageData?.textMessage\n    || msgData.extendedTextMessageData?.text\n    || body.unifiedMessageText\n    || '';\n}\n\n// Classify temperature from button/text\nlet temperature = 'warm';\nconst hotSignals = ['start_now', 'start_opening', 'get_quote', 'price', 'peace_of_mind', 'ongoing_support'];\nconst coldSignals = ['just_checking'];\nconst text = (userText + ' ' + buttonId).toLowerCase();\n\nif (hotSignals.includes(buttonId) || text.includes('רוצה להתחיל') || text.includes('מחיר') || text.includes('ת\"ז')) {\n  temperature = 'hot';\n} else if (coldSignals.includes(buttonId) || text.includes('רק בודק')) {\n  temperature = 'cold';\n}\n\n// Desired next action\nlet nextAction = 'continue_flow';\nif (buttonId === 'start_now' || buttonId === 'start_opening') nextAction = 'collect_documents';\nif (buttonId === 'talk_accountant') nextAction = 'book_call';\nif (buttonId === 'get_quote' || buttonId === 'price') nextAction = 'send_quote';\nif (buttonId === 'understand_steps') nextAction = 'explain_steps';\nif (buttonId === 'weeks' || buttonId === 'start_soon') nextAction = 'ask_field';\nif (buttonId === 'months' || buttonId === 'just_checking') nextAction = 'nurture';\n\nreturn [{ json: {\n  phone, chatId, buttonId, userText, temperature, nextAction,\n  is_button: !!buttonId,\n  source: 'sales_bot'\n}}];\n"}},{"id":"sb-route","name":"Route Action","type":"n8n-nodes-base.switch","typeVersion":3,"position":[700,700],"parameters":{"rules":{"values":[{"conditions":{"conditions":[{"leftValue":"={{ $json.nextAction }}","rightValue":"collect_documents","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}},"renameOutput":true,"outputLabel":"Collect Docs"},{"conditions":{"conditions":[{"leftValue":"={{ $json.nextAction }}","rightValue":"book_call","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}},"renameOutput":true,"outputLabel":"Book Call"},{"conditions":{"conditions":[{"leftValue":"={{ $json.nextAction }}","rightValue":"send_quote","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}},"renameOutput":true,"outputLabel":"Send Quote"},{"conditions":{"conditions":[{"leftValue":"={{ $json.nextAction }}","rightValue":"explain_steps","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}},"renameOutput":true,"outputLabel":"Explain Steps"}],"fallbackOutput":"extra"},"options":{"fallbackOutput":"extra"}}},{"id":"sb-cta-docs","name":"CTA - Collect Docs","type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapi","typeVersion":1,"position":[1000,500],"credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}},"parameters":{"resource":"sending","operation":"sendButtons","chatId":"={{ $json.chatId }}","message":"מעולה! 👍\nכדי להתחיל, נצטרך צילום תעודת זהות (שני צדדים).\nאפשר לשלוח כאן או בשיחה קצרה.\n\nמה מתאים לך?","footer":"פרפקט וואן","buttons":"=[{\"id\":\"send_id\",\"text\":\"📄 לשלוח ת\\\"ז עכשיו\"},{\"id\":\"book_call\",\"text\":\"📞 שיחה קצרה\"},{\"id\":\"how_much\",\"text\":\"💰 כמה זה עולה\"}]"}},{"id":"sb-cta-call","name":"CTA - Book Call","type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapi","typeVersion":1,"position":[1000,650],"credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}},"parameters":{"resource":"sending","operation":"sendMessage","chatId":"={{ $json.chatId }}","message":"מצוין! 📞\nנציג שלנו יחזור אליך בהקדם לשיחה קצרה.\nאם תרצה, אפשר גם לשלוח הודעה ישירות ל-WhatsApp:\nhttps://wa.me/972502277087"}},{"id":"sb-cta-quote","name":"CTA - Send Quote","type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapi","typeVersion":1,"position":[1000,800],"credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}},"parameters":{"resource":"sending","operation":"sendButtons","chatId":"={{ $json.chatId }}","message":"ברוב המקרים השירות הוא סביב:\n💰 200 ₪ + מע״מ לחודש\n💰 250 ₪ + מע״מ חד פעמי (פתיחת תיק)\n\nכולל: דוח שנתי, ליווי וייעוץ, אפליקציה להוצאת קבלות ומנהלת תיק זמינה.\n\nמה תרצה לעשות?","footer":"פרפקט וואן","buttons":"=[{\"id\":\"send_id\",\"text\":\"📄 לשלוח ת\\\"ז ולהתחיל\"},{\"id\":\"book_call\",\"text\":\"📞 לדבר עם רואה חשבון\"},{\"id\":\"start_now\",\"text\":\"🚀 להתחיל עכשיו\"}]"}},{"id":"sb-cta-steps","name":"CTA - Explain Steps","type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapi","typeVersion":1,"position":[1000,950],"credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}},"parameters":{"resource":"sending","operation":"sendButtons","chatId":"={{ $json.chatId }}","message":"בגדול התהליך כולל פתיחה מול:\n• מע״מ\n• מס הכנסה\n• ביטוח לאומי\n\nאנחנו מלווים אותך בכל השלבים כדי שלא יהיו טעויות או עיכובים.","footer":"פרפקט וואן","buttons":"=[{\"id\":\"book_call\",\"text\":\"📞 לדבר עם רואה חשבון\"},{\"id\":\"send_id\",\"text\":\"📄 להתחיל פתיחת תיק\"},{\"id\":\"how_much\",\"text\":\"💰 כמה זה עולה\"}]"}},{"id":"sb-cta-nurture","name":"CTA - Nurture","type":"@green-api/n8n-nodes-whatsapp-greenapi.greenapi","typeVersion":1,"position":[1000,1100],"credentials":{"greenApiAuthApi":{"id":"2gdsusfuyKaYssFU","name":"Green-API account"}},"parameters":{"resource":"sending","operation":"sendButtons","chatId":"={{ $json.chatId }}","message":"אני כאן אם תצטרך עזרה 🙂\nאפשר תמיד לחזור ולשאול.","footer":"פרפקט וואן","buttons":"=[{\"id\":\"book_call\",\"text\":\"📞 לדבר עם מומחה\"},{\"id\":\"how_much\",\"text\":\"💰 לשמוע מחיר\"},{\"id\":\"start_now\",\"text\":\"🚀 להתחיל עכשיו\"}]"}},{"id":"sb-update-crm","name":"Update CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,700],"onError":"continueRegularOutput","parameters":{"method":"PATCH","url":"=https://fnsnnezhikgqajdbtwoa.supabase.co/rest/v1/leads?phone=eq.{{ encodeURIComponent($json.phone) }}&order=created_at.desc&limit=1","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZuc25uZXpoaWtncWFqZGJ0d29hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3ODkwMCwiZXhwIjoyMDg0NTU0OTAwfQ.ncDeHwwY3lD88i3dS98-7ETV4als0pzFn7Cz6UXC_RM"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZuc25uZXpoaWtncWFqZGJ0d29hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3ODkwMCwiZXhwIjoyMDg0NTU0OTAwfQ.ncDeHwwY3lD88i3dS98-7ETV4als0pzFn7Cz6UXC_RM"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ temperature: $json.temperature, bot_first_answer: $json.buttonId || $json.userText, bot_desired_action: $json.nextAction, bot_current_step: $json.nextAction, bot_messages_count: 2, bot_last_message_at: new Date().toISOString() }) }}","options":{"timeout":10000}}}],"connections":{"Sales Bot Webhook":{"main":[[{"node":"Classify & Build Flow","type":"main","index":0}]]},"Classify & Build Flow":{"main":[[{"node":"Send Opening Buttons","type":"main","index":0},{"node":"Save Bot Session","type":"main","index":0}]]},"Response Webhook":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Route Action","type":"main","index":0},{"node":"Update CRM","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"CTA - Collect Docs","type":"main","index":0}],[{"node":"CTA - Book Call","type":"main","index":0}],[{"node":"CTA - Send Quote","type":"main","index":0}],[{"node":"CTA - Explain Steps","type":"main","index":0}],[{"node":"CTA - Nurture","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"8dcfd53a-38b6-45e7-a9ce-ce7a82269bad","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-03-31T09:03:14.184Z","createdAt":"2026-03-31T09:03:14.184Z","role":"workflow:owner","workflowId":"qy48uRJRotYaAMRm","projectId":"Ua9EZRcbUDU2fFvK","project":{"updatedAt":"2026-01-11T16:51:00.159Z","createdAt":"2026-01-11T13:49:03.851Z","id":"Ua9EZRcbUDU2fFvK","name":"Yosi Levi <yosi5919@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"2726ec4e-54fd-4211-b551-c99e9eb9eb3d","projectRelations":[{"updatedAt":"2026-01-11T13:49:03.851Z","createdAt":"2026-01-11T13:49:03.851Z","userId":"2726ec4e-54fd-4211-b551-c99e9eb9eb3d","projectId":"Ua9EZRcbUDU2fFvK","user":{"updatedAt":"2026-03-31T04:00:23.947Z","createdAt":"2026-01-11T13:49:02.351Z","id":"2726ec4e-54fd-4211-b551-c99e9eb9eb3d","email":"yosi5919@gmail.com","firstName":"Yosi","lastName":"Levi","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-11T16:52:04.147Z","personalization_survey_n8n_version":"2.2.6","companyIndustryExtended":["msp"],"companySize":"<20","companyType":"other","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"l5FNaXfwHD1Mf6By7PC_1","userActivatedAt":1768574538002,"npsSurvey":{"responded":true,"lastShownAt":1768987318070}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-31","isPending":false}}]}}],"tags":[],"activeVersion":null}