docs/seo-cannibalization-workflow.json
{
  "name": "SEO — Cannibalization Detector",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule - Wednesday 11:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [3],
              "triggerAtHour": 11,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "log-run-start",
      "name": "Log Run Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "parameters": {
        "method": "POST",
        "url": "https://rtlpqjqdmomyptcdkmrq.supabase.co/rest/v1/seo_runs",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo" },
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"run_type\": \"cannibalization_check\", \"status\": \"running\", \"started_at\": \"{{ $now.toISO() }}\"}"
      }
    },
    {
      "id": "set-run-id",
      "name": "Set Run ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 0],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "run_id", "name": "run_id", "value": "={{ $json.id }}", "type": "number" }
          ]
        }
      }
    },
    {
      "id": "get-gsc-token",
      "name": "Get GSC Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/x-www-form-urlencoded" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "client_id={{$env.GOOGLE_CLIENT_ID}}&client_secret={{$env.GOOGLE_CLIENT_SECRET}}&refresh_token={{$env.GOOGLE_REFRESH_TOKEN}}&grant_type=refresh_token"
      }
    },
    {
      "id": "gsc-page-query",
      "name": "GSC Page+Query Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0],
      "parameters": {
        "method": "POST",
        "url": "https://searchconsole.googleapis.com/webmasters/v3/sites/https%3A%2F%2Fwww.perfect1.co.il%2F/searchAnalytics/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Get GSC Token').first().json.access_token }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"startDate\": \"{{ $now.minus({days: 30}).toFormat('yyyy-MM-dd') }}\",\n  \"endDate\": \"{{ $now.minus({days: 2}).toFormat('yyyy-MM-dd') }}\",\n  \"dimensions\": [\"page\", \"query\"],\n  \"rowLimit\": 5000,\n  \"dataState\": \"final\"\n}"
      }
    },
    {
      "id": "detect-cannibalization",
      "name": "Detect Cannibalization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.first().json.rows || [];\n\n// Group by query\nconst queryPages = {};\nfor (const row of rows) {\n  const query = row.keys[1];\n  const page = row.keys[0];\n  if (!queryPages[query]) queryPages[query] = [];\n  queryPages[query].push({\n    page,\n    clicks: row.clicks || 0,\n    impressions: row.impressions || 0,\n    position: row.position || 100\n  });\n}\n\n// Find cannibalized queries (2+ pages, at least one with 5+ impressions)\nconst cannibalized = [];\nfor (const [query, pages] of Object.entries(queryPages)) {\n  if (pages.length >= 2 && pages.some(p => p.impressions >= 5)) {\n    const totalImpressions = pages.reduce((s, p) => s + p.impressions, 0);\n    const totalClicks = pages.reduce((s, p) => s + p.clicks, 0);\n    cannibalized.push({\n      query,\n      pages: pages.sort((a, b) => a.position - b.position),\n      page_count: pages.length,\n      total_impressions: totalImpressions,\n      total_clicks: totalClicks,\n      severity: pages.length >= 3 ? 'high' : 'medium'\n    });\n  }\n}\n\n// Sort by total impressions desc, take top 20\ncannibalized.sort((a, b) => b.total_impressions - a.total_impressions);\nconst top20 = cannibalized.slice(0, 20);\n\nif (top20.length === 0) {\n  return [{ json: { query: '__no_results__', pages: [], total_impressions: 0, total_clicks: 0, severity: 'none', page_count: 0 } }];\n}\n\nreturn top20.map(c => ({ json: c }));"
      }
    },
    {
      "id": "filter-no-results",
      "name": "Filter No Results",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1320, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.query }}",
              "rightValue": "__no_results__",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "insert-opportunity",
      "name": "Insert to seo_opportunities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, -80],
      "parameters": {
        "method": "POST",
        "url": "https://rtlpqjqdmomyptcdkmrq.supabase.co/rest/v1/seo_opportunities",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo" },
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"opportunity_type\": \"high_imp_low_ctr\",\n  \"page_url\": {{ JSON.stringify($json.pages[0].page) }},\n  \"title\": {{ JSON.stringify('Cannibalization: \"' + $json.query + '\" on ' + $json.page_count + ' pages') }},\n  \"summary\": {{ JSON.stringify('Severity: ' + $json.severity + '. Pages: ' + $json.pages.map(p => p.page + ' (pos: ' + p.position.toFixed(1) + ', imp: ' + p.impressions + ')').join(' | ')) }},\n  \"priority_score\": {{ Math.min(100, Math.round($json.total_impressions / 10)) }},\n  \"status\": \"new\",\n  \"metadata\": {{ JSON.stringify({ cannibalization: true, query: $json.query, severity: $json.severity, pages: $json.pages, total_impressions: $json.total_impressions, total_clicks: $json.total_clicks }) }}\n}"
      }
    },
    {
      "id": "wait-all",
      "name": "Wait for All Inserts",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1760, 0],
      "parameters": {
        "mode": "waitForAll",
        "numberInputs": 2
      }
    },
    {
      "id": "log-run-success",
      "name": "Log Run Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 0],
      "parameters": {
        "method": "PATCH",
        "url": "=https://rtlpqjqdmomyptcdkmrq.supabase.co/rest/v1/seo_runs?id=eq.{{ $('Set Run ID').first().json.run_id }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo" },
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0bHBxanFkbW9teXB0Y2RrbXJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzQ2MywiZXhwIjoyMDkwNDQzNDYzfQ.nKtIxxVr2xQgAVMJkCaipzEIaO5LFT3ChU2mAIyxOzo" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"success\", \"completed_at\": \"{{ $now.toISO() }}\"}"
      }
    }
  ],
  "connections": {
    "Schedule - Wednesday 11:00": {
      "main": [[{ "node": "Log Run Start", "type": "main", "index": 0 }]]
    },
    "Log Run Start": {
      "main": [[{ "node": "Set Run ID", "type": "main", "index": 0 }]]
    },
    "Set Run ID": {
      "main": [[{ "node": "Get GSC Token", "type": "main", "index": 0 }]]
    },
    "Get GSC Token": {
      "main": [[{ "node": "GSC Page+Query Data", "type": "main", "index": 0 }]]
    },
    "GSC Page+Query Data": {
      "main": [[{ "node": "Detect Cannibalization", "type": "main", "index": 0 }]]
    },
    "Detect Cannibalization": {
      "main": [[{ "node": "Filter No Results", "type": "main", "index": 0 }]]
    },
    "Filter No Results": {
      "main": [
        [{ "node": "Insert to seo_opportunities", "type": "main", "index": 0 }],
        [{ "node": "Wait for All Inserts", "type": "main", "index": 1 }]
      ]
    },
    "Insert to seo_opportunities": {
      "main": [[{ "node": "Wait for All Inserts", "type": "main", "index": 0 }]]
    },
    "Wait for All Inserts": {
      "main": [[{ "node": "Log Run Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": []
}
